<div class="col-9 row p3 mt-2">
    <div class="col-md-6">
        <h4>Customer Buys</h4>
        <h5 class="border-bottom"></h5>
        <div class="mb-3">
            <label for="organizerMultiple">Select Product</label>
            <select class="form-select searchableSelect" id="" >
                <option value="">Select Product</option>
                <option>Product 1</option>
                <option>Product 2</option>
                <option>Product 3</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label" for="">Buying Quantity</label>
            <input class="form-control" id="" type="email" placeholder="4" />
        </div>
        <div class="mb-3">
            <label class="form-label" for="">Start Date Time</label>
            <input class="form-control datetimepicker" id="" type="text" placeholder="dd/mm/yyyy hour : minute" data-options='{"enableTime":true,"dateFormat":"d/m/y H:i","disableMobile":true}' />
        </div>
        <div class="mb-3">
            <label class="form-label" for="">End Date Time</label>
            <input class="form-control datetimepicker" id="" type="text" placeholder="dd/mm/yyyy hour : minute" data-options='{"enableTime":true,"dateFormat":"d/m/y H:i","disableMobile":true}' />
        </div>
    </div>
    <div class="col-md-6">
        <h4>Customer Gets</h4>
        <h5 class="border-bottom"></h5>
        <div class="mb-3">
            <label for="organizerMultiple">Select Product</label>
            <select class="form-select searchableSelect" id="" >
                <option value="">Select Product</option>
                <option>Product 1</option>
                <option>Product 2</option>
                <option>Product 3</option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label" for="">Discount %</label>
            <input class="form-control" id="" type="text" placeholder="25%" />
        </div>
        <div class="mb-3">
            <label class="form-label" for="">Maximum time to get this offer</label>
            <input class="form-control" id="" type="email" placeholder="2" />
        </div>
        <div class="mb-3 end-0">
            <div class="d-flex justify-content-end">
                <button class="btn btn-sm btn-primary px-4 ms-2" type="button" data-list-pagination="next"><span>Create</span></button>
            </div>
        </div>

    </div>
</div>