@model GCTL_App.ViewModels.Security.UserProfileViewModel
<!-- Form Start -->
<form asp-controller="UserProfile" asp-action="ChangePassword" method="post" novalidate>
    @Html.AntiForgeryToken()

    <!-- Current Password -->
    <div class="mb-3 text-start position-relative">
        <label class="form-label" for="oldPassword">Current Password</label>
        <div class="form-icon-container">
            <input asp-for="PasswordRequest.OldPassword" class="form-control form-icon-input" placeholder="Enter current password" />
            <span class="fas fa-lock text-body fs-9 form-icon"></span>
        </div>
        <span asp-validation-for="PasswordRequest.OldPassword" class="text-danger position-absolute end-0 small"></span>
    </div>

    <!-- New Password -->
    <div class="mb-3 text-start position-relative">
        <label class="form-label" for="newPassword">New Password</label>
        <div class="form-icon-container" data-password="data-password">
            <input asp-for="PasswordRequest.NewPassword" class="form-control form-icon-input pe-6" placeholder="Enter new password" />
            <span class="fas fa-key text-body fs-9 form-icon"></span>
            <button type="button" class="btn px-3 py-0 h-100 position-absolute top-0 end-0 fs-7 text-body-tertiary" data-password-toggle="data-password-toggle">
                <span class="uil uil-eye show"></span>
                <span class="uil uil-eye-slash hide"></span>
            </button>
        </div>
        <span asp-validation-for="PasswordRequest.NewPassword" class="text-danger position-absolute end-0 small"></span>
    </div>

    <!-- Confirm Password -->
    <div class="mb-3 text-start position-relative">
        <label class="form-label" for="confirmNewPassword">Confirm New Password</label>
        <div class="form-icon-container" data-password="data-password">
            <input asp-for="PasswordRequest.ConfirmPassword" class="form-control form-icon-input pe-6" placeholder="Confirm new password" />
            <span class="fas fa-key text-body fs-9 form-icon"></span>
            <button type="button" class="btn px-3 py-0 h-100 position-absolute top-0 end-0 fs-7 text-body-tertiary" data-password-toggle="data-password-toggle">
                <span class="uil uil-eye show"></span>
                <span class="uil uil-eye-slash hide"></span>
            </button>
        </div>
        <span asp-validation-for="PasswordRequest.ConfirmPassword" class="text-danger position-absolute end-0 small"></span>
    </div>

    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary w-100">Change Password</button>
</form>
<!-- Form End -->