@model GCTL.Core.ViewModels.CRM.AddTeamVM
<style>
    .form-multi-select-input-group{
        height: 47px;
        border-color: rgb(203, 208, 221);
    }
</style>

<div></div>
<div class="row justify-content-center">
    <div class="col-8">
        <div class="card p-2">
            <div class="row">
                <input type="hidden" asp-for="TeamID" />
                <div class="flatpickr-input-container col-md-6">
                    <div class="form-floating">
                        <input class="form-control" type="text" asp-for="TeamName" placeholder="@Html.SmartLocalize("Team Name")" />
                        <label class="req" asp-for="TeamName"></label>
                    </div>
                    <span id="nameError" class="text-danger" style="display:none;"></span>
                </div>
                <div class="flatpickr-input-container col-md-6">
                    <div class="mb-3">
                        <div class="form-floating">
                            <select class="form-multi-select coreUiDD"
                                    asp-for="EmployeeIds"
                                    multiple
                                    data-coreui-selection-type="counter"
                                    data-coreui-search="true"
                                    data-coreui-placeholder="Select Team Members...">
                            </select>
                            @* <span asp-validation-for="EmployeeIds" id="OrganizationIDsError" class="text-danger" style="display:none;"></span> *@

                        </div>

                    </div>
                </div>

            </div>

            <div class="d-flex justify-content-end">
                <div id="btnDiv" class="d-flex justify-content-end pe-2"><button type="submit" id="resetTeamBtn" class="btn btn-primary">Reset</button></div>
                <div id="btnDiv" class="d-flex justify-content-end"><button type="submit" id="CreateTeamBtn" class="btn btn-primary">Create Team</button></div>
            </div>
        </div>
    </div>
</div>
    
