@model GCTL_App.ViewModels.AddTeam.AddTeamPageVM

<style>
    #addTeam-edit:hover span {
        text-decoration: underline;
        color: blue;
    }

    /* team card desing */
    /* Hover effect for cards */
    .hover-shadow:hover {
        transform: translateY(-5px);
        transition: 0.3s;
        box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    }

    /* Wrap badges nicely */
    .badge {
        font-size: 0.85rem;
        padding: 0.45em 0.65em;
    }
</style>
<div style="">
    <nav class="mb-3 crm-deals-breadcrumb" aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item active"><h2>Add CRM Team</h2></li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-12">
            <div class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-body-emphasis border-top">
            </div>
        </div>
    </div>

    <div class="mt-4 mx-lg-n4">
        <div class="row g-4 justify-content-center">
            <div class="col-md-12">
                <partial name="_Form" model="Model.Setup" />
            </div>

            <div class="col-md-12">
                <partial name="_Table" />
            </div>
        </div>
    </div>

    <partial name="_ConfirmDelete" />

</div>

@section Scripts{
<script src="~/js/pages/CRM/addTeam.js"></script>
}