<style>

    #hiddenDiv {
        display: none; /* Initially hidden */
    }

    #div2 {
        display: none;
    }

    .disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    .shift-cell {
        position: relative;
    }

    .add-shift-btn {
        display: none;
        align-items: center;
    }

    .shift-cell:hover .add-shift-btn {
        display: block;
        background-color: white;
        color: black;
        margin: 5px auto;
    }

    .add-shift-btn2 {
        display: none;
        align-items: center;
    }

    .startTime:hover .add-shift-btn2 {
        display: block;
        background-color: white;
        color: black;
        margin: 5px;
    }

    .table-container {
        display: none; /* Hide all tables by default */
    }

</style>

<!-- Cancel Modal -->
<div class="modal fade" id="cancel_modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <span class="avatar avatar-xl bg-transparent-danger text-danger mb-1">
                    <i class="fa fa-x fs-5"></i>
                </span>
                <h4 class="mb-1">Confirm Cancel</h4>

                <div class="col-md-12 me-4">
                    <div class="mb-3">

                        <input class="form-control datetimepicker" type="text" placeholder="Select Cancel Date" data-input>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <a href="javascript:void(0);" class="btn btn-light me-3" data-bs-dismiss="modal">Cancel</a>
                    <a href="assign-roster-ui.html" class="btn btn-danger">Yes, Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Cancel Modal -->
<!-- Add Spiral Pattern -->
<div class="modal fade" id="add_roster">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Assign Spiral Pattern</h4>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="">
                <div class="modal-body pb-0">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="organizerSingle">Company Name</label>
                                <select class="form-select" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                                    <option value="">Select Company...</option>
                                    <option>CSL</option>
                                    <option>GCTL</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">

                                <label class="form-label" for="organizerSingle">Select Department</label>
                                <select class="form-multi-select" id="multiple-department-select" multiple data-coreui-selection-type="counter" data-coreui-search="true">
                                    <option value="0">Software Developer</option>
                                    <option value="1">Software Designer</option>
                                    <option value="2">Finance</option>
                                    <option value="3">IT Manager</option>
                                </select>
                            </div>
                        </div>


                        <div class="col-md-12">
                            <div class="mb-3">



                                <label class="form-label" for="organizerSingle">Employee</label>
                                <select class="form-multi-select" id="multiple-employee-select" multiple data-coreui-selection-type="counter" data-coreui-search="true">
                                    <optgroup label="Developer">
                                        <option>Hasan Ali (101)</option>
                                        <option>Rana Hamid (102)</option>
                                        <option>Abbas Uddin (103)</option>
                                        <option>Korim (104)</option>
                                    </optgroup>
                                    <optgroup label="Designer">
                                        <option>Hasan Mahmud (201)</option>
                                        <option>Jueal Rana (202)</option>
                                        <option>Kolim Ullah (203)</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="organizerSingle">Spiral Pattern Type</label>
                                <select class="form-select" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                                    <option value="">Spiral Pattern Type...</option>
                                    <option>Weekly</option>
                                    <option>Bi-Weekly</option>
                                    <option>Monthly</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="organizerSingle">Spiral Pattern Name</label>
                                <select class="form-select" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                                    <option value="">Select Roster...</option>
                                    <option>Spiral Pattern 1</option>
                                    <option>Spiral Pattern 2</option>
                                    <option>Spiral Pattern 3</option>
                                    <option>Spiral Pattern 4</option>
                                </select>
                            </div>
                        </div>



                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Start Date</label>
                                <input class="form-control datetimepicker" id="datepicker" type="text" placeholder="dd/mm/yyyy" data-options='{"disableMobile":true,"dateFormat":"d/m/Y"}' />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Start Date</label>
                                <input class="form-control datetimepicker" id="datepicker" type="text" placeholder="dd/mm/yyyy" data-options='{"disableMobile":true,"dateFormat":"d/m/Y"}' />
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Add Spiral Pattern -->
<!-- Spiral Pattern Details -->
<div class="modal fade" id="spiral_pattern_details">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Spiral Pattern Details</h4>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="shift-roster-ui.html">
                <div class="modal-body pb-0">
                    <div class="table-responsive scrollbar mx-n1 px-1">
                        <div id="biweekly" class=" my-4">
                            <table class="table table-bordered table-sm fs-9 leads-table" style="text-align: center;">
                                <thead>

                                    <tr>
                                        <th class=" align-middle ps-3 pe-5 text-uppercase text-nowrap">Spiral Pattern Name</th>
                                        <th>Day 01</th>
                                        <th>Day 02</th>
                                        <th>Day 03</th>
                                        <th>Day 04</th>
                                        <th>Day 05</th>
                                        <th>Day 06</th>
                                        <th>Day 07</th>
                                        <th>Day 08</th>
                                        <th>Day 09</th>
                                        <th>Day 10</th>
                                        <th>Day 11</th>
                                        <th>Day 12</th>
                                        <th>Day 13</th>
                                        <th>Day 14</th>
                                    </tr>

                                </thead>
                                <tbody class="list" id="rosterTable" id="purchasers-sellers-body">


                                    <tr class="hover-actions-trigger btn-reveal-trigger position-static">

                                        <td class="empName align-middle white-space-nowrap fw-semibold text-body-emphasis ps-2 py-2">
                                            <h6>Spiral Pattern 1</h6>
                                        </td>

                                        <td class="startTime py-1">
                                            <div class="badge  badge-phoenix-primary  p-2">
                                                <p class="my-2 fs-10">10:00 - 18:00</p>
                                                <div class="add-shift-btn2">
                                                    <a href="#" class="nav-item mx-2 " data-bs-toggle="modal" data-bs-target="#editShiftModal">
                                                        <i class="fas fa-edit text-success"></i>
                                                    </a>
                                                    <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#delete_modal">
                                                        <i class="fas fa-trash text-danger"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="startTime py-1">
                                            <div class="badge  badge-phoenix-primary  p-2">
                                                <p class="my-2 fs-10">09:00 - 17:00</p>
                                                <div class="add-shift-btn2">
                                                    <a href="#" class="nav-item mx-2 " data-bs-toggle="modal" data-bs-target="#editShiftModal">
                                                        <i class="fas fa-edit text-success"></i>
                                                    </a>
                                                    <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#delete_modal">
                                                        <i class="fas fa-trash text-danger"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="startTime py-1">
                                            <div class="badge  badge-phoenix-primary  p-2">
                                                <p class="my-2 fs-10">Off Day</p>
                                                <div class="add-shift-btn2">
                                                    <a href="#" class="nav-item mx-2 " data-bs-toggle="modal" data-bs-target="#editShiftModal">
                                                        <i class="fas fa-edit text-success"></i>
                                                    </a>
                                                    <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#delete_modal">
                                                        <i class="fas fa-trash text-danger"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="startTime py-1">
                                            <div class="badge  badge-phoenix-primary  p-2">
                                                <p class="my-2 fs-10">15:00 - 23:00</p>
                                                <div class="add-shift-btn2">
                                                    <a href="#" class="nav-item mx-2 " data-bs-toggle="modal" data-bs-target="#editShiftModal">
                                                        <i class="fas fa-edit text-success"></i>
                                                    </a>
                                                    <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#delete_modal">
                                                        <i class="fas fa-trash text-danger"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="startTime py-1">
                                            <div class="badge  badge-phoenix-primary  p-2">
                                                <p class="my-2 fs-10">09:00 - 17:00</p>
                                                <div class="add-shift-btn2">
                                                    <a href="#" class="nav-item mx-2 " data-bs-toggle="modal" data-bs-target="#editShiftModal">
                                                        <i class="fas fa-edit text-success"></i>
                                                    </a>
                                                    <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#delete_modal">
                                                        <i class="fas fa-trash text-danger"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="startTime py-1">
                                            <div class="badge  badge-phoenix-primary  p-2">
                                                <p class="my-2 fs-10">11:00 - 19:00</p>
                                                <div class="add-shift-btn2">
                                                    <a href="#" class="nav-item mx-2 " data-bs-toggle="modal" data-bs-target="#editShiftModal">
                                                        <i class="fas fa-edit text-success"></i>
                                                    </a>
                                                    <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#delete_modal">
                                                        <i class="fas fa-trash text-danger"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="startTime py-1">
                                            <div class="badge  badge-phoenix-primary  p-2">
                                                <p class="my-2 fs-10">09:00 - 17:00</p>
                                                <div class="add-shift-btn2">
                                                    <a href="#" class="nav-item mx-2 " data-bs-toggle="modal" data-bs-target="#editShiftModal">
                                                        <i class="fas fa-edit text-success"></i>
                                                    </a>
                                                    <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#delete_modal">
                                                        <i class="fas fa-trash text-danger"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="startTime py-1">
                                            <div class="badge  badge-phoenix-primary  p-2">
                                                <p class="my-2 fs-10">10:00 - 18:00</p>
                                                <div class="add-shift-btn2">
                                                    <a href="#" class="nav-item mx-2 " data-bs-toggle="modal" data-bs-target="#editShiftModal">
                                                        <i class="fas fa-edit text-success"></i>
                                                    </a>
                                                    <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#delete_modal">
                                                        <i class="fas fa-trash text-danger"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="startTime py-1">
                                            <div class="badge  badge-phoenix-primary  p-2">
                                                <p class="my-2 fs-10">09:00 - 17:00</p>
                                                <div class="add-shift-btn2">
                                                    <a href="#" class="nav-item mx-2 " data-bs-toggle="modal" data-bs-target="#editShiftModal">
                                                        <i class="fas fa-edit text-success"></i>
                                                    </a>
                                                    <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#delete_modal">
                                                        <i class="fas fa-trash text-danger"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="startTime py-1">
                                            <div class="badge  badge-phoenix-primary  p-2">
                                                <p class="my-2 fs-10">Off Day</p>
                                                <div class="add-shift-btn2">
                                                    <a href="#" class="nav-item mx-2 " data-bs-toggle="modal" data-bs-target="#editShiftModal">
                                                        <i class="fas fa-edit text-success"></i>
                                                    </a>
                                                    <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#delete_modal">
                                                        <i class="fas fa-trash text-danger"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="startTime py-1">
                                            <div class="badge  badge-phoenix-primary  p-2">
                                                <p class="my-2 fs-10">15:00 - 23:00</p>
                                                <div class="add-shift-btn2">
                                                    <a href="#" class="nav-item mx-2 " data-bs-toggle="modal" data-bs-target="#editShiftModal">
                                                        <i class="fas fa-edit text-success"></i>
                                                    </a>
                                                    <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#delete_modal">
                                                        <i class="fas fa-trash text-danger"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="startTime py-1">
                                            <div class="badge  badge-phoenix-primary  p-2">
                                                <p class="my-2 fs-10">09:00 - 17:00</p>
                                                <div class="add-shift-btn2">
                                                    <a href="#" class="nav-item mx-2 " data-bs-toggle="modal" data-bs-target="#editShiftModal">
                                                        <i class="fas fa-edit text-success"></i>
                                                    </a>
                                                    <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#delete_modal">
                                                        <i class="fas fa-trash text-danger"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="startTime py-1">
                                            <div class="badge  badge-phoenix-primary  p-2">
                                                <p class="my-2 fs-10">11:00 - 19:00</p>
                                                <div class="add-shift-btn2">
                                                    <a href="#" class="nav-item mx-2 " data-bs-toggle="modal" data-bs-target="#editShiftModal">
                                                        <i class="fas fa-edit text-success"></i>
                                                    </a>
                                                    <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#delete_modal">
                                                        <i class="fas fa-trash text-danger"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="startTime py-1">
                                            <div class="badge  badge-phoenix-primary  p-2">
                                                <p class="my-2 fs-10">09:00 - 17:00</p>
                                                <div class="add-shift-btn2">
                                                    <a href="#" class="nav-item mx-2 " data-bs-toggle="modal" data-bs-target="#editShiftModal">
                                                        <i class="fas fa-edit text-success"></i>
                                                    </a>
                                                    <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#delete_modal">
                                                        <i class="fas fa-trash text-danger"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </form>
        </div>
    </div>
</div>

<!-- Edit Spiral Pattern -->
<div class="modal fade" id="edit_spiral_pattern">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Spiral Pattern</h4>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="">
                <div class="modal-body pb-0">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="organizerSingle">Company Name</label>
                                <select class="form-select" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                                    <option value="">Select Company...</option>
                                    <option>CSL</option>
                                    <option>GCTL</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">

                                <label class="form-label" for="organizerSingle">Select Department</label>
                                <select class="form-multi-select" id="multiple-department-select" multiple data-coreui-selection-type="counter" data-coreui-search="true">
                                    <option value="0">Software Developer</option>
                                    <option value="1">Software Designer</option>
                                    <option value="2">Finance</option>
                                    <option value="3">IT Manager</option>
                                </select>
                            </div>
                        </div>


                        <div class="col-md-12">
                            <div class="mb-3">



                                <label class="form-label" for="organizerSingle">Employee</label>
                                <select class="form-multi-select" id="multiple-employee-select" multiple data-coreui-selection-type="counter" data-coreui-search="true">
                                    <optgroup label="Developer">
                                        <option>Hasan Ali (101)</option>
                                        <option>Rana Hamid (102)</option>
                                        <option>Abbas Uddin (103)</option>
                                        <option>Korim (104)</option>
                                    </optgroup>
                                    <optgroup label="Designer">
                                        <option>Hasan Mahmud (201)</option>
                                        <option>Jueal Rana (202)</option>
                                        <option>Kolim Ullah (203)</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="organizerSingle">Spiral Pattern Type</label>
                                <select class="form-select" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                                    <option value="">Spiral Pattern Type...</option>
                                    <option>Weekly</option>
                                    <option>Bi-Weekly</option>
                                    <option>Monthly</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="organizerSingle">Spiral Pattern Name</label>
                                <select class="form-select" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                                    <option value="">Select Roster...</option>
                                    <option>Spiral Pattern 1</option>
                                    <option>Spiral Pattern 2</option>
                                    <option>Spiral Pattern 3</option>
                                    <option>Spiral Pattern 4</option>
                                </select>
                            </div>
                        </div>



                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Start Date</label>
                                <input class="form-control datetimepicker" id="datepicker" type="text" placeholder="dd/mm/yyyy" data-options='{"disableMobile":true,"dateFormat":"d/m/Y"}' />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Start Date</label>
                                <input class="form-control datetimepicker" id="datepicker" type="text" placeholder="dd/mm/yyyy" data-options='{"disableMobile":true,"dateFormat":"d/m/Y"}' />
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="mb-9 mt-4">
    <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between flex-wrap row-gap-3 mb-4">
            <h4 class="mb-1">Assign Spiral Pattern to Employee</h4>
        </div>

        <div class="border-translucent p-3">
            <form action="assign-roster-ui.html">
                <div class="modal-body pb-0">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="organizerSingle">Company Name</label>
                                <select class="form-multi-select" id="multiple-department-select" multiple data-coreui-selection-type="counter" data-coreui-search="true">
                                    <option value="">Select Company...</option>
                                    <option>CSL</option>
                                    <option>GCTL</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="mb-3">

                                <label class="form-label" for="organizerSingle">Select Department</label>
                                <select class="form-multi-select" id="multiple-department-select" multiple data-coreui-selection-type="counter" data-coreui-search="true">
                                    <option value="0">Software Developer</option>
                                    <option value="1">Software Designer</option>
                                    <option value="2">Finance</option>
                                    <option value="3">IT Manager</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="organizerSingle">Employee</label>
                                <select class="form-multi-select" id="multiple-employee-select" multiple data-coreui-selection-type="counter" data-coreui-search="true">
                                    <optgroup label="Developer">
                                        <option>Hasan Ali (101)</option>
                                        <option>Rana Hamid (102)</option>
                                        <option>Abbas Uddin (103)</option>
                                        <option>Korim (104)</option>
                                    </optgroup>
                                    <optgroup label="Designer">
                                        <option>Hasan Mahmud (201)</option>
                                        <option>Jueal Rana (202)</option>
                                        <option>Kolim Ullah (203)</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="organizerSingle">Spiral Patern Type</label>
                                <select class="form-select" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                                    <option value="">Patern Type...</option>
                                    <option>Weekly</option>
                                    <option>2 Week</option>
                                    <option>Monthly</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="organizerSingle">Spiral Patern Name</label>
                                <select class="form-select" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                                    <option value="">Select Patern...</option>
                                    <option>Patern 1</option>
                                    <option>Patern 2</option>
                                    <option>Patern 3</option>
                                    <option>Patern 4</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Start Date</label>
                                <input class="form-control datetimepicker" id="datepicker" type="text" placeholder="dd/mm/yyyy" data-options='{"disableMobile":true,"dateFormat":"d/m/Y"}' />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Start Date</label>
                                <input class="form-control datetimepicker" id="datepicker" type="text" placeholder="dd/mm/yyyy" data-options='{"disableMobile":true,"dateFormat":"d/m/Y"}' />
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="mb-9 mt-4">
    <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between flex-wrap row-gap-3 mb-4">
            <h4 class="mb-1">Assigned Employee Spiral Pattern List</h4>
            <div class="d-flex my-xl-auto right-content align-items-center flex-wrap row-gap-3">
                <div class="dropdown">
                    <a href="#" class="btn btn-primary d-flex align-items-center" data-bs-target="#add_roster"
                       data-bs-toggle="modal"><i class="fa fa-plus me-2"></i>Add Spiral Pattern to Employee</a>
                </div>
            </div>
            <div class="d-flex my-xl-auto right-content align-items-center flex-wrap row-gap-3">
                <div class="dropdown me-2">
                    <select class="form-select" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                        <option value="">Select Company...</option>
                        <option>CSL</option>
                        <option>GCTL</option>
                    </select>
                </div>

                <div class="dropdown me-2">
                    <select class="form-multi-select" id="multiple-dep-select" multiple data-coreui-selection-type="counter" data-coreui-search="true">
                        <option value="">Select Department</option>
                        <option>Developer</option>
                        <option>Designer</option>
                        <option>Finance</option>
                    </select>
                </div>

                <div class="dropdown me-2">
                    <select class="form-multi-select" id="multiple-emp-select" multiple data-coreui-selection-type="counter" data-coreui-search="true">
                        <optgroup label="Developer">
                            <option value="2">Alam</option>
                            <option value="3">Momin</option>
                        </optgroup>
                        <optgroup label="Designer">
                            <option value="4">Name (id)</option>
                            <option value="5">Name (id)</option>
                        </optgroup>
                    </select>
                </div>

                <div class="dropdown me-2">
                    <select class="form-select" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                        <option value="">Spiral Pattern Type...</option>
                        <option>Weekly</option>
                        <option>Bi-Weekly</option>
                        <option>Monthly</option>
                    </select>
                </div>

                <div class="dropdown me-2">
                    <select class="form-select" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                        <option value="">Spiral Pattern Name...</option>
                        <option>Spiral Pattern 1</option>
                        <option>Spiral Pattern 2</option>
                        <option>Spiral Pattern 3</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="border-translucent p-3">
            <div id="rosterListTable" data-list='{"valueNames":["compName","deptName","empName","rosterName","rosterType","startDate","endDate"],"page":2,"pagination":true}'>
                <div class="table-responsive scrollbar mx-n1 px-1">
                    <table class="table table-bordered table-sm fs-9 leads-table">
                        <thead>
                            <tr>
                                <th class=" align-middle ps-3 text-uppercase text-nowrap">Company Name</th>
                                <th class=" align-middle ps-3 text-uppercase text-nowrap">Department Name</th>
                                <th class=" align-middle ps-3 text-uppercase text-nowrap">Employee Name</th>
                                <th class=" align-middle ps-3 text-uppercase text-nowrap">Spiral Pattern Type</th>
                                <th class=" align-middle ps-3 text-uppercase text-nowrap">Spiral Pattern Name</th>
                                <th class=" align-middle ps-3 text-uppercase text-nowrap">Start Date</th>
                                <th class=" align-middle ps-3  text-uppercase text-nowrap">End Date</th>
                                <th class=" text-end align-middle pe-0 ps-5"></th>
                            </tr>
                        </thead>
                        <tbody class="list" id="roster-assign-employee">
                            <tr class="hover-actions-trigger btn-reveal-trigger position-static">

                                <td class="compName align-middle white-space-nowrap fw-semibold text-body py-2 ps-3">
                                    <h5>GCTL</h5>
                                </td>
                                <td class="deptName align-middle white-space-nowrap fw-semibold text-body py-2 ps-3">
                                    <h5>Developer</h5>
                                </td>
                                <td class="empName align-middle white-space-nowrap fw-semibold text-body py-2 ps-3">
                                    <h5>Md. Hasan</h5>
                                </td>
                                <td class="rosterName align-middle white-space-nowrap  fw-semibold text-body py-1 ps-3">
                                    <span>Weekly</span>
                                </td>
                                <td class="rosterName align-middle white-space-nowrap  fw-semibold text-body py-1 ps-3">
                                    <a href="#" class="nav-item mx-2 text-decoration-none" data-bs-toggle="modal" data-bs-target="#spiral_pattern_details">
                                        <span>Spiral Pattern 1</span>
                                    </a>
                                </td>

                                <td class="endDate py-1 ps-3">01 jan 2025</td>
                                <td class="endDate py-1 ps-3">01 jan 2026</td>

                                <td class="align-middle white-space-nowrap text-end pe-0 ps-3">
                                    <div class="btn-reveal-trigger position-static">
                                        <a href="#" class="text-decoration-none nav-item mx-2" data-bs-toggle="modal" data-bs-target="#edit_spiral_pattern">
                                            <i class="fas fa-edit text-success"></i>
                                        </a>
                                        <a href="#" class="text-decoration-none nav-item mx-2" data-bs-toggle="modal" data-bs-target="#cancel_modal">
                                            <i class="fas fa-x text-danger"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row align-items-center justify-content-between pe-0 fs-9">
                    <div class="col-auto d-flex">
                        <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p><a class="fw-semibold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semibold d-none" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                    </div>
                    <div class="col-auto d-flex">
                        <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                        <ul class="mb-0 pagination"></ul>
                        <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

