html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/*lead create page modal form styles*/


/*create lead customer command person modal */
.nav-tabs .nav-link.active {
    color: #0d6efd;
    border-color: #0d6efd;
    border-bottom: 1px solid #0d6efd;
}

.nav-tabs .nav-link {
    color: black;
    
}

.nav-tabs .nav-link:hover {
    border-color: #0d6efd;
    color: #0d6efd;
}
    .nav-tabs .nav-link {

    }
    .form-label.req::after {
        content: ' *';
        color: red;
    }

.input-icon-end {
    position: relative;
}

.input-icon-end .fa {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: #6c757d;
    pointer-events: none;
}

.card {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.readonly {
    background-color: #f8f9fa;
}

/*//create lead mobiel field css*/
#iti-0__dropdown-content,
#iti-2__dropdown-content,
#iti-1__dropdown-content,
#iti-3__dropdown-content,
#iti-4__dropdown-content {
    z-index: 111;
}
.iti--allow-dropdown {
    width: 100%;
}
.iti__tel-input {
    height: 46px;
}