
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="col-xl-3 col-md-6 mb-3">
    <div class="card">
        <div class="card-body">
            <div class="border-bottom mb-2 pb-2">
                <span class="fs-12  mb-3"><i class="fa fa-user-plus text-success"></i></span>
                <h2 class="my-2">125 / <span class="fs-20 text-gray-5"> 130</span></h2>
                <p class="fw-medium text-truncate">Total Employee Attend</p>
            </div>
            <div>
                <p class="d-flex align-items-center fs-13">
                    <i class="fa fa-arrow-up fs-12 me-2"></i>
                    <span>95% This Day</span>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="col-xl-3 col-md-6 mb-3">
    <div class="card">
        <div class="card-body">
            <div class="border-bottom mb-2 pb-2">
                <span class="fs-12  mb-3"><i class="fa fa-user text-danger"></i></span>
                <h2 class="my-2">25 / <span class="fs-20 text-gray-5"> 125</span></h2>
                <p class="fw-medium text-truncate">Late Entry</p>
            </div>
            <div>
                <p class="d-flex align-items-center fs-13">
                    <i class="fa fa-arrow-up fs-12 me-2"></i>
                    <span>20% This Day</span>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="col-xl-3 col-md-6 mb-3">
    <div class="card">
        <div class="card-body">
            <div class="border-bottom mb-2 pb-2">
                <span class="fs-12  mb-3"><i class="fa fa-user text-danger"></i></span>
                <h2 class="my-2">25 / <span class="fs-20 text-gray-5"> 125</span></h2>
                <p class="fw-medium text-truncate">Early Leave</p>
            </div>
            <div>
                <p class="d-flex align-items-center fs-13">
                    <i class="fa fa-arrow-up fs-12 me-2"></i>
                    <span>20% This Day</span>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="col-xl-3 col-md-6 mb-3">
    <div class="card">
        <div class="card-body">
            <div class="border-bottom mb-2 pb-2">
                <span class="fs-12  mb-3"><i class="fa fa-user-circle "></i></span>
                <h2 class="my-2">5 / <span class="fs-20 text-gray-5"> 135</span></h2>
                <p class="fw-medium text-truncate">Leave</p>
            </div>
            <div>
                <p class="d-flex align-items-center fs-13 text-truncate">
                    <i class="fa fa-arrow-down fs-12 me-2"></i>
                    <span>04% This Day</span>
                </p>
            </div>
        </div>
    </div>
</div>