
<div class="mb-2 mt-2">

    <div class="card">

        <div class="card-header ">
            <h4 class="mb-1">Add Employee Allowance</h4>

            <div class="">
                <form action="add-shift-ui.html" class="row g-3 mb-2">
                    <div class="col-md-4">

                        <div class="mb-3">
                            <div class="content-head d-flex justify-content-between align-items-center">
                                <label class="form-label" for="organizerSingle">Company Name</label>
                                <div class="form-check form-switch">
                                </div>
                            </div>
                            <select class="form-multi-select" id="multiple-select-tag" multiple
                                    data-coreui-selection-type="tags" data-coreui-search="true">
                                <option value="0">Select Company...</option>
                                <option value="1">CSL</option>
                                <option value="2">GCTL</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="mb-3">
                            <div class="content-head d-flex justify-content-between align-items-center">
                                <label class="form-label" for="timepicker1">Mobile/Internet Allowance</label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                </div>
                            </div>
                            <input class="form-control" id="" type="text" placeholder="Ex: 1000 tk Monthly">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="mb-3">
                            <div class="content-head d-flex justify-content-between align-items-center">
                                <label class="form-label" for="timepicker1">Shift Allowance</label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                </div>
                            </div>
                            <input class="form-control" id="" type="text" placeholder="Ex: 500 tk Per Night Shift">
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="mb-3">
                            <div class="content-head d-flex justify-content-between align-items-center border-bottom">
                                <h5>House Rent Allowance</h5>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="mb-3">
                            <label class="form-label" for="timepicker1">House Rent Allowance Rate</label>
                            <select class="form-select mb-3" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                                <option value="">Select %</option>
                                <option>35 %</option>
                                <option>40 %</option>
                                <option>45 %</option>
                                <option>50 %</option>
                                <option>60 %</option>
                                <option>70 %</option>
                                <option>100 %</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="mb-3">
                            <label class="form-label" for="timepicker1">Allowance Depends on</label>
                            <select class="form-select" id="organizerSingle" disabled data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                                <option value="">Select Salary...</option>
                                <option>Gross Salary</option>
                                <option selected>Basic Salary</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="mb-3">
                            <div class="content-head d-flex justify-content-between align-items-center border-bottom">
                                <h5>Medical Allowance</h5>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="mb-3">
                            <label class="form-label" for="timepicker1">Medical Allowance Rate</label>
                            <select class="form-select mb-3" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                                <option value="">Select %</option>
                                <option>8 %</option>
                                <option>10 %</option>
                                <option>15 %</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="mb-3">
                            <label class="form-label" for="timepicker1">Allowance Depends on</label>
                            <select class="form-select" id="organizerSingle" data-choices="data-choices" disabled data-options='{"removeItemButton":true,"placeholder":true}'>
                                <option value="">Select Salary...</option>
                                <option>Gross Salary</option>
                                <option selected>Basic Salary</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="mb-3">
                            <div class="content-head d-flex justify-content-between align-items-center border-bottom">
                                <h5>Conveyance Allowance</h5>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="mb-3">
                            <label class="form-label" for="timepicker1">Conveyance Allowance Rate</label>
                            <select class="form-select mb-3" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                                <option value="">Select %</option>
                                <option>8 %</option>
                                <option>10 %</option>
                                <option>15 %</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="mb-3">
                            <label class="form-label" for="timepicker1">Allowance Depends on</label>
                            <select class="form-select" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                                <option value="">Select Salary...</option>
                                <option>Gross Salary</option>
                                <option selected>Basic Salary</option>
                            </select>
                        </div>
                    </div>



                    <div class="col-12">
                        <div class="row g-3 justify-content-end">
                            <div class="col-auto">
                                <button class="btn btn-phoenix-primary px-5">Cancel</button>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-primary px-5 px-sm-15">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div class="card mt-4">

        <div class="card-header d-flex align-items-center justify-content-between flex-wrap row-gap-3 mb-4">
            <h4 class="mb-1">Employee Allowance</h4>
            <div class="d-flex my-xl-auto right-content align-items-center flex-wrap row-gap-3">


                <div class="dropdown me-3">
                    <select class="form-select" id="organizerSingle1" data-choices="data-choices" size="1" required="required" name="organizerSingle" data-options='{"removeItemButton":true,"placeholder":true}'>
                        <option value="">Company Name</option>
                        <option>GCTL</option>
                        <option>CSL</option>
                    </select>
                </div>


            </div>
        </div>

        <div class="border-translucent p-3">
            <div id="employeeListTable">

                <div class="table-responsive scrollbar mx-n1 px-1">
                    <table class="table table-bordered fs-9 leads-table " style="text-align:center;">
                        <thead>
                            <tr>

                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="companyName" rowspan="2">Company Name</th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="mobileAllowance" rowspan="2">Mobile/ Internet Allowance </th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="shiftAllowance" rowspan="2">Shift Allowance</th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="houseRent" colspan="2">House Rent</th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="medicalAllowance" colspan="2">Medical Allowance</th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="conveyanceAllowance" colspan="2">Conveyance Allowance</th>
                                <th class="align-middle pe-0 ps-5" scope="col" rowspan="2">Action </th>
                            </tr>
                            <tr>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="houseRentR">Rate</th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="houseRentS">Depends on</th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="medicalAllowanceR">Rate</th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="medicalAllowanceS">Depends on</th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="conveyanceAllowanceR">Rate</th>
                                <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="conveyanceAllowanceS">Depends on</th>
                            </tr>
                        </thead>
                        <tbody class="list" id="purchasers-sellers-body">
                            <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                                <td class="companyName align-middle white-space-nowrap ps-5 fw-semibold text-body py-1">
                                    <span>GCTL</span>
                                </td>

                                <td class="mobileAllowance align-middle white-space-nowrap ps-4 fw-semibold text-body py-1">1000 tk</td>
                                <td class="shiftAllowance align-middle white-space-nowrap ps-4 fw-semibold text-body py-1">500 tk</td>

                                <td class="houseRentR align-middle white-space-nowrap ps-4 fw-semibold text-body py-1">50 %</td>
                                <td class="houseRentS align-middle white-space-nowrap ps-4 fw-semibold text-body py-1">Basic Salary</td>

                                <td class="medicalAllowanceR align-middle white-space-nowrap ps-4 fw-semibold text-body py-1">10 %</td>
                                <td class="medicalAllowanceS align-middle white-space-nowrap ps-4 fw-semibold text-body py-1">Basic Salary</td>

                                <td class="conveyanceAllowanceR align-middle white-space-nowrap ps-4 fw-semibold text-body py-1">10 %</td>
                                <td class="conveyanceAllowanceS align-middle white-space-nowrap ps-4 fw-semibold text-body py-1">Basic Salary</td>


                                <td class="align-middle white-space-nowrap text-end pe-0 ps-4">
                                    <div class="btn-reveal-trigger position-static">
                                        <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#edit_alloance">
                                            <i class="fas fa-edit text-success"></i>
                                        </a>
                                        <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#delete_modal">
                                            <i class="fas fa-trash text-danger"></i>
                                        </a>

                                    </div>
                                </td>

                            </tr>



                        </tbody>
                    </table>
                </div>

                <div class="row align-items-center justify-content-between pe-0 fs-9">
                    <div class="col-auto d-flex">
                        <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p><a class="fw-semibold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semibold d-none" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                    </div>
                    <div class="col-auto d-flex">
                        <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                        <ul class="mb-0 pagination"></ul>
                        <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>


<!-- Edit shift -->
<div class="modal fade" id="edit_alloance">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Employee Allowance</h4>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="add-shift-ui.html" class="row g-3 mb-63">



                    <div class="col-md-4">

                        <div class="mb-3">
                            <div class="content-head d-flex justify-content-between align-items-center">
                                <label class="form-label" for="organizerSingle">Company Name</label>
                                <div class="form-check form-switch">
                                </div>
                            </div>
                            <select class="form-multi-select" id="multiple-select-tag" multiple
                                    data-coreui-selection-type="tags" data-coreui-search="true">
                                <option value="0">Select Company...</option>
                                <option value="1">CSL</option>
                                <option value="2">GCTL</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="mb-3">
                            <div class="content-head d-flex justify-content-between align-items-center">
                                <label class="form-label" for="timepicker1">Mobile/Internet Allowance</label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                </div>
                            </div>
                            <input class="form-control" id="" type="text" placeholder="Ex: 1000 tk Monthly">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="mb-3">
                            <div class="content-head d-flex justify-content-between align-items-center">
                                <label class="form-label" for="timepicker1">Shift Allowance</label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                </div>
                            </div>
                            <input class="form-control" id="" type="text" placeholder="Ex: 500 tk Per Night Shift">
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="mb-1">
                            <div class="content-head d-flex justify-content-between align-items-center border-bottom">
                                <h5>House Rent Allowance</h5>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="mb-3">
                            <label class="form-label" for="timepicker1">House Rent Allowance Rate</label>
                            <select class="form-select mb-3" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                                <option value="">Select %</option>
                                <option>35 %</option>
                                <option>40 %</option>
                                <option>45 %</option>
                                <option>50 %</option>
                                <option>60 %</option>
                                <option>70 %</option>
                                <option>100 %</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="mb-3">
                            <label class="form-label" for="timepicker1">Allowance Depends on</label>
                            <select class="form-select" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                                <option value="">Select Salary...</option>
                                <option>Gross Salary</option>
                                <option selected>Basic Salary</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="mb-1">
                            <div class="content-head d-flex justify-content-between align-items-center border-bottom">
                                <h5>Medical Allowance</h5>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="mb-1">
                            <label class="form-label" for="timepicker1">Medical Allowance Rate</label>
                            <select class="form-select mb-3" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                                <option value="">Select %</option>
                                <option>8 %</option>
                                <option>10 %</option>
                                <option>15 %</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="mb-3">
                            <label class="form-label" for="timepicker1">Allowance Depends on</label>
                            <select class="form-select" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                                <option value="">Select Salary...</option>
                                <option>Gross Salary</option>
                                <option selected>Basic Salary</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="mb-3">
                            <div class="content-head d-flex justify-content-between align-items-center border-bottom">
                                <h5>Conveyance Allowance</h5>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="mb-3">
                            <label class="form-label" for="timepicker1">Conveyance Allowance Rate</label>
                            <select class="form-select mb-3" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                                <option value="">Select %</option>
                                <option>8 %</option>
                                <option>10 %</option>
                                <option>15 %</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="mb-3">
                            <label class="form-label" for="timepicker1">Allowance Depends on</label>
                            <select class="form-select" id="organizerSingle" data-choices="data-choices" disabled data-options='{"removeItemButton":true,"placeholder":true}'>
                                <option value="">Select Salary...</option>
                                <option>Gross Salary</option>
                                <option selected>Basic Salary</option>
                            </select>
                        </div>
                    </div>



                    <div class="col-12">
                        <div class="row g-3 justify-content-end">
                            <div class="col-auto">
                                <button class="btn btn-phoenix-primary px-5">Cancel</button>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-primary px-5 px-sm-10">Save</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>