<!-- Edit Employes loan -->
<div class="modal fade" id="edit_employee_loan_early_payment">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Employes Loan</h4>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="payroll-loan-early-payment-ui.html" class="row g-3 mb-6">

                   @*  <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label" for="organizerSingle">Company Name</label>
                            <select class="form-multi-select" id="multiple-select-tag" multiple
                                    data-coreui-selection-type="tags" data-coreui-search="true">
                                <option value="0">Select Company...</option>
                                <option value="1">CSL</option>
                                <option value="2">GCTL</option>
                            </select>
                        </div>
                    </div> 

                     <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label" for="organizerSingle">Deparment</label>
                            <select class="form-multi-select" id="multiple-dep-select" multiple data-coreui-selection-type="counter" data-coreui-search="true">
                                <option value="">Select Department</option>
                                <option>Developer</option>
                                <option>Designer</option>
                                <option>Finance</option>
                            </select>
                        </div>
                    </div>


                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label" for="timepicker1">Employee Name</label>
                            <select class="form-select choiceDD" id="EmployeeEdit" asp-items="@ViewBag.EmployeeDDEditDD">
                                <option value="">Select Employee</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="mb-3">
                            <label class="form-label" for="timepicker1">Loan Amount</label>
                            <input class="form-control" id="timepicker1" type="text" placeholder="Ex: 50000" value="120000" disabled>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="mb-3">
                            <label class="form-label" for="timepicker1">Tenure Month</label>
                            <input class="form-control" id="timepicker1" type="text" placeholder="Ex: 50000" value="12 Month" disabled>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="mb-3">
                            <label class="form-label" for="timepicker1">Monthly EMI</label>
                            <input class="form-control" id="timepicker1" type="text" placeholder="Ex: 50000" value="10000 tk" disabled>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="mb-3">
                            <label class="form-label" for="timepicker1">Early Pay Amount</label>
                            <input class="form-control" id="timepicker1" type="text" placeholder="Ex: 50000">
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label" for="datepicker">Payment Date</label>
                            <input class="form-control datetimepicker flatpickr-input" id="datepicker" type="text" placeholder="dd/mm/yyyy" data-options="{&quot;disableMobile&quot;:true,&quot;dateFormat&quot;:&quot;d/m/Y&quot;}" readonly="readonly">

                        </div>
                    </div>

                    <div class="col-12">
                        <div class="row g-3 justify-content-end">
                            <div class="col-auto">
                                <button class="btn btn-phoenix-primary px-5">Cancel</button>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-primary px-5 px-sm-15">Save</button>
                            </div>
                        </div>
                    </div> *@

                    <div class="col-md-12">

                        <input id="LoanDetailsID"  type="hidden" />
                        <input id="LoanID" type="hidden" />
                        <div class="mb-3">
                            <label class="form-label" for="EmployeeEdit">Employee Name</label>
                            <select class="form-select choiceDD" id="EmployeeEdit" asp-items="@ViewBag.EmployeeDDEditDD">
                                <option value="">Select Employee</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="mb-3">
                            <label class="form-label" for="LoanAmountEdit">Loan Amount</label>
                            <input class="form-control" id="LoanAmountEdit" type="text" placeholder="Ex: 50000" disabled>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="mb-3">
                            <label class="form-label" for="TenureMonthEdit">Tenure Month</label>
                            <input class="form-control" id="TenureMonthEdit" type="text" placeholder="Ex: 12 Month" disabled>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="mb-3">
                            <label class="form-label" for="MonthlyEMIEdit">Monthly EMI</label>
                            <input class="form-control" id="MonthlyEMIEdit" type="text" placeholder="Ex: 10000 tk" disabled>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="mb-3">
                            <label class="form-label req" for="EarlyPayAmountEdit">Early Pay Amount</label>
                            <input class="form-control" id="EarlyPayAmountEdit" type="text" placeholder="Ex: 50000">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label req" for="PaymentDateTimeEdit">Payment Date</label>
                            <input class="form-control datetimepicker flatpickr-input" id="PaymentDateTimeEdit" type="text"   placeholder="dd/mm/yyyy"  readonly="readonly">
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="row g-3 justify-content-end">
                            <div class="col-auto">
                                <button type="button" class="btn btn-phoenix-primary px-5" id="CancelEdit">Cancel</button>
                            </div>
                            <div class="col-auto">
                                <button type="button" class="btn btn-primary px-5 px-sm-15" id="SaveEdit">Save</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>