<!-- Modal  for add shift  used-->
<div class="modal fade" id="addShiftModal" tabindex="-1" aria-labelledby="addShiftModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="shiftModalLabel">Add shift into Roster</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <div class="col-md">
                            <label class="form-label" id="AddShiftModal-ShiftID">Shift Name</label>
                            <select class="form-select" asp-items="@ViewBag.ShiftDD as SelectList" id="AddShiftModal-ShiftID">
                                <option value="">Select Shift...</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveShift">Save shift</button>
            </div>
        </div>
    </div>
</div>