@model GCTL_App.ViewModels.MenuTab.MenuTabPageVM

@{
    ViewData["Title"] = @Html.SmartLocalize("Menu Tab");
}

<div class="row g-2">
    <div class="col-12 col-md-7 col-xl-5 col-xxl-5">
        <partial name="_Form" model="Model.Setup" />
    </div>

    <div class="col-12 col-md-7 col-xl-7 col-xxl-7">
        <partial name="_Table" model="Model.List" />
    </div>
</div>

<partial name="_ConfirmDelete" />


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/pages/menutab/menutabs.js"></script>
    <script type="text/javascript">
        $(function () {
            var options = {
                baseUrl: '@Url.Action("", "MenuTabs")'
            };
            options.load = () => {

            };

            $.menutabs(options);
        });
    </script>
}