@{
    var activeTab = "SMSSetting";
}

<partial name="~/Views/Shared/AdminsettingsNavs/_NavSystemSettingsPartial.cshtml" model="activeTab" />

<div class="col-12 col-md-12 col-lg-12 ">


        
     
            <div class="col-xl-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="border-bottom mb-3 pb-3">
                            <h4>SMS Settings</h4>
                        </div>
                <form id="smsForm" asp-controller="SMSsetting" asp-action="Save" method="post">
                            <div class=" mb-3">

                                <div class="row">

                                    <div class="col-sm-6 col-md-6">
                                        <div class="mb-3">
                                    <label class="form-label" for="OrganizationID">Company Name</label>
                                    <select class="form-select choiceDD" asp-item="@ViewBag.OrganizationDD" id="OrganizationID" name="OrganizationID">
                                               
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="mb-3">
                                    <label class="form-label" for="ServerName">Server Name</label>
                                    <input class="form-control" id="exampleFormControlInput" type="text" name="ServerName" placeholder="Server Name" />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="mb-3">
                                    <label class="form-label" for="UserName">User Name</label>
                                    <input class="form-control" id="UserName" type="text" name="UserName" placeholder="User Name" />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="mb-3">
                                    <label class="form-label" for="Password">Password</label>
                                    <input class="form-control" id="Password" type="password" name="Password" placeholder="Password" />
                                        </div>
                                    </div>



                                    <div class="col-md-6">
                                        <div class="mb-3">
                                    <label class="form-label" for="Gateway">Gateway</label>
                                    <input class="form-control" id="GatewayId" name="Gateway" type="text" placeholder="Gateway" />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="mb-3">
                                    <label class="form-label" for="API">API</label>
                                    <input class="form-control" id="APIId" name="API" type="text" placeholder="API" />
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="mb-3">
                                    <label class="form-label" for="MobileNumber">Mobile</label>
                                    <input class="form-control" id="exampleFormControlInput" name="MobileNumber" type="text" placeholder="Mobile" />
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-md-6">
                                        <div class="mb-3">
                                    <label class="form-label" for="PriorityIndex">Priority</label>
                                    <select class="form-select choiceDD" id="PriorityIndexId">
                                                <option value="1">First Priority</option>
                                                <option value="2">Second Priority</option>
                                                <option value="3">Third Priority</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-md-6">
                                        <div class="mb-3">
                                    <label class="form-label" for="IsActive">Status</label>
                                    <select class="form-select choiceDD" id="IsActiveId">
                                                <option value="true">Active</option>
                                                <option value="false">Inactive</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="d-flex align-items-center justify-content-end">
                                <button type="button" class="btn btn-light border me-3">Reset</button>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>


                  


                
            </div>

        </div>


<partial name="_ConfirmDelete" />
<script src="~/js/pages/adminsettings/systemsettings/smsconfigsettings.js"></script>