<div class="mb-3 border-bottom">
    <h4>Cash Payment</h4>
</div>

<div class="tab-content mt-3">
    <div class="col-xl-10">
        <form action="" class="row">

            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label" for="">Mayment No</label>
                    <input class="form-control" id="" type="text" placeholder="e.g. CR-2025-001" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label" for="">Customer ID</label>
                    <input class="form-control" id="" type="text" placeholder="e.g. CR-2025-001" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label" for="">Payment Date</label>
                    <input class="form-control datetimepicker" id="" type="text" placeholder="dd/mm/yyyy" data-options='{"disableMobile":true,"dateFormat":"d/m/Y"}' />
                </div>
            </div>

            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label" for="">Payment Type</label>
                    <select class="form-select " id="">
                        <option selected>Select Payment Type</option>
                        <option value="Draft">Supplier</option>
                        <option value="Posted">Employee</option>
                        <option value="Reversed">Other</option>
                    </select>
                </div>
            </div>

            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label" for="">Payment Mode</label>
                    <select class="form-select " id="">
                        <option selected>Select Payment Mode</option>
                        <option value="Draft">CashReceipt</option>
                        <option value="Posted">Cheque</option>
                        <option value="Reversed">Bank Transfer</option>
                        <option value="Reversed">Mobile Payment</option>
                    </select>
                </div>
            </div>

            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label" for="">Amount Paid</label>
                    <input class="form-control" id="" type="text" placeholder="20000" />
                </div>
            </div>


            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label" for="">Created By</label>
                    <select class="form-select " id="">
                        <option selected>Select Employee</option>
                        <option value="Draft">Employee 1</option>
                        <option value="Posted">Employee 2</option>
                        <option value="Reversed">Employee 3</option>
                    </select>
                </div>
            </div>

            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label" for="">Debit Amount</label>
                    <input class="form-control" id="" type="text" placeholder="20000" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label" for="">Credit Amount</label>
                    <input class="form-control" id="" type="text" placeholder="20000" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label" for="">Customer Id</label>
                    <input class="form-control" id="" type="text" placeholder="20000" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label" for="">Supplier Id</label>
                    <input class="form-control" id="" type="text" placeholder="20000" />
                </div>
            </div>

            <div class="col-md-12">
                <div class="mb-3">
                    <label class="form-label" for="">Note</label>
                    <textarea class="form-control" id="" rows="2" placeholder="Note"> </textarea>
                </div>
            </div>


            <div class="col-xl-12 mb-3">
                <div class="d-flex justify-content-end">
                    <a class="btn btn-secondary me-2"> Cancel</a>
                    <a class="btn btn-primary " href=""> Save</a>
                </div>
            </div>
        </form>
    </div>
</div>