


    <div class="d-flex mb-5 pt-3" id="scrollspyEcommerce">
        <span class="fa-stack me-2 ms-n1"><i class="fas fa-circle fa-stack-2x text-primary"></i><i class="fa-inverse fa-stack-1x text-primary-subtle fas fa-cart-plus" data-fa-transform="shrink-4"></i></span>
        <div class="col">
            <h3 class="mb-0 text-primary position-relative fw-bold"><span class="bg-body pe-2">Waiting for Approval</span><span class="border border-primary position-absolute top-50 translate-middle-y w-100 start-0 z-n1"></span></h3>
            <!-- <p class="mb-0">Find more cards which are dedicatedly made for E-commerce.</p> -->
        </div>
    </div>



    <div class="px-4 px-lg-6">
        <div class="mb-9">
            <div id="projectSummary" data-list='{"valueNames":["productFor","reqBy","purpose","type","productName","productCatagory","reqDate","productUnits","productInStock","productReqQuantity","productApprovedQuantity","approvalStatus"],"page":3,"pagination":true}'>

                <div class="row g-3 justify-content-between align-items-end mb-4">

                    <div class="col-12 col-sm-auto">
                        <ul class="nav nav-links mx-n2">
                            <li class="nav-item me-3">
                                <select class="form-select" id="" required>
                                    <option selected="selected">Project Name</option>
                                    <option value="1">Project 1</option>
                                    <option value="2">Project 2</option>
                                </select>
                            </li>
                            <li class="nav-item me-3">
                                <select class="form-select" id="" required>
                                    <option selected="selected">Product Type</option>
                                    <option value="1">Suttering Materials</option>
                                    <option value="2">Hardware Materials</option>
                                </select>
                            </li>
                            <li class="nav-item me-3">
                                <select class="form-select" id="" required>
                                    <option selected="selected">Product Name</option>
                                    <option value="1">Gorjun Dasa</option>
                                    <option value="2">Vibrator Motor</option>
                                </select>
                            </li>
                        </ul>
                    </div>

                    <div class="col-12 col-sm-auto">
                        <div class="d-flex align-items-center">
                            <div class="search-box me-3">
                                <form class="position-relative">
                                    <input class="form-control search-input search" type="search" placeholder="Search projects" aria-label="Search" />
                                    <span class="fas fa-search search-box-icon"></span>
                                </form>
                            </div>
                            <button class="btn px-3 btn-phoenix-secondary" type="button" data-bs-toggle="modal" data-bs-target="#reportsFilterModal" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
                                <span class="fa-solid fa-filter text-primary" data-fa-transform="down-3"></span>
                            </button>
                        </div>
                    </div>

                </div>
                <div class="table-responsive ms-n1 ps-1 scrollbar">
                    <table class="table fs-9 mb-0 border-top border-translucent">
                        <thead>
                            <tr>
                                <th class="white-space-nowrap fs-9 align-middle ps-0">
                                    <div class="form-check mb-0 fs-8">
                                        <input class="form-check-input" type="checkbox" data-bulk-select='{"body":"product-Requisition-table"}' />
                                    </div>
                                </th>
                                <th class="sort white-space-nowrap align-middle ps-0" scope="col" data-sort="reqId">ID</th>
                                <th class="sort white-space-nowrap align-middle ps-2" scope="col" data-sort="productName">Product Name</th>
                                <th class="sort white-space-nowrap align-middle ps-2" scope="col" data-sort="productFor">Product Requested By</th>
                                <th class="sort white-space-nowrap align-middle ps-2" scope="col" data-sort="purpose">Project</th>
                                <th class="sort white-space-nowrap align-middle ps-2" scope="col" data-sort="type">Type</th>
                                <th class="sort white-space-nowrap align-middle ps-2" scope="col" data-sort="reqDate">Requested</br>Date</th>
                                <th class="sort white-space-nowrap align-middle ps-2" scope="col" data-sort="productUnits">Units</th>
                                <th class="sort white-space-nowrap align-middle ps-2" scope="col" data-sort="productInStock">In Stock</th>
                                <th class="sort white-space-nowrap align-middle ps-2" scope="col" data-sort="productInStock">Unused</th>
                                <th class="sort white-space-nowrap align-middle ps-2" scope="col" data-sort="productReqQuantity">Requisition</br>Quantity</th>
                                <th class="sort white-space-nowrap align-middle ps-2" scope="col" data-sort="productApprovedQuantity">Approved</br>Quantity</th>
                                <th class="sort align-middle text-end" scope="col" style="width:100px;"></th>
                            </tr>
                        </thead>
                        <tbody class="list" id="product-Requisition-history-table">

                            <tr class="position-static">
                                <th class="white-space-nowrap fs-9 align-middle ps-0">
                                    <div class="form-check mb-0 fs-8">
                                        <input class="form-check-input" type="checkbox" data-bulk-select='{"body":"product-Requisition-table"}' />
                                    </div>
                                </th>
                                <td class="align-middle white-space-nowrap ps-0 reqId">#req9849</td>
                                <td class="align-middle white-space-nowrap ps-2 productName">Props Top</td>
                                <td class="align-middle white-space-nowrap ps-2 productFor">Supervisor 1</td>
                                <td class="align-middle white-space-nowrap ps-2 purpose">Project 2</td>
                                <td class="align-middle white-space-nowrap ps-2 type">Suttering Materials</td>
                                <td class="align-middle white-space-nowrap ps-2 reqBy">10 Apr, 2025</td>
                                <td class="align-middle white-space-nowrap ps-2 productUnits">Pic</td>
                                <td class="align-middle white-space-nowrap ps-2 productInStock">450</td>
                                <td class="align-middle white-space-nowrap ps-2 productReqQuantity">760</td>
                                <td class="align-middle white-space-nowrap ps-2 productReqQuantity">1000</td>
                                <td class="align-middle white-space-nowrap ps-2 productApprovedQuantity">
                                    <a class="" type="button" data-bs-toggle="modal" data-bs-target="#ApprovedQuantity">Approved Quantity</a>

                                </td>
                                <td class="align-middle text-end white-space-nowrap pe-2 action">
                                    <div class="d-flex g-3">
                                        <button class="btn btn-phoenix-secondary btn-icon me-2 fs-8 text-success" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Approved"><span class="far fa-check-square"></span></button>
                                        <button class="btn btn-phoenix-secondary btn-icon fs-8 text-danger " data-bs-toggle="tooltip" data-bs-placement="top" title="Decline"><span class="far fa-window-close"></span></button>
                                    </div>
                                </td>
                            </tr>

                            <tr class="position-static">
                                <th class="white-space-nowrap fs-9 align-middle ps-0">
                                    <div class="form-check mb-0 fs-8">
                                        <input class="form-check-input" type="checkbox" data-bulk-select='{"body":"product-Requisition-table"}' />
                                    </div>
                                </th>
                                <td class="align-middle white-space-nowrap ps-0 reqId">#req9849</td>
                                <td class="align-middle white-space-nowrap ps-2 productName">1700 Scafolding</td>
                                <td class="align-middle white-space-nowrap ps-2 productFor">Supervisor 1</td>
                                <td class="align-middle white-space-nowrap ps-2 purpose">Project 2</td>
                                <td class="align-middle white-space-nowrap ps-2 type">Suttering Materials</td>
                                <td class="align-middle white-space-nowrap ps-2 reqBy">10 Apr, 2025</td>
                                <td class="align-middle white-space-nowrap ps-2 productUnits">Pic</td>
                                <td class="align-middle white-space-nowrap ps-2 productInStock">450</td>
                                <td class="align-middle white-space-nowrap ps-2 productReqQuantity">760</td>
                                <td class="align-middle white-space-nowrap ps-2 productReqQuantity">400</td>
                                <td class="align-middle white-space-nowrap ps-2 productApprovedQuantity">
                                    <!-- <span>Warehouse 1: 300</span> <br>
                                    <span>Project 1: 50</span> <br>
                                    <span>Project 3: 100</span> <br>
                                    <span>Project 4: 50</span><br> -->
                                    <span class="fw-bold">Approved: 400</span> <a data-bs-toggle="modal" data-bs-target="#ApprovedTransferDetails" data-bs-toggle="tooltip" data-bs-placement="top" title="Click to Show Transfer Details"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                                </td>
                                <td class="align-middle text-end white-space-nowrap pe-2 action">
                                    <div class="d-flex g-3">
                                        <button class="btn btn-phoenix-secondary btn-icon me-2 fs-8 text-success" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Approved"><span class="far fa-check-square"></span></button>
                                        <button class="btn btn-phoenix-secondary btn-icon fs-8 text-danger " data-bs-toggle="tooltip" data-bs-placement="top" title="Decline"><span class="far fa-window-close"></span></button>
                                    </div>
                                </td>
                            </tr>

                            <tr class="position-static">
                                <th class="white-space-nowrap fs-9 align-middle ps-0">
                                    <div class="form-check mb-0 fs-8">
                                        <input class="form-check-input" type="checkbox" data-bulk-select='{"body":"product-Requisition-table"}' />
                                    </div>
                                </th>
                                <td class="align-middle white-space-nowrap ps-0 reqId">#req9849</td>
                                <td class="align-middle white-space-nowrap ps-2 productName">1200 Scafolding</td>
                                <td class="align-middle white-space-nowrap ps-2 productFor">Supervisor 1</td>
                                <td class="align-middle white-space-nowrap ps-2 purpose">Project 2</td>
                                <td class="align-middle white-space-nowrap ps-2 type">Suttering Materials</td>
                                <td class="align-middle white-space-nowrap ps-2 reqBy">10 Apr, 2025</td>
                                <td class="align-middle white-space-nowrap ps-2 productUnits">Pic</td>
                                <td class="align-middle white-space-nowrap ps-2 productInStock">450</td>
                                <td class="align-middle white-space-nowrap ps-2 productReqQuantity">760</td>
                                <td class="align-middle white-space-nowrap ps-2 productReqQuantity">1000</td>
                                <td class="align-middle white-space-nowrap ps-2 productApprovedQuantity">
                                    <span class="fw-bold">Approved: 400</span> <a data-bs-toggle="modal" data-bs-target="#ApprovedTransferDetails" data-bs-toggle="tooltip" data-bs-placement="top" title="Click to Show Transfer Details"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                                </td>
                                <td class="align-middle text-end white-space-nowrap pe-2 action">
                                    <div class="d-flex g-3">
                                        <button class="btn btn-phoenix-secondary btn-icon me-2 fs-8 text-success" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Approved"><span class="far fa-check-square"></span></button>
                                        <button class="btn btn-phoenix-secondary btn-icon fs-8 text-danger " data-bs-toggle="tooltip" data-bs-placement="top" title="Decline"><span class="far fa-window-close"></span></button>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <div class="d-flex flex-wrap align-items-center justify-content-between py-3 pe-0 fs-9 border-bottom border-translucent">
                    <div class="d-flex">
                        <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p><a class="fw-semibold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semibold d-none" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                    </div>



                    <div class="d-flex">
                        <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                        <ul class="mb-0 pagination"></ul>
                        <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="d-flex mb-5 pt-3" id="scrollspyEcommerce">
        <span class="fa-stack me-2 ms-n1"><i class="fas fa-circle fa-stack-2x text-primary"></i><i class="fa-inverse fa-stack-1x text-primary-subtle fas fa-cart-plus" data-fa-transform="shrink-4"></i></span>
        <div class="col">
            <h3 class="mb-0 text-primary position-relative fw-bold"><span class="bg-body pe-2">Requisition Approval History</span><span class="border border-primary position-absolute top-50 translate-middle-y w-100 start-0 z-n1"></span></h3>

        </div>
    </div>

    <div class="px-4 px-lg-6">

        <div class="mb-9">
            <div id="RequisitionSummary" data-list='{"valueNames":["productFor","reqBy","productName","productCatagory","productSubCatagory","reqDate","apvDate","productUnits","productInStock","productReqQuantity","productApprovedQuantity","approvalStatus"],"page":3,"pagination":true}'>

                <div class="row g-3 justify-content-between align-items-end mb-4">

                    <div class="col-12 col-sm-auto">
                        <ul class="nav nav-links mx-n2">
                            <li class="nav-item me-3">
                                <select class="form-select" id="">
                                    <option selected="selected">Select Project</option>
                                    <option value="cp">Project 1</option>
                                    <option value="fp">Project 2</option>
                                </select>
                            </li>
                            <li class="nav-item me-3">
                                <select class="form-select" id="">
                                    <option value="0" selected>Select Product Type</option>
                                    <option value="1">Suttering Materials</option>
                                    <option value="2">Hardware Materials</option>
                                </select>
                            </li>
                        </ul>
                    </div>

                    <div class="col-12 col-sm-auto">
                        <div class="d-flex align-items-center">
                            <div class="search-box me-3">
                                <form class="position-relative">
                                    <input class="form-control search-input search" type="search" placeholder="Search projects" aria-label="Search" />
                                    <span class="fas fa-search search-box-icon"></span>
                                </form>
                            </div>
                            <button class="btn px-3 btn-phoenix-secondary" type="button" data-bs-toggle="modal" data-bs-target="#reportsFilterModal" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
                                <span class="fa-solid fa-filter text-primary" data-fa-transform="down-3"></span>
                            </button>
                        </div>
                    </div>

                </div>

                <div class="table-responsive ms-n1 ps-1 scrollbar">
                    <table class="table fs-9 mb-0 border-top border-translucent">
                        <thead>
                            <tr>
                                <th class="sort white-space-nowrap align-middle ps-0" scope="col" data-sort="reqId">ID</th>
                                <th class="sort white-space-nowrap align-middle ps-2" scope="col" data-sort="productName">Product Name</th>
                                <th class="sort white-space-nowrap align-middle ps-2" scope="col" data-sort="productFor">Product Requested By</th>
                                <th class="sort white-space-nowrap align-middle ps-2" scope="col" data-sort="purpose">Project</th>
                                <th class="sort white-space-nowrap align-middle ps-2" scope="col" data-sort="type">Type</th>
                                <th class="sort white-space-nowrap align-middle ps-2" scope="col" data-sort="reqDate">Requested</br>Date</th>
                                <th class="sort white-space-nowrap align-middle ps-2" scope="col" data-sort="productUnits">Units</th>
                                <th class="sort white-space-nowrap align-middle ps-2" scope="col" data-sort="productInStock">In Stock</th>
                                <th class="sort white-space-nowrap align-middle ps-2" scope="col" data-sort="productInStock">Unused</th>
                                <th class="sort white-space-nowrap align-middle ps-2" scope="col" data-sort="productReqQuantity">Requisition</br>Quantity</th>
                                <th class="sort white-space-nowrap align-middle ps-2" scope="col" data-sort="productApprovedQuantity">Approved</br>Quantity</th>
                                <th class="sort white-space-nowrap align-middle ps-2" scope="col" data-sort="approvalStatus">Requisition</br>Status</th>
                                <th class="sort align-middle text-end" scope="col" style="width:100px;"></th>
                            </tr>
                        </thead>
                        <tbody class="list" id="approve-Requisition-history-table">

                            <tr class="position-static">
                                <td class="align-middle white-space-nowrap ps-0 reqId">#req9849</td>
                                <td class="align-middle white-space-nowrap ps-2 productName">1200 Scafolding</td>
                                <td class="align-middle white-space-nowrap ps-2 productFor">Supervisor 1</td>
                                <td class="align-middle white-space-nowrap ps-2 purpose">Project 2</td>
                                <td class="align-middle white-space-nowrap ps-2 type">Suttering Materials</td>
                                <td class="align-middle white-space-nowrap ps-2 reqBy">10 Apr, 2025</td>
                                <td class="align-middle white-space-nowrap ps-2 productUnits">Pic</td>
                                <td class="align-middle white-space-nowrap ps-2 productInStock">450</td>
                                <td class="align-middle white-space-nowrap ps-2 productReqQuantity">760</td>
                                <td class="align-middle white-space-nowrap ps-2 productReqQuantity">1000</td>
                                <td class="align-middle white-space-nowrap ps-2 productApprovedQuantity">950</td>
                                <td class="align-middle white-space-nowrap ps-2 approvalStatus">
                                    <span class="badge badge-phoenix badge-phoenix-success">Approved</span>
                                </td>
                                <td class="align-middle text-end white-space-nowrap pe-2 action">
                                    <div class="d-flex g-3">
                                        <button class="btn btn-phoenix-secondary btn-icon me-2 fs-10 text-body px-0" type="button" data-bs-toggle="modal" data-bs-target="#modelForEditRequisition"><span class="fas fa-edit"></span></button>
                                        <button class="btn btn-phoenix-secondary btn-icon fs-10 text-danger px-0"><span class="fas fa-trash"></span></button>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <div class="d-flex flex-wrap align-items-center justify-content-between py-3 pe-0 fs-9 border-bottom border-translucent">
                    <div class="d-flex">
                        <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p><a class="fw-semibold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semibold d-none" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                    </div>



                    <div class="d-flex">
                        <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                        <ul class="mb-0 pagination"></ul>
                        <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
                    </div>
                </div>

            </div>
        </div>
    </div>


    