@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    var mainTab = "DailyReport";
    var subTab = "IndividualReport";
}

<partial name="~/Views/Shared/AttendenceReportNavs/_attendenceReportMenuTabs.cshtml" model="mainTab" />
<partial name="~/Views/Shared/AttendenceReportNavs/_AttendenceSubMenuReport.cshtml" model="subTab" />

<div class="card border-0 mt-4">
    <!-- Data searching -->
    <div class="card-header d-flex align-items-center justify-content-between flex-wrap row-gap-3 mb-1">
        <h4 id="employee_name" class="mb-1">Employee Name</h4>

        <div class="card-body">
            <p id="attendance_description">
                The table below presents all the information about when Mr. Hasan came to the office and when he left the office this month.
            </p>

            <div class="border rounded">
                <div class="row gx-0">
                    <div class="col-md col-sm-4 border-end">
                        <div class="p-3">
                            <span class="fw-medium mb-1 d-block">Total Days</span>
                            <div class="d-flex align-items-center justify-content-between">
                                <h5 id="total_days_count">14 Days</h5>
                                <span id="total_days_percent" class="badge badge-phoenix badge-phoenix-success">
                                    <i class="ti ti-arrow-wave-right-down me-1"></i>56%
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md col-sm-4 border-end">
                        <div class="p-3">
                            <span class="fw-medium mb-1 d-block">Late Attendance</span>
                            <div class="d-flex align-items-center justify-content-between">
                                <h5 id="late_days_count">3 Days</h5>
                                <span id="late_days_percent" class="badge badge-phoenix badge-phoenix-danger">
                                    <i class="ti ti-arrow-wave-right-down me-1"></i>10%
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md col-sm-4 border-end">
                        <div class="p-3">
                            <span class="fw-medium mb-1 d-block">Absent</span>
                            <div class="d-flex align-items-center justify-content-between">
                                <h5 id="absent_days_count">2 Days</h5>
                                <span id="absent_days_percent" class="badge badge-phoenix badge-phoenix-warning">
                                    <i class="ti ti-arrow-wave-right-down me-1"></i>6%
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md col-sm-4 border-end">
                        <div class="p-3">
                            <span class="fw-medium mb-1 d-block">Leave</span>
                            <div class="d-flex align-items-center justify-content-between">
                                <h5 id="leave_days_count">1 Day</h5>
                                <span id="leave_days_percent" class="badge badge-phoenix badge-phoenix-danger">
                                    <i class="ti ti-arrow-wave-right-down me-1"></i>3%
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md col-sm-4">
                        <div class="p-3">
                            <span class="fw-medium mb-1 d-block">Day Off</span>
                            <div class="d-flex align-items-center justify-content-between">
                                <h5 id="day_off_days_count">4 Days</h5>
                                <span id="day_off_days_percent" class="badge badge-phoenix badge-phoenix-danger">
                                    <i class="ti ti-arrow-wave-right-down me-1"></i>12%
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>    <!-- individual Employee daily attendance Table-->

    <partial name="_reportForIndividualAttendenceTable" />

</div>

@section Scripts {
    <script src="~/js/pages/attendancemanagement/employeereportall/dailyreportOne.js"></script>
}
