@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var mainTab = "DailyReport";
    var subTab = "ReportForAll";
}

<partial name="~/Views/Shared/AttendenceReportNavs/_attendenceReportMenuTabs.cshtml" model="mainTab" />
<partial name="~/Views/Shared/AttendenceReportNavs/_AttendenceSubMenuReport.cshtml" model="subTab" />


<div class="card border-0 mt-4">

    <div class="card border-0">
        <div class="card-body">
            <!-- Header Information -->
            <div class="row align-items-center mb-4">
                <div class="col-md-5">
                    <div class="mb-3 mb-md-0">
                        <h4 class="mb-1">Attendance Details Today</h4>
                        <p>Data from the 80+ total no of employees</p>
                    </div>
                </div>

                <div class="col-md-7">
                    <div class="d-flex align-items-center justify-content-md-end">
                        <h5>Total Absenties today</h5>
                        <div class="avatar-list-stacked avatar-group-sm ms-4">
                            
                        </div>
                    </div>
                </div>
            </div>

            <!-- Vital dashboard Information -->
            <div class="border rounded">
                <div class="row gx-0">
                    <div class="col-md col-sm-4 border-end">
                        <div class="p-3">
                            <span class="fw-medium mb-1 d-block">Present</span>
                            <div class="d-flex align-items-center justify-content-between">
                                <h5 id="present-count">0</h5>
                                <span class="badge badge-phoenix badge-phoenix-success">
                                    <i class="ti ti-arrow-wave-right-down me-1"></i>
                                    <span id="present-percent">0 %</span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md col-sm-4 border-end">
                        <div class="p-3">
                            <span class="fw-medium mb-1 d-block">Late Present</span>
                            <div class="d-flex align-items-center justify-content-between">
                                <h5 id="late-present-count">0</h5>
                                <span class="badge badge-phoenix badge-phoenix-danger">
                                    <i class="ti ti-arrow-wave-right-down me-1"></i>
                                    <span id="late-present-percent">0 %</span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md col-sm-4 border-end">
                        <div class="p-3">
                            <span class="fw-medium mb-1 d-block"> Early out</span>
                            <div class="d-flex align-items-center justify-content-between">
                                <h5 id="leave-count">0</h5>
                                <span class="badge badge-phoenix badge-phoenix-warning">
                                    <i class="ti ti-arrow-wave-right-down me-1"></i>
                                    <span id="leave-percent">0 %</span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md col-sm-4">
                        <div class="p-3">
                            <span class="fw-medium mb-1 d-block">Absent</span>
                            <div class="d-flex align-items-center justify-content-between">
                                <h5 id="absent-count">0</h5>
                                <span class="badge badge-phoenix badge-phoenix-danger">
                                    <i class="ti ti-arrow-wave-right-down me-1"></i>
                                    <span id="absent-percent">0 %</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <partial name="_reportForAllAttendence" />
   

</div>

@section Scripts {
    <script src="~/js/pages/attendancemanagement/employeereportall/dailyreportall.js"></script>
}

