

<style>
    input[readonly] {
        background-color: #f4f6f9;
        pointer-events: none;
        cursor: default;
        color: #6c757d;
    }
</style>

<form method="post" id="employeeTransferForm">
    <div class="modal-body pb-0">
        <div class="row">
            <div class="col-md-12">
                <div class="mb-3">
                    <label class="form-label req" for="organizerSingle">Name</label>
                    <select class="form-select choiceDD" id="EmployeeID" required>

                        <option value="">Select Employee</option>
                    </select>
                  
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label req">From Organization</label>
                    <select class="form-select choiceDD" id="FromOrganizationID" required asp-items="@ViewBag.OrganizationDD as SelectList">
                        <option value="">Select Organization</option>
                    </select>
                    
                </div>
            </div>

            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label req">To</label>
                    <select class="form-select choiceDD" id="ToOrganizationID" required asp-items="@ViewBag.OrganizationDD as SelectList">
                        <option value="">Select Organization</option>
                    </select>
                   
                </div>
            </div>

            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label req">From Organization Branch</label>
                    <select class="form-select choiceDD" id="FromOrganizationBranchID" required asp-items="@ViewBag.OrganizationBranchDD as SelectList">
                        <option value="">Select Organization</option>
                    </select>
                   
                </div>
            </div>

            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label req">To Branch</label>
                    <select class="form-select choiceDD" id="ToOrganizationBranchID" required asp-items="@ViewBag.OrganizationBranchDD as SelectList">
                        <option value="">Select Organization</option>
                    </select>
                   
                </div>
            </div>
            <!-- Divs to Show/Hide -->
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label req">Transfer Date</label>
                    <div class="input-icon-end position-relative">
                        <input type="text" id="TransferDate"  class="form-control datetimepicker" readonly required placeholder="dd/mm/yyyy">
                        <span class="uil uil-calendar-alt position-absolute top-50 end-0 translate-middle-y me-3 text-body-tertiary"></span>
                       
                    </div>
                    <span id="ToDateError" class="text-danger small"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label">Note</label>
                    <input id="TransferNote" class="form-control" />
                </div>
            </div>
        </div>
    </div>
   

    <div class="d-flex justify-content-end gap-2 mt-1 mb-2 me-3">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
        <button id="EmpTransferButton" class="btn btn-primary">Apply</button>
    </div>

</form>





