<style>
    .input-validation-error {
        border-color: #dc3545 !important;
    }

    .field-validation-error {
        color: #dc3545;
        font-size: 0.875em;
    }
</style>
<div class="modal fade" id="apply_leave" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                @* <h4 class="modal-title">Add Employee Transfer</h4> *@
                <div class="col-12 col-md-12 col-lg-12 ">

                    <ul class="nav nav-underline fs-9" id="myTab" role="tablist">
                        <li class="nav-item"><a class="nav-link active" id="TransferOrgazation-tab" data-bs-toggle="tab" href="#tab-TransferOrgazation" role="tab" aria-controls="tab-TransferOrgazation" aria-selected="true">Transfer Between Organization</a></li>
                        <li class="nav-item"><a class="nav-link" id="TransferBranch-tab" data-bs-toggle="tab" href="#tab-TransferBranch" role="tab" aria-controls="tab-TransferBranch" aria-selected="false">Transfer Between Branch</a></li>
                        <li class="nav-item"><a class="nav-link" id="Department-tab" data-bs-toggle="tab" href="#tab-Department" role="tab" aria-controls="tab-Department" aria-selected="false">Transfer Between Department</a></li>
                        <button type="button" class="btn-close custom-btn-close text-end" data-bs-dismiss="modal" aria-label="Close"></button>
                    </ul>
                
                  
                </div>

               @*  <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close"></button> *@
            </div>
            <partial name="_AddEmployeTransfer" />
        </div>
    </div>
</div>
<!-- /Add Leaves -->
<!-- Edit Leaves -->
<div class="modal fade" id="edit_leaves">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Leave</h4>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <partial name="_EditEmployeTransfer" />
        </div>
    </div>
</div>
<!-- Breadcrumb -->
<partial name="_BreadCrumLeaveReq" />
<!-- /Breadcrumb -->
<partial name="_EmployeeTransferTable" />
<partial name="_ConfirmDelete" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/pages/employees/employeetransfer/employeetransfer.js"></script>
}
<script>
    const triggerTabList = document.querySelectorAll('#myTab a');
    triggerTabList.forEach(triggerEl => {
      triggerEl.addEventListener('shown.bs.tab', function (event) {
        const selectedTabId = event.target.getAttribute('id');
        console.log("Active tab changed to:", selectedTabId);

        // Example: Load dynamic data if needed
        if (selectedTabId === 'TransferOrgazation-tab') {
          // Load organization transfer data
        } else if (selectedTabId === 'TransferBranch-tab') {
          // Load branch transfer data
        } else if(selectedTabId==='Department-tab')
        {

        }
      });
     });
     
</script>


