@model CustomerVM
<div data-init="initBranchForm">

    <div class="d-flex flex-column h-100 my-3">
        <h5 class="mb-3 text-body-highlight ms-4 fs-7 fw-semibold ms-2">Add Branch</h5>
        <div class="row g-3" id="branchForm">
            <form action="">
                <input type="number" id="bId" name="name" hidden />
                <div class="row px-5">
                    <!-- Left Section -->
                    <div class="col-md-6">
                        <div class="col-12 mb-3 customerDiv" id="personCustomerSearchMainDiv">
                            <div class="form-floating mbs-4">
                                <input type="text" id="bCompanySearch" class="form-control searchField" placeholder="@Html.SmartLocalize("Search ContactName...")">
                                <input type="number" class="idBank" id="bCId" hidden>

                                <label for="personContactNameSearch"><i class="fa-solid fa-magnifying-glass"></i> @Html.SmartLocalize("Customer Search")</label>
                                <div class="list-group bg-white p-0 border position-absolute" id="bCustomerList" style="display: none; width:100%; z-index:10012;">
                                    <!-- ContactName items will be populated here -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-3 form-floating">
                                    <input type="text" asp-for="Name" class="form-control" placeholder="Address">
                                    <label class="form-label">Branch Name</label>
                                </div>
                            </div>
                            <div class="col-md-6 pe-1 col-sm-6">
                                <div class="mb-3 form-floating">
                                    <input type="text" asp-for="FirstName" class="form-control" placeholder="">
                                    <label class="form-label req">First Name</label>
                                </div>
                            </div>
                            <div class="col-md-6 ps-1 col-sm-6">
                                <div class="mb-3 form-floating">
                                    <input type="text" asp-for="LastName" class="form-control" placeholder="">
                                    <label class="form-label">Last Name</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mb-3">
                            <input class="form-control" asp-for="Phone" type="tel" placeholder="Phone Number" />
                            <div class="text-danger" id="errorShow"></div>
                        </div>
                        <div class="col-12 mb-3">
                            <input class="form-control" id="bOtherPhone" type="tel" placeholder="Other Phone" />
                            <div class="text-danger" id="errorShow"></div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3 form-floating">
                                <input type="text" asp-for="Email" class="form-control" placeholder="">
                                <label class="form-label">Email</label>
                                <div class="text-danger" id="errorShow"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Right Section -->
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <div class="mb-3 form-floating">
                                <input type="text" asp-for="FullAddress" class="form-control" placeholder="Address">
                                <label class="form-label">Full Address</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 pe-1 col-sm-6">
                                    <div class="mb-3 form-floating">
                                        <input type="text" asp-for="Street" class="form-control" placeholder="Street">
                                        <label class="form-label">Street</label>
                                    </div>
                                </div>
                                <div class="col-md-6 ps-1 col-sm-6">
                                    <div class="mb-3 form-floating">
                                        <input type="text" asp-for="City" class="form-control" placeholder="City">
                                        <label class="form-label">City</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 pe-1 col-sm-6">
                                    <div class="mb-3 form-floating">
                                        <input type="text" asp-for="Additionaladdress" class="form-control" placeholder="">
                                        <label class="form-label">Additional Address</label>
                                    </div>
                                </div>
                                <div class="col-md-6 ps-1 col-sm-6">
                                    <div class="mb-3 form-floating">
                                        <input type="text" asp-for="State" class="form-control" placeholder="">
                                        <label class="form-label">State/Province</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 pe-1 col-sm-6">
                                    <div class="mb-3 form-floating">
                                        <input asp-for="PostalCode" type="text" class="form-control" placeholder="">
                                        <label class="form-label">Zip/Postal Code</label>
                                    </div>
                                </div>
                                <div class="col-md-6 ps-1 col-sm-6">
                                    <div class="form-floating form-floating-advance-select">
                                        <label class="form-label">@Html.SmartLocalize("Country")</label>
                                        <select class="form-select choiceDD" asp-for="CountryID">
                                            <option value="" selected>@Html.SmartLocalize("Select Country")</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 pe-1 col-sm-6">
                                    <div class="mb-3 form-floating">
                                        <input type="text" asp-for="Latitude" class="form-control" placeholder="">
                                        <label class="form-label">Latitude</label>
                                    </div>
                                </div>
                                <div class="col-md-6 ps-1 col-sm-6">
                                    <div class="mb-3 form-floating">
                                        <input type="text" asp-for="Longitude" class="form-control" placeholder="">
                                        <label class="form-label">Longitude</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer border-0 pt-0 pb-2">
                    <button type="button" class="btn btn-light" id="saveAndgoWarehouseTab">Save & Add Shipping Address</button>
                    <button type="button" class="btn btn-primary" id="branchSaveAndExit">Save & Exit</button>
                </div>
            </form>
        </div>
    </div>
</div>