@using GCTL.Core.ViewModels.CRM.Customer
@model CustomerVM
<style>
    .is-invalid {
        border: 2px solid red !important;
        box-shadow: 0 0 5px rgba(255, 0, 0, 0.3);
    }

    .iti--show-flags {
        width: 100% !important;
        /* height: 41px !important; */
    }


    .iti__selected-country{
        padding-left: 6px !important;
    }

    .iti__dropdown-content {
        z-index: 999 !important;
    }

    .iti__tel-input{
        padding-left: 40px !important;
    }

</style>
<div data-init="initCustomerForm">
    <div class="d-flex flex-column h-100 my-3">
        <h5 class="mb-2 text-body-highlight fw-semibold ms-2">Add Customer</h5>
        <div class="row g-3" id="branchForm">
            <form id="customerForm" action="/Customers/SaveCustomer" method="post">
                <input type="hidden" asp-for="Id" value="0" />

                <div class="row">
                    <!-- Left Section -->
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6 pe-1 col-sm-6">
                                <div class="mb-2">
                                    <label class="form-label req">First Name</label>
                                    <input type="text" class="form-control" asp-for="FirstName" placeholder="e.g. John" >
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 ps-1 col-sm-6">
                                <div class="mb-2">
                                    <label class="form-label">Last Name</label>
                                    <input type="text" asp-for="LastName" class=" form-control" placeholder="e.g. Smith">
                                </div>
                            </div>
                            <div class="col-md-6 pe-1 col-sm-6">
                                <div class="mb-2">
                                    <label class="form-label">Organization Name</label>
                                    <input type="text" class="form-control" asp-for="CompnayName" placeholder="e.g. Google">
                                </div>
                            </div>
                            <div class="col-md-6 ps-1 col-sm-6">
                                <label class="form-label">Organization Type</label>
                                <select asp-for="OrganizationTypeID" class="select2">
                                    <option value="">Select Type</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 mb-2">
                            <label class="form-label">Phone</label>
                            <input class="form-control" asp-for="Phone" type="tel" placeholder="+8801XXXXXXXXX" />
                            <div class="text-danger" id="errorShow"></div>
                        </div>
                        <div class="col-12 mb-2">
                            <label class="form-label">Other Phone</label>
                            <input class="form-control" asp-for="OtherPhone" placeholder="+8801XXXXXXXXX" />
                            <div class="text-danger" id="errorShow"></div>
                        </div>
                        <div class="col-12">
                            <label class="form-label">Email</label>
                            <div class="mb-2">
                                <input type="text" asp-for="Email" class="form-control" placeholder="example@domain.com">
                                <div class="text-danger" id="errorShow"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Right Section -->
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <div class="mb-2">
                                <label class="form-label">Full Address</label>
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-location-dot"></i>
                                    </span>
                                    <input type="text" asp-for="FullAddress" class="form-control"
                                           placeholder="e.g. 123 Main Street, Dhaka">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 pe-1 col-sm-6">
                                    <div class="mb-2">
                                        <label class="form-label">Street</label>
                                        <input type="text" asp-for="Street" class="form-control" placeholder="e.g. Banani Road 11">
                                    </div>
                                </div>
                                <div class="col-md-6 ps-1 col-sm-6">
                                    <div class="mb-2">
                                        <label class="form-label">City</label>
                                        <input type="text" asp-for="City" class="form-control" placeholder="e.g. Dhaka">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 pe-1 col-sm-6">
                                    <div class="mb-2">
                                        <label class="form-label">Additional Address</label>
                                        <input type="text" asp-for="Additionaladdress" class="form-control" placeholder="e.g. Apartment 4B, 2nd Floor">
                                    </div>
                                </div>
                                <div class="col-md-6 ps-1 col-sm-6">
                                    <div class="mb-2">
                                        <label class="form-label">State / Province</label>
                                        <input type="text" asp-for="State" class="form-control" placeholder="e.g. Dhaka Division">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 pe-1 col-sm-6">
                                    <div class="mb-2">
                                        <label class="form-label">Zip/Postal Code</label>
                                        <input asp-for="PostalCode" type="text" class="form-control" placeholder="e.g. 1207">
                                    </div>
                                </div>
                                <div class="col-md-6 ps-1 col-sm-6">
                                    <label class="form-label">Country</label>
                                    <select asp-for="CountryID" id="CountryID" class="countryField select2">
                                        <option value="">Select Country</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 pe-1 col-sm-6">
                                    <div class="mb-2">
                                        <label class="form-label">Latitude</label>
                                        <input type="text" asp-for="Latitude" class="form-control" placeholder="e.g. 23.8103">
                                    </div>
                                </div>
                                <div class="col-md-6 ps-1 col-sm-6">
                                    <div class="mb-2">
                                        <label class="form-label">Longitude</label>
                                        <input type="text" asp-for="Longitude" class=" form-control" placeholder="e.g. 90.4125">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="contact-div mx-1">
                    <div class="row justify-content-center mx-0 mb-2 rounded p-1 bg-body-highlight">
                       <div class="col-12 d-flex justify-content-between align-items-center">
                            <div> <div class="fw-bold fs-7 mb-2 mt-2">Contact Information</div></div>
                            <div class="btn border-2 border-dark" id="contact-btn">Add Contact</div>
                       </div>
                   </div>
                    <div id="root-cotact-field"></div>
                </div>
                
                <div class="modal-footer border-0 pt-0 pb-2 mt-2 gap-2 d-flex justify-content-end">
                    <div>
                        @* <button type="button" class="btn btn-light" id="saveAndgoWarehouseTab">Save & Add Branch</button> *@
                        <button type="button" class="btn btn-primary" id="saveAndExit">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/js/pages/CRM/intlTelInput.min.js" defer></script>
<script src="~/js/pages/CRM/utils.js" defer></script>

<script src="~/js/pages/crm/Customer/customer.js" defer></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChjt63jehy9gPiaf9Nwan4PT72TmaHdio&libraries=places"></script>

@section Scripts{
    <script src="~/js/pages/CRM/customeToaster.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

} 