<div>
    <partial name="_indexModal" />
</div>
@section Scripts{
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgZTw6AA9Lc3EKX47xObpNOdJ2vFQ0B0w&libraries=places"></script>
    <script src="~/js/pages/CRM/intlTelInput.min.js"></script>
    <script src="~/js/pages/CRM/utils.js"></script>
    <script src="~/js/pages/crm/Customer/customer.js"></script>
}