<div>
    <div class="card">

        <div class="card-header fs-6 fw-semibold p-2 ps-3 mx-5 d-flex justify-content-between">
            <h5 class="modal-title" id="exampleModalLabel">Customer Form</h5>
            <button type="button" id="close-btn" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="display:none;height: 24px!important;"></button>
        </div>
        @await Html.PartialAsync("_indexModal")
    </div>
    @await Html.PartialAsync("_table")
</div>
@* @section Scripts{
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgZTw6AA9Lc3EKX47xObpNOdJ2vFQ0B0w&libraries=places"></script>
    <script src="~/js/pages/CRM/intlTelInput.min.js" defer></script>
    <script src="~/js/pages/CRM/utils.js" defer></script>
    <script src="~/js/pages/crm/Customer/customer.js" defer></script>
} *@