@model GCTL.Core.ViewModels.PayrollManagements.LoanManagement.LoanSaveVM
<div class="mb-2">


    <div class="card mt-2">

        <div class="card-header mb-2">


            <div class="d-flex justify-content-between">
                <h4 class="mb-1">Employee Loan</h4>

                <div class="dropdown start-0">
                </div>

            </div>


        </div>

        <div class="card-body">
            <form action="payroll-loan-entry-ui.html" class="row g-3 mb-2">

                <div class="col-md-4">
                    <div class="mb-1">
                        <label class="form-label" for="organizerSingle">Company Name</label>
                        <select class="form-multi-select" asp-for="OrganizationIDs" multiple
                                data-coreui-selection-type="tags" data-coreui-search="true">
                            <option value="0">Select Company</option>
                            <option value="1">CSL</option>
                            <option value="2">GCTL</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-1">
                        <label class="form-label" for="organizerSingle">Deparment</label>
                        <select class="form-multi-select" asp-for="DepartmentID" multiple data-coreui-selection-type="counter" data-coreui-search="true">
                            <option value="">Select Department</option>
                            <option>Developer</option>
                            <option>Designer</option>
                            <option>Finance</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="mb-1">
                        <label class="form-label" for="timepicker1">Employee Name</label>
                        <select class="form-multi-select" asp-for="EmployeeID" multiple data-coreui-selection-type="counter" data-coreui-search="true">
                            <optgroup label="Developer">
                                <option value="2">Alam</option>
                                <option value="3">Momin</option>
                            </optgroup>
                            <optgroup label="Designer">
                                <option value="4">Name (id)</option>
                                <option value="5">Name (id)</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-1">
                        <label class="form-label" for="timepicker1">Loan Amount</label>
                        <input class="form-control" asp-for="LoanAmount" type="text" placeholder="Ex: 50000">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="mb-1">
                        <label class="form-label" for="timepicker1">Installment Period</label>
                        <select class="form-select choiceDD" asp-for="LoanInstallmentPeriodID" asp-items="@ViewBag.LoanInstallmentDD as SelectList">
                            <option value="">Select Month</option>
                        </select>
                    </div>
                </div>


                <div class="col-md-4">

                    <div class="mb-1 flatpickr-input-container">
                        <label class="form-label req">Issue Date</label>

                        <div class="input-icon-end position-relative flatpickr">
                            <input type="text" asp-for="IssueDate"  class="form-control datetimepicker" required placeholder="dd/mm/yyyy">
                            <span class="uil uil-calendar-alt position-absolute top-50 end-0 translate-middle-y me-3 text-body-tertiary"></span>
                        </div>

                        <span id="FromDateError" class="text-danger small"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="mb-1 flatpickr-input-container">
                        <label class="form-label req">Installment Start Date</label>

                        <div class="input-icon-end position-relative flatpickr">
                            <input type="text" asp-for="StartDate" class="form-control datetimepicker" required placeholder="dd/mm/yyyy">
                            <span class="uil uil-calendar-alt position-absolute top-50 end-0 translate-middle-y me-3 text-body-tertiary"></span>
                        </div>

                        <span id="FromDateError" class="text-danger small"></span>
                    </div>
                   
                </div>
               <div class="col-12">
                    <div class="row g-3 justify-content-end">
                        <div class="col-auto">
                            <button class="btn btn-phoenix-primary px-5" id="ResetButton">Cancel</button>
                        </div>
                        <div class="col-auto">
                            <button  type="button" id="SaveButton" class="btn btn-primary px-5">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>


