<div class="card border-0 mt-4">

    <div class="card border-0">
        <div class="card-body">
            <!-- Header Information -->
            <div class="row align-items-center mb-4">
                <div class="col-md-5">
                    <div class="mb-3 mb-md-0">
                        <h4 class="mb-1">Attendance Details Today</h4>
                        <p>Data from the 80+ total no of employees</p>
                    </div>
                </div>

                <div class="col-md-7">
                    <div class="d-flex align-items-center justify-content-md-end">
                        <h5>Total Absenties today</h5>
                        <div class="avatar-list-stacked avatar-group-sm ms-4">
                            <div class="avatar-group mb-4">
                                <div class="avatar avatar-s ">
                                    <img class="rounded-circle " src="../../assets/img/team/30.webp" alt="" />

                                </div>
                                <div class="avatar avatar-s ">
                                    <img class="rounded-circle " src="../../assets/img/team/57.webp" alt="" />

                                </div>
                                <div class="avatar avatar-s ">
                                    <img class="rounded-circle " src="../../assets/img/team/25.webp" alt="" />

                                </div>
                                <div class="avatar avatar-s ">
                                    <img class="rounded-circle " src="../../assets/img/team/8.webp" alt="" />

                                </div>
                                <div class="avatar avatar-s ">
                                    <img class="rounded-circle " src="../../assets/img/team/58.webp" alt="" />

                                </div>
                                <div class="avatar avatar-s ">
                                    <div class="avatar-name rounded-circle "><span>+3</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Vital dashboard Information -->
            <div class="border rounded">
                <div class="row gx-0">

                    <div class="col-md col-sm-4 border-end">
                        <div class="p-3">
                            <span class="fw-medium mb-1 d-block">Present</span>
                            <div class="d-flex align-items-center justify-content-between">
                                <h5>300</h5>
                                <span class="badge badge-phoenix badge-phoenix-success">
                                    <i class="ti ti-arrow-wave-right-down me-1"></i>
                                    75 %
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md col-sm-4 border-end">
                        <div class="p-3">
                            <span class="fw-medium mb-1 d-block">Late Present</span>
                            <div class="d-flex align-items-center justify-content-between">
                                <h5>50</h5>
                                <span class="badge badge-phoenix badge-phoenix-danger">
                                    <i class="ti ti-arrow-wave-right-down me-1"></i>
                                    12 %
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md col-sm-4 border-end">
                        <div class="p-3">
                            <span class="fw-medium mb-1 d-block">Leave</span>
                            <div class="d-flex align-items-center justify-content-between">
                                <h5>20</h5>
                                <span class="badge badge-phoenix badge-phoenix-warning">
                                    <i class="ti ti-arrow-wave-right-down me-1"></i>
                                    03 %
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md col-sm-4 border-end">
                        <div class="p-3">
                            <span class="fw-medium mb-1 d-block">Site Visit</span>
                            <div class="d-flex align-items-center justify-content-between">
                                <h5>25</h5>
                                <span class="badge badge-phoenix badge-phoenix-success">
                                    <i class="ti ti-arrow-wave-right-down me-1"></i>
                                    06 %
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md col-sm-4">
                        <div class="p-3">
                            <span class="fw-medium mb-1 d-block">Absent</span>
                            <div class="d-flex align-items-center justify-content-between">
                                <h5>10</h5>
                                <span class="badge badge-phoenix badge-phoenix-danger">
                                    <i class="ti ti-arrow-wave-right-down me-1"></i>
                                    03 %
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Search Information -->
    <div class="card-header d-flex align-items-center justify-content-between flex-wrap row-gap-3 mb-1">

        <h4 class="mb-1">Employees List</h4>
        <div class="d-flex my-xl-auto right-content align-items-center flex-wrap row-gap-3">
            <div class="dropdown me-3">
                <select class="form-select" id="organizerSingle3" data-choices="data-choices" size="1" required="required" name="organizerSingle" data-options='{"removeItemButton":true,"placeholder":true}'>
                    <option value="">Select Company</option>
                    <option value="">GCTL</option>
                    <option value="">CSL Computer</option>
                </select>
            </div>
            <div class="dropdown me-2">
                <select class="form-multi-select" id="multiple-dep-select" multiple data-coreui-selection-type="counter" data-coreui-search="true">
                    <option value="">Select Department</option>
                    <option>Developer</option>
                    <option>Designer</option>
                    <option>Finance</option>
                </select>
            </div>

            <div class="dropdown me-2">
                <select class="form-multi-select" id="multiple-emp-select" multiple data-coreui-selection-type="counter" data-coreui-search="true">
                    <optgroup label="Developer">
                        <option value="2">Alam</option>
                        <option value="3">Momin</option>
                    </optgroup>
                    <optgroup label="Designer">
                        <option value="4">Name (id)</option>
                        <option value="5">Name (id)</option>
                    </optgroup>
                </select>
            </div>

        </div>
    </div>

    <!-- All Employee Daily Attendance Report -->
    <div class="border-translucent p-3">
        <div id="allEmployeeDailyAttendanceTable" data-list='{"valueNames":["empName","attStatus","checkIn","checkOut","break","late","pHour"],"page":10,"pagination":true}'>

            <div class="table-responsive scrollbar mx-n1 px-1">
                <table class="table fs-9 mb-0 border-top border-translucent">
                    <thead>
                        <tr>

                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="empName">Employee Name</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="attStatus">Status</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="checkIn">Check In</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="checkOut">Check Out</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="break">Brake</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="late">Late</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="pHour">Production Hours</th>
                            <th class="sort text-end align-middle pe-0 ps-5" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="list" id="all-employee-daily-attendance">
                        <tr class="hover-actions-trigger btn-reveal-trigger position-static">

                            <td class="empName align-middle white-space-nowrap fw-semibold text-body-emphasis ps-4 py-1">
                                <div class="d-flex align-items-center file-name-icon">
                                    <div class="avatar avatar-m avatar-bordered me-4">
                                        <img class="rounded-circle " src="../../assets/img/users/user-01.jpg" alt="" />
                                    </div>
                                    <div class="ms-1">
                                        <h6 class="fw-bold">Hasan Ali</h6>
                                        <span class="fs-12 fw-normal ">Developer</span>
                                    </div>
                                </div>
                            </td>
                            <td class="attStatus align-middle white-space-nowrap ps-5 fw-semibold text-body py-0">
                                <span class="badge badge-phoenix badge-phoenix-success">Present</span>
                            </td>
                            <td class="checkIn align-middle white-space-nowrap ps-4 fw-semibold text-body py-0">09:08 AM</td>
                            <td class="checkOut align-middle white-space-nowrap ps-4 fw-semibold text-body py-0">06:45 PM</td>
                            <td class="back align-middle white-space-nowrap ps-4 fw-semibold text-body py-0">25 Min</td>
                            <td class="late align-middle white-space-nowrap ps-4 fw-semibold text-body py-0">8 Min</td>

                            <td class="pHour align-middle white-space-nowrap ps-5 fw-semibold text-body py-0">
                                <span class="badge badge-phoenix badge-phoenix-success"><i class="ti ti-clock-hour-11 me-1"></i>8.55 Hrs</span>
                            </td>

                            <td class="align-middle white-space-nowrap text-end pe-0 ps-4">
                                <div class="btn-reveal-trigger position-static">
                                    <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#editDailyAttendance">
                                        <i class="fas fa-trash text-success"></i>
                                    </a>
                                </div>
                            </td>

                        </tr>

                        <tr class="hover-actions-trigger btn-reveal-trigger position-static">

                            <td class="empName align-middle white-space-nowrap fw-semibold text-body-emphasis ps-4 py-1">
                                <div class="d-flex align-items-center file-name-icon">
                                    <div class="avatar avatar-m avatar-bordered me-4">
                                        <img class="rounded-circle " src="../../assets/img/users/user-01.jpg" alt="" />
                                    </div>
                                    <div class="ms-1">
                                        <h6 class="fw-bold">Faruk Hasan</h6>
                                        <span class="fs-12 fw-normal ">Finance Executive</span>
                                    </div>
                                </div>
                            </td>
                            <td class="attStatus align-middle white-space-nowrap ps-5 fw-semibold text-body py-0">
                                <span class="badge badge-phoenix badge-phoenix-warning">Absent</span>
                            </td>
                            <td class="checkIn align-middle white-space-nowrap ps-4 fw-semibold text-body py-0">09:30 AM</td>
                            <td class="checkOut align-middle white-space-nowrap ps-4 fw-semibold text-body py-0">06:00 PM</td>
                            <td class="back align-middle white-space-nowrap ps-4 fw-semibold text-body py-0">35 Min</td>
                            <td class="late align-middle white-space-nowrap ps-4 fw-semibold text-body py-0">25 Min</td>

                            <td class="attStatus align-middle white-space-nowrap ps-5 fw-semibold text-body py-0">
                                <span class="badge badge-phoenix badge-phoenix-warning"><i class="ti ti-clock-hour-11 me-1"></i>7.32 Hrs</span>
                            </td>

                            <td class="align-middle white-space-nowrap text-end pe-0 ps-4">
                                <div class="btn-reveal-trigger position-static">
                                    <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#editDailyAttendance">
                                        <i class="fas fa-edit text-success"></i>
                                    </a>
                                </div>
                            </td>

                        </tr>



                    </tbody>
                </table>
            </div>

            <div class="row align-items-center justify-content-between pe-0 fs-9">
                <div class="col-auto d-flex">
                    <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p><a class="fw-semibold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semibold d-none" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                </div>
                <div class="col-auto d-flex">
                    <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                    <ul class="mb-0 pagination"></ul>
                    <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
                </div>
            </div>

        </div>
    </div>

</div>