
<style>
    /* Fix Google autocomplete dropdown inside Bootstrap modals */
    .pac-container {
        z-index: 2000 !important; /* higher than modal (1055) */
    }

    .modal-open .pac-container {
        z-index: 2000 !important;
    }

</style>
<div class="modal fade" id="edit_branch_setting">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content p-3">
            <div class="modal-header">
                <h4 class="modal-title">Edit Organization Settings</h4>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="branchSettingsFormEdit" asp-controller="BranchSettings" asp-action="updates" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <input type="hidden" id="OrganizationBranchIDEdit" name="OrganizationBranchID" value="" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="OrganizationID">Organization Name</label>
                                <select id="OrganizationIDEdit" name="OrganizationID" asp-items="@ViewBag.OrganizationDD" class="form-select choiceDD">
                                    <option value="">-- Select Organization --</option>
                                   
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="OrganizationBranchName">Branch Name</label>
                                <input class="form-control" id="OrganizationBranchNameEdit" type="text" name="OrganizationBranchName" placeholder="Branch Name" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="EmailAddress">Email Address</label>
                                <input class="form-control" id="EmailAddressEdit" type="email" name="EmailAddress" placeholder="company@email.com" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="Phone">Phone</label>
                                <input class="form-control" id="PhoneEdit" type="number" name="Phone" placeholder="xxxx xxx xx" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="Fax">Fax</label>
                                <input class="form-control" id="FaxEdit" type="text" name="Fax" placeholder="xxxx xxx xxx" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="WebAddress">Web</label>
                                <input class="form-control" id="WebAddressEdit" type="text" name="WebAddress" placeholder="www.company.com" />
                            </div>
                        </div>
                    </div>
                </div>



                <div class="border-bottom mb-3">
                    <h6 class="mb-3">Address Information</h6>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label" for="FullAddress">Full Address</label>
                                <input class="form-control" id="FullAddressEdit" type="text" name="FullAddress" autocomplete="off" placeholder="Search for an address" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label" for="Address">Address</label>
                                <input class="form-control" id="AddressEdit" type="text" name="Address" placeholder="www.company.com" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="CountryID">Country</label>
                                <select class="form-select choiceDD" name="CountryID" id="CountryIDEdit" asp-items="@ViewBag.CountriesDD">
                                    <option value="">Select Country</option>

                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="Street">Street</label>
                                <input class="form-control" id="StreetEdit" type="text" name="Street" placeholder="" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="City">City</label>
                                <input class="form-control" id="CityEdit" type="text" name="City" placeholder="" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="PostCode">Postal Code</label>
                                <input class="form-control" id="PostCodeEdit" type="text" name="PostCode" placeholder="" />
                            </div>
                        </div>

                        <!-- Google Map Container -->
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="Latitude">Latitude</label>
                                <input class="form-control" id="LatitudeEdit" type="text" name="Latitude" placeholder="Latitude" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="Longitude">Longitude</label>
                                <input class="form-control" id="LongitudeEdit" type="text" name="Longitude" placeholder="Longitude" />
                            </div>
                        </div>

                        <!-- Google Map Container -->
                        <div class="col-md-12">
                            <div id="mapEdit" style="height: 400px; width: 100%;"></div> <!-- Set a height for the map -->
                        </div>

                        <div class="col-md-12">
                            <a href="https://www.latlong.net/" id="getLocation" class="icon-link mt-3 mb-3" target="_blank">Latitude and Longitude Finder</a>
                        </div>

                    </div>
                </div>

                <div class="d-flex align-items-center justify-content-end">
                    <button type="reset" class="btn btn-outline-secondary me-3">Reset</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>

        </div>
    </div>
</div>

