@{
    var mainTab = "CompanySetting";
    var subTab = "BranchSettings";
}

<partial name="~/Views/Shared/AdminsettingsNavs/CompanySettingsNavs/_MainSettingsTabPartial.cshtml" model="mainTab" />
<partial name="~/Views/Shared/AdminsettingsNavs/CompanySettingsNavs/_NavCompanySettingsPartial.cshtml" model="subTab" />


    <div class="col-xl-12 mt-3">
        <div class="card mb-4">
            <div class="card-body">
                <div class="border-bottom mb-3 pb-3">
                    <h4>Branch Settings</h4>
                </div>
            <form id="branchSettingsForm" asp-controller="BranchSettings" asp-action="Create" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <h6 class="mb-3">Basic Information</h6>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="OrganizationID">Organization Name</label>
                                <select id="OrganizationID" name="OrganizationID" class="form-select choiceDD">
                                    <option value="">-- Select Organization --</option>
                                    @if (ViewBag.OrganizationsDropDown != null)
                                    {
                                        foreach (var org in ViewBag.OrganizationsDropDown)
                                        {
                                            <option value="@org.Value">@org.Text</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="OrganizationBranchName">Branch Name</label>
                                <input class="form-control" id="OrganizationBranchName" type="text" name="OrganizationBranchName" placeholder="Branch Name" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="EmailAddress">Email Address</label>
                                <input class="form-control" id="EmailAddress" type="email" name="EmailAddress" placeholder="company@email.com" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="Phone">Phone</label>
                                <input class="form-control" id="Phone" type="number" name="Phone" placeholder="xxxx xxx xx" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="Fax">Fax</label>
                                <input class="form-control" id="Fax" type="text" name="Fax" placeholder="xxxx xxx xxx" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="WebAddress">Web</label>
                                <input class="form-control" id="WebAddress" type="text" name="WebAddress" placeholder="www.company.com" />
                            </div>
                        </div>
                    </div>
                </div>

                

                <div class="border-bottom mb-3">
                    <h6 class="mb-3">Address Information</h6>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label" for="Address">Address</label>
                                <input class="form-control" id="Address" type="text" name="Address" placeholder="www.company.com" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="CountryID">Country</label>
                                <select class="form-select choiceDD" id="CountryID" name="CountryID">
                                    <option value="">Select Country</option>
                                    @foreach (var cntry in ViewBag.CountriesDropDown)
                                    {
                                        <option value="@cntry.Value">@cntry.Text</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="Street">Street</label>
                                <input class="form-control" id="Street" type="text" name="Street" placeholder="" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="City">City</label>
                                <input class="form-control" id="City" type="text" name="City" placeholder="" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="PostCode">Postal Code</label>
                                <input class="form-control" id="PostCode" type="text" name="PostCode" placeholder="" />
                            </div>
                        </div>

                        <!-- Google Map Container -->
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="Latitude">Latitude</label>
                                <input class="form-control" id="Latitude" type="text" name="Latitude" placeholder="Latitude" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="Longitude">Longitude</label>
                                <input class="form-control" id="Longitude" type="text" name="Longitude" placeholder="Longitude" />
                            </div>
                        </div>

                        <!-- Google Map Container -->
                        <div class="col-md-12">
                            <div id="map" style="height: 400px; width: 100%;"></div> <!-- Set a height for the map -->
                        </div>

                        <div class="col-md-12">
                            <a href="https://www.latlong.net/" id="getLocation" class="icon-link mt-3 mb-3" target="_blank">Latitude and Longitude Finder</a>
                        </div>

                    </div>
                </div>

                <div class="d-flex align-items-center justify-content-end">
                    <button type="reset" class="btn btn-outline-secondary me-3">Reset</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
               
            </div>
        </div>
    
    </div>

<partial name="_BranchedTableList" />
<partial name="_ConfirmDelete" />

@section Scripts {
    <script src="~/js/pages/adminsettings/organizationsettings/branchsettings.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeHMgN5z-dNA7bE5bpXosfFlEijVN6pyI&callback=initMap" async defer></script>

}

