
@{
    ViewData["Title"] = @Html.SmartLocalize("Chart of Account");
}

<ul class="nav nav-underline fs-9" id="myTab" role="tablist">
    <li class="nav-item"><a class="nav-link" href="/AddMainAccount/Index">@Html.SmartLocalize("Add Main Account")</a></li>
    <li class="nav-item"><a class="nav-link" href="/AddSubAccount/Index">@Html.SmartLocalize("Add Sub Account")</a></li>
    <li class="nav-item"><a class="nav-link" href="/TransactionAccount/Index">@Html.SmartLocalize("Transaction Account")</a></li>
</ul>