<div class="mb-9 mt-4">
    <div class="card">
        <div class="card-header ">
            <h4 class="mb-1">Add New Shift</h4>
            <div class="">
                <form action="shift-roster-ui.html">
                    <div class="modal-body pb-0">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label" for="exampleFormControlInput">Shift Name</label>
                                    <input class="form-control" id="exampleFormControlInput" type="email" placeholder="Enter Name" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label" for="organizerSingle">Company Name</label>
                                    <select class="form-multi-select" id="multiple-select-tag" multiple data-coreui-selection-type="tags" data-coreui-search="true">
                                        <option value="0">Select Company...</option>
                                        <option value="1">CSL</option>
                                        <option value="2">GCTL</option>
                                    </select>
                                    @* <select id="companySelect" class="form-control form-control-sm" multiple="multiple">
                                        <option value="0">Select Company...</option>
                                        <option value="1">CSL</option>
                                        <option value="2">GCTL</option>
                                    </select> *@
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label" for="timepicker1">Start Time</label>
                                    <input class="form-control datetimepicker flatpickr-input" id="timepicker1" type="text"
                                           placeholder="hour : minute"
                                           data-options="{&quot;enableTime&quot;:true,&quot;noCalendar&quot;:true,&quot;dateFormat&quot;:&quot;H:i&quot;,&quot;disableMobile&quot;:true}"
                                           readonly="readonly">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label" for="timepicker1">End Time</label>
                                    <input class="form-control datetimepicker flatpickr-input" id="timepicker1" type="text"
                                           placeholder="hour : minute"
                                           data-options="{&quot;enableTime&quot;:true,&quot;noCalendar&quot;:true,&quot;dateFormat&quot;:&quot;H:i&quot;,&quot;disableMobile&quot;:true}"
                                           readonly="readonly">
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="mb-3 mt-3">
                                    <table>
                                        <tr>
                                            <td>
                                                <label class="form-check-label me-2" for="flexCheckDefault">Enable Late Count</label>
                                            </td>
                                            <td>
                                                <div class="form-check form-switch ">
                                                    <input class="form-check-input mt-2" type="checkbox" role="switch" id="toggleCheckboxForGraceTime">
                                                </div>
                                            </td>
                                            <td>
                                                <label class="form-check-label" for="flexCheckDefault">Disable Late count</label>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="col-md-3" id="hiddenGraceTimeDiv">
                                <div class="mb-1">
                                    <label class="form-label" for="organizerSingle">Grace Time</label>
                                    <select class="form-select" id="organizerSingle" data-choices="data-choices"
                                            data-options='{"removeItemButton":true,"placeholder":true}'>
                                        <option value="">Select ....</option>
                                        <option>10 Minute</option>
                                        <option>15 Minute</option>
                                        <option>20 Minute</option>
                                        <option>25 Minute</option>
                                        <option>30 Minute</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="mb-3 mt-3">
                                    <table>
                                        <tr>
                                            <td>
                                                <label class="form-check-label me-2" for="flexCheckDefault">Automatic Break Time</label>
                                            </td>
                                            <td>
                                                <div class="form-check form-switch ">
                                                    <input class="form-check-input mt-2" type="checkbox" role="switch" id="toggleCheckboxForBreak">
                                                </div>
                                            </td>
                                            <td>
                                                <label class="form-check-label" for="flexCheckDefault">Manual Break Time</label>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class=" p-3 mb-2 border" id="hiddenBreakDiv">
                                <div class="d-flex col-md-12  px-3">
                                    <div class="col-md-4 me-3">
                                        <div class="mb-3">
                                            <label class="form-label" for="organizerSingle">Break Time</label>
                                            <select class="form-select" id="organizerSingle" data-choices="data-choices"
                                                    data-options='{"removeItemButton":true,"placeholder":true}'>
                                                <option value="">Select ....</option>
                                                <option>15 Minute</option>
                                                <option>30 Minute</option>
                                                <option>45 Minute</option>
                                                <option>60 Minute</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-3 me-2">
                                        <div class="mt-5 ">
                                            <input class="form-check-input" id="toggleCheckboxForBreak" type="checkbox" value="" />
                                            <label class="form-check-label" for="flexCheckDefault">Compulsary Deduct With Shift</label>
                                        </div>
                                    </div>

                                    <div class="col-md-3 ">
                                        <div class="mt-5">
                                            <input class="form-check-input" id="toggleCheckboxForBreak" type="checkbox" value="" />
                                            <label class="form-check-label" for="flexCheckDefault">Complementory With Shift</label>
                                        </div>
                                    </div>

                                </div>
                                <div class="d-flex justify-content-start">
                                    <div class="form-check form-switch flex-row">
                                        <input class="form-check-input" type="checkbox" role="switch" id="toggleCheckboxStartEndTime">
                                        <label class="form-check-label" for="flexCheckDefault">Allow Start and End Time</label>
                                    </div>
                                </div>

                                <div class=" p-3 " id="hiddenBreakTimeDiv">
                                    <div class="d-flex col-md-12  px-3">
                                        <div class="col-md-3 me-4">
                                            <div class="mb-3">
                                                <label class="form-label" for="timepicker1">Start Time</label>
                                                <input class="form-control datetimepicker flatpickr-input" id="timepicker1" type="text"
                                                       placeholder="hour : minute"
                                                       data-options="{&quot;enableTime&quot;:true,&quot;noCalendar&quot;:true,&quot;dateFormat&quot;:&quot;H:i&quot;,&quot;disableMobile&quot;:true}"
                                                       readonly="readonly">
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="">
                                                <label class="form-label" for="timepicker1">End Time</label>
                                                <input class="form-control datetimepicker flatpickr-input" id="timepicker1" type="text"
                                                       placeholder="hour : minute"
                                                       data-options="{&quot;enableTime&quot;:true,&quot;noCalendar&quot;:true,&quot;dateFormat&quot;:&quot;H:i&quot;,&quot;disableMobile&quot;:true}"
                                                       readonly="readonly">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="mb-3">
                                    <div class="form-check form-switch flex-row">
                                        <input class="form-check-input" type="checkbox" role="switch" id="toggleCheckboxForOverTime">
                                        <label class="form-check-label" for="flexCheckDefault">Allow Overtime</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row" id="hiddenOvertimeDiv">
                                <div class="d-flex justify-content-between border">
                                    <div class="col-md-4 me-3">
                                        <div class="mb-3">
                                            <label class="form-label" for="organizerSingle">
                                                Minimum working time eligable ofr
                                                overtime
                                            </label>
                                            <select class="form-select" id="organizerSingle" data-choices="data-choices"
                                                    data-options='{"removeItemButton":true,"placeholder":true}'>
                                                <option value="">Select Time </option>
                                                <option>7 Hrs</option>
                                                <option>8 Hrs</option>
                                                <option>9 Hrs</option>
                                                <option>10 Hrs</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-3 me-3">
                                        <div class="mb-4">
                                            <label class="form-label" for="organizerSingle">Minimum Required Overtime</label>
                                            <select class="form-select" id="organizerSingle" data-choices="data-choices"
                                                    data-options='{"removeItemButton":true,"placeholder":true}'>
                                                <option value="">Select Time </option>
                                                <option>1.0 Hrs</option>
                                                <option>1.5 Hrs</option>
                                                <option>2.0 Hrs</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="mb-1">
                                            <label class="form-label" for="organizerSingle">Maximum Allowed Overtime</label>
                                            <select class="form-select" id="organizerSingle" data-choices="data-choices"
                                                    data-options='{"removeItemButton":true,"placeholder":true}'>
                                                <option value="">Select Time </option>
                                                <option>1.5 Hrs</option>
                                                <option>2.0 Hrs</option>
                                                <option>2.5 Hrs</option>
                                                <option>3.0 Hrs</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <script>
                                const checkbox = document.getElementById('toggleCheckboxForBreak');
                                const hiddenBreakDiv = document.getElementById('hiddenBreakDiv');

                                checkbox.addEventListener('change', function () {
                                    hiddenBreakDiv.style.display = this.checked ? 'block' : 'none';
                                });

                                const checkbox1 = document.getElementById('toggleCheckboxForOverTime');
                                const hiddenOvertimeDiv = document.getElementById('hiddenOvertimeDiv');

                                checkbox1.addEventListener('change', function () {
                                    hiddenOvertimeDiv.style.display = this.checked ? 'block' : 'none';
                                });

                                const checkbox2 = document.getElementById('toggleCheckboxStartEndTime');
                                const hiddenBreakTimeDiv = document.getElementById('hiddenBreakTimeDiv');


                                checkbox2.addEventListener('change', function () {
                                    hiddenBreakTimeDiv.style.display = this.checked ? 'block' : 'none';
                                });

                                const graceTimeCheckbox = document.getElementById('toggleCheckboxForGraceTime');
                                const hiddenGraceTimeDiv = document.getElementById('hiddenGraceTimeDiv');

                                graceTimeCheckbox.addEventListener('change', function () {
                                    hiddenGraceTimeDiv.style.display = this.checked ? 'none' : 'block';
                                });

                            </script>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header d-flex align-items-center justify-content-between flex-wrap row-gap-3 mb-4">
            <h4 class="mb-1">Shift List</h4>
            <div class="d-flex my-xl-auto right-content align-items-center flex-wrap row-gap-3">
                <div class="dropdown me-3">
                    <select class="form-select" id="organizerSingle1" data-choices="data-choices" size="1" required="required" name="organizerSingle" data-options='{"removeItemButton":true,"placeholder":true}'>
                        <option value="">Company Name</option>
                        <option>GCTL</option>
                        <option>CSL</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="border-translucent p-3">
            <div class="table-responsive scrollbar mx-n1 px-1">
                <table class="table table-sm fs-9 leads-table">
                    <thead>
                        <tr>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="shiftName">Shift Name</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="companyName">Company Name</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="startTime">Start Time</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="endTime">End Time</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="graceTime">Grace Time</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="breakTime">Break Time</th>
                            <th class="sort text-end align-middle pe-0 ps-5" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody id="purchasers-sellers-body">
                        <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                            <td class="shiftName align-middle white-space-nowrap fw-semibold text-body-emphasis ps-4 py-2">
                                <h5>Morning</h5>
                            </td>
                            <td class="companyName align-middle white-space-nowrap ps-5 fw-semibold text-body py-1">
                                <span>GCTL</span>
                            </td>
                            <td class="startTime align-middle white-space-nowrap ps-4 fw-semibold text-body py-1">09:00 AM</td>
                            <td class="endTime align-middle white-space-nowrap ps-4 fw-semibold text-body py-1">05:00 PM</td>
                            <td class="graceTime align-middle white-space-nowrap ps-4 fw-semibold text-body py-1">10 Min</td>
                            <td class="breakTime align-middle white-space-nowrap ps-4 fw-semibold text-body py-1">30 Min</td>
                            <td class="align-middle white-space-nowrap text-end pe-0 ps-4">
                                <div class="btn-reveal-trigger position-static">
                                    <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#edit_shift">
                                        <i class="fas fa-edit text-success"></i>
                                    </a>
                                    <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#delete_modal">
                                        <i class="fas fa-trash text-danger"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                            <td class="shiftName align-middle white-space-nowrap fw-semibold text-body-emphasis ps-4 py-2">
                                <h5>Evening</h5>
                            </td>
                            <td class="companyName align-middle white-space-nowrap ps-5 fw-semibold text-body py-1">
                                <span>CSL</span>
                            </td>
                            <td class="startTime align-middle white-space-nowrap ps-4 fw-semibold text-body py-1">02:00 PM</td>
                            <td class="endTime align-middle white-space-nowrap ps-4 fw-semibold text-body py-1">10:00 PM</td>
                            <td class="graceTime align-middle white-space-nowrap ps-4 fw-semibold text-body py-1">10 Min</td>
                            <td class="breakTime align-middle white-space-nowrap ps-4 fw-semibold text-body py-1">30 Min</td>
                            <td class="align-middle white-space-nowrap text-end pe-0 ps-4">
                                <div class="btn-reveal-trigger position-static">
                                    <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#edit_shift">
                                        <i class="fas fa-edit text-success"></i>
                                    </a>
                                    <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#delete_modal">
                                        <i class="fas fa-trash text-danger"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                            <td class="shiftName align-middle white-space-nowrap fw-semibold text-body-emphasis ps-4 py-2">
                                <h5>Morning</h5>
                            </td>
                            <td class="companyName align-middle white-space-nowrap ps-5 fw-semibold text-body py-1">
                                <span>CSL</span>
                            </td>
                            <td class="startTime align-middle white-space-nowrap ps-4 fw-semibold text-body py-1">09:00 AM</td>
                            <td class="endTime align-middle white-space-nowrap ps-4 fw-semibold text-body py-1">06:00 PM</td>
                            <td class="graceTime align-middle white-space-nowrap ps-4 fw-semibold text-body py-1">10 Min</td>
                            <td class="breakTime align-middle white-space-nowrap ps-4 fw-semibold text-body py-1">45 Min</td>
                            <td class="align-middle white-space-nowrap text-end pe-0 ps-4">
                                <div class="btn-reveal-trigger position-static">
                                    <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#edit_shift">
                                        <i class="fas fa-edit text-success"></i>
                                    </a>
                                    <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#delete_modal">
                                        <i class="fas fa-trash text-danger"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row align-items-center justify-content-between pe-0 fs-9">
                <div class="col-auto d-flex">
                    <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p><a class="fw-semibold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semibold d-none" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                </div>
                <div class="col-auto d-flex">
                    <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                    <ul class="mb-0 pagination"></ul>
                    <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="edit_shift">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Shift</h4>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="shift-roster-ui.html">
                <div class="modal-body pb-0">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="exampleFormControlInput">Shift Name</label>
                                <input class="form-control" id="exampleFormControlInput" type="email" value="Shift 1" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="organizerSingle">Company Name</label>
                                <select class="form-multi-select" multiple data-coreui-selection-type="counter" data-coreui-search="true">
                                    <option value="">Select Company...</option>
                                    <option>CSL</option>
                                    <option>GCTL</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="timepicker1">Start Time</label>
                                <input class="form-control datetimepicker flatpickr-input" id="timepicker1" type="text" placeholder="hour : minute"
                                       data-options="{&quot;enableTime&quot;:true,&quot;noCalendar&quot;:true,&quot;dateFormat&quot;:&quot;H:i&quot;,&quot;disableMobile&quot;:true}"
                                       readonly="readonly">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="timepicker1">End Time</label>
                                <input class="form-control datetimepicker flatpickr-input" id="timepicker2"
                                       type="text" placeholder="hour : minute"
                                       data-options="{&quot;enableTime&quot;:true,&quot;noCalendar&quot;:true,&quot;dateFormat&quot;:&quot;H:i&quot;,&quot;disableMobile&quot;:true}"
                                       readonly="readonly">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="organizerSingle">Over Time</label>
                                <select class="form-select" id="organizerSingle" data-choices="data-choices"
                                        data-options='{"removeItemButton":true,"placeholder":true}'>
                                    <option value="">Select ....</option>
                                    <option>1 Hour</option>
                                    <option selected>2 Hours</option>
                                    <option>3 Hours</option>
                                    <option>4 Hours</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="organizerSingle">Grace Time</label>
                                <select class="form-select" id="organizerSingle" data-choices="data-choices"
                                        data-options='{"removeItemButton":true,"placeholder":true}'>
                                    <option value="">Select ....</option>
                                    <option>10 Minute</option>
                                    <option selected>15 Minute</option>
                                    <option>20 Minute</option>
                                    <option>25 Minute</option>
                                    <option>30 Minute</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="organizerSingle">Break Time</label>
                                <select class="form-select" id="organizerSingle" data-choices="data-choices"
                                        data-options='{"removeItemButton":true,"placeholder":true}'>
                                    <option value="">Select ....</option>
                                    <option>15 Minute</option>
                                    <option>30 Minute</option>
                                    <option selected>45 Minute</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<partial name="_ConfirmDelete" />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
	<script src="~/js/pages/attendancemanagement/schedulemanagement/addshift.js"></script>
    <script type="text/javascript">
        $(function () {
            var options = {
                baseUrl: '@Url.Action("", "AddShift")'
            };
            options.load = () => {

            };

            $.addshift(options);
        });
    </script>
}