@model GCTL_App.ViewModels.AttendanceManagement.ScheduleManagement.Shift.ShiftsPageVM

@{
    ViewData["Title"] = @Html.SmartLocalize("Add Shift");
}

<div class="mb-9 mt-4">
    <partial name="_Form" model="Model.Setup" />

    <partial name="_Table" />
</div>




<partial name="_EditShiftModal" />
<partial name="_ConfirmDelete" />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
	<script src="~/js/pages/attendancemanagement/schedulemanagement/addshift.js"></script>
    <script type="text/javascript">
        $(function () {
            var options = {
                baseUrl: '@Url.Action("", "AddShift")'
            };
            options.load = () => {

            };

            $.addshift(options);
        });
    </script>
}