@model GCTL_App.ViewModels.MasterSetup.Organizations.OrganizationsPageVM

@{
    ViewData["Title"] = @Html.SmartLocalize("Organization");
}

<div class="row g-2">
    <div class="col-12 col-md-7 col-xl-5 col-xxl-5">
        <partial name="_Form" model="Model.Setup" />
    </div>

    <div class="col-12 col-md-7 col-xl-7 col-xxl-7">
        @* <partial name="_Table" model="Model.List" /> *@
        <partial name="_Table" />
    </div>
</div>

<partial name="_ConfirmDelete" />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
	<script src="~/js/pages/mastersetup/organization.js"></script>
    <script type="text/javascript">
        $(function () {
            var options = {
                baseUrl: '@Url.Action("", "Organizations")'
            };
            options.load = () => {

            };

            $.organization(options);
        });
    </script>
}
