@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    var mainTab = "MonthlyReport";
    var subTab = "MonthlyReportForIndividual";
}

<partial name="~/Views/Shared/AttendenceReportNavs/_attendenceReportMenuTabs.cshtml" model="mainTab" />
<partial name="~/Views/Shared/AttendenceReportNavs/_AttendenceSubMenuReportMonthly.cshtml" model="subTab" />



    <div class="col-sm-12">
        <div class="card mb-3 border-0">
            <div class="card-body">

            <div class="border rounded">
                <div class="row gx-0">

                    <div class="col-md col-sm-4 border-end">
                        <div class="p-3">
                            <span class="fw-medium mb-1 d-block">Present</span>
                            <div class="d-flex align-items-center justify-content-between">
                                <h5>250</h5>
                                <span class="badge badge-phoenix badge-phoenix-success">
                                    <i class="ti ti-arrow-wave-right-down me-1"></i>
                                    78 %
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md col-sm-4 border-end">
                        <div class="p-3">
                            <span class="fw-medium mb-1 d-block">Leave</span>
                            <div class="d-flex align-items-center justify-content-between">
                                <h5>5</h5>
                                <span class="badge badge-phoenix badge-phoenix-warning">
                                    <i class="ti ti-arrow-wave-right-down me-1"></i>
                                    2 %
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md col-sm-4 border-end">
                        <div class="p-3">
                            <span class="fw-medium mb-1 d-block">Site Visit</span>
                            <div class="d-flex align-items-center justify-content-between">
                                <h5>10</h5>
                                <span class="badge badge-phoenix badge-phoenix-success">
                                    <i class="ti ti-arrow-wave-right-down me-1"></i>
                                    06 %
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md col-sm-4">
                        <div class="p-3">
                            <span class="fw-medium mb-1 d-block">Absent</span>
                            <div class="d-flex align-items-center justify-content-between">
                                <h5>12</h5>
                                <span class="badge badge-phoenix badge-phoenix-danger">
                                    <i class="ti ti-arrow-wave-right-down me-1"></i>
                                    08 %
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
                <!-- Data searching -->
                <div class="card-header d-flex justify-content-between flex-wrap row-gap-3 mb-4">

                    <h4 class="mb-1">Employee Name (Designation)</h4>
                    <div class="d-flex my-xl-auto right-content align-items-center flex-wrap row-gap-3">

                        <div class="dropdown me-3">
                            <select class="form-select" id="organizerSingle3" data-choices="data-choices" size="1" required="required" name="organizerSingle" data-options='{"removeItemButton":true,"placeholder":true}'>
                                <option value="">Select Company</option>
                                <option value="">GCTL</option>
                                <option value="">CSL Computer</option>
                            </select>
                        </div>

                        <div class="dropdown me-3">
                            <select class="form-select" id="organizerSingle3" data-choices="data-choices" size="1" required="required" name="organizerSingle" data-options='{"removeItemButton":true,"placeholder":true}'>
                                <option value="">Department</option>
                                <option>Finance</option>
                                <option>UI/UX</option>
                                <option>IT Manager</option>
                            </select>
                        </div>

                        <div class="dropdown me-3">
                            <select class="form-select" id="organizerSingle3" data-choices="data-choices" size="1" required="required" name="organizerSingle" data-options='{"removeItemButton":true,"placeholder":true}'>
                                <option value="">Employee Name</option>
                                <option>Abdullah</option>
                                <option>Juel Rana</option>
                                <option>Hasan</option>
                                <option>Nozib-ullah</option>
                            </select>
                        </div>

                        <div class="dropdown me-3">
                            <select class="form-select" id="organizerSingle3" data-choices="data-choices" size="1" required="required" name="organizerSingle" data-options='{"removeItemButton":true,"placeholder":true}'>
                                <option value="">Select Month</option>
                                <option>January</option>
                                <option>February</option>
                                <option>March</option>
                                <option>April</option>
                                <option>May</option>
                                <option>June</option>
                                <option>July</option>
                                <option>August</option>
                                <option>September</option>
                                <option>October</option>
                                <option>November</option>
                                <option>December</option>
                            </select>
                        </div>

                    </div>
                </div>

                <!-- All Employee monthly attendance Table-->
            <div id="individualEmployeeMonthlyAttendanceTable">
                <div class="table-responsive">
                    <table class="table-bordered text-center p-2">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <!-- Placeholder for dynamic day columns -->
                        
                         </tr>
                        </thead>
                        <tbody id="individualEmployeeMonthlyAttendanceTable">
                            <!-- Dynamically generated table rows will be inserted here -->
                        </tbody>
                    </table>
                </div>
            </div>

               @*  <div id="individualEmployeemonthlyAttendanceTable" data-list='{"valueNames":["empName"],"page":3,"pagination":true}'>
                    <div class="table-responsive">
                        <table class=" table-bordered text-center p-2">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>01</th>
                                    <th>02</th>
                                    <th>03</th>
                                    <th>04</th>
                                    <th>05</th>
                                    <th>06</th>
                                    <th>07</th>
                                    <th>08</th>
                                    <th>09</th>
                                    <th>10</th>
                                    <th>11</th>
                                    <th>12</th>
                                    <th>13</th>
                                    <th>14</th>
                                    <th>15</th>
                                    <th>16</th>
                                    <th>17</th>
                                    <th>18</th>
                                    <th>19</th>
                                    <th>20</th>
                                    <th>21</th>
                                    <th>22</th>
                                    <th>23</th>
                                    <th>24</th>
                                    <th>25</th>
                                    <th>27</th>
                                    <th>28</th>
                                    <th>29</th>
                                    <th>30</th>
                                    <th>31&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody id="individualEmployeemonthlyAttendanceTable">
                                <tr>
                                    <th>Check in at</th>
                                    <td class="fs-10 fw-normal">08:45 AM </td>
                                    <td class="fs-10 fw-normal">08:45 AM </td>
                                    <td class="fs-10 fw-normal">-</td>
                                    <td class="fs-10 fw-normal">08:45 AM </td>
                                    <td class="fs-10 fw-normal">12:15 PM </td>
                                    <td class="fs-10 fw-normal">08:45 AM </td>
                                    <td class="fs-10 fw-normal">08:45 AM </td>
                                    <td class="fs-10 fw-normal">08:45 AM </td>
                                    <td class="fs-10 fw-normal">08:45 AM </td>
                                    <td class="fs-10 fw-normal">- </td>
                                    <td class="fs-10 fw-normal">08:45 AM </td>
                                    <td class="fs-10 fw-normal">08:45 AM </td>
                                    <td class="fs-10 fw-normal">08:45 AM </td>
                                    <td class="fs-10 fw-normal">08:45 AM </td>
                                    <td class="fs-10 fw-normal">08:45 AM </td>
                                    <td class="fs-10 fw-normal">08:45 AM </td>
                                    <td class="fs-10 fw-normal">-</td>
                                    <td class="fs-10 fw-normal">08:45 AM </td>
                                    <td class="fs-10 fw-normal">08:45 AM </td>
                                    <td class="fs-10 fw-normal">08:45 AM </td>
                                    <td class="fs-10 fw-normal">08:45 AM </td>
                                    <td class="fs-10 fw-normal">08:45 AM </td>
                                    <td class="fs-10 fw-normal">08:45 AM </td>
                                    <td class="fs-10 fw-normal">-</td>
                                    <td class="fs-10 fw-normal">08:45 AM </td>
                                    <td class="fs-10 fw-normal">08:45 AM </td>
                                    <td class="fs-10 fw-normal">08:45 AM </td>
                                    <td class="fs-10 fw-normal">08:45 AM </td>
                                    <td class="fs-10 fw-normal">08:45 AM </td>
                                    <td class="fs-10 fw-normal">08:45 AM </td>
                                </tr>
                                <tr>
                                    <th>Check out at</th>
                                    <td class="fs-10 fw-normal">05:15 PM </td>
                                    <td class="fs-10 fw-normal">05:15 PM </td>
                                    <td class="fs-10 fw-normal">-</td>
                                    <td class="fs-10 fw-normal">05:15 PM </td>
                                    <td class="fs-10 fw-normal">06:25 PM </td>
                                    <td class="fs-10 fw-normal">05:15 PM </td>
                                    <td class="fs-10 fw-normal">05:15 PM </td>
                                    <td class="fs-10 fw-normal">05:15 PM </td>
                                    <td class="fs-10 fw-normal">05:15 PM </td>
                                    <td class="fs-10 fw-normal">-</td>
                                    <td class="fs-10 fw-normal">05:15 PM </td>
                                    <td class="fs-10 fw-normal">05:15 PM </td>
                                    <td class="fs-10 fw-normal">05:15 PM </td>
                                    <td class="fs-10 fw-normal">05:15 PM </td>
                                    <td class="fs-10 fw-normal">05:15 PM </td>
                                    <td class="fs-10 fw-normal">05:15 PM </td>
                                    <td class="fs-10 fw-normal">-</td>
                                    <td class="fs-10 fw-normal">05:15 PM </td>
                                    <td class="fs-10 fw-normal">05:15 PM </td>
                                    <td class="fs-10 fw-normal">05:15 PM </td>
                                    <td class="fs-10 fw-normal">05:15 PM </td>
                                    <td class="fs-10 fw-normal">05:15 PM </td>
                                    <td class="fs-10 fw-normal">05:15 PM </td>
                                    <td class="fs-10 fw-normal">-</td>
                                    <td class="fs-10 fw-normal">05:15 PM </td>
                                    <td class="fs-10 fw-normal">05:15 PM </td>
                                    <td class="fs-10 fw-normal">05:15 PM </td>
                                    <td class="fs-10 fw-normal">05:15 PM </td>
                                    <td class="fs-10 fw-normal">05:15 PM </td>
                                    <td class="fs-10 fw-normal">05:15 PM </td>
                                </tr>
                                <tr>
                                    <th>Break</th>
                                    <td class="fs-10 fw-normal">25 Min</td>
                                    <td class="fs-10 fw-normal">25 Min</td>
                                    <td class="fs-10 fw-normal">-</td>
                                    <td class="fs-10 fw-normal">25 Min</td>
                                    <td class="fs-10 fw-normal">-</td>
                                    <td class="fs-10 fw-normal">25 Min</td>
                                    <td class="fs-10 fw-normal">25 Min</td>
                                    <td class="fs-10 fw-normal">25 Min</td>
                                    <td class="fs-10 fw-normal">25 Min</td>
                                    <td class="fs-10 fw-normal">-</td>
                                    <td class="fs-10 fw-normal">25 Min</td>
                                    <td class="fs-10 fw-normal">25 Min</td>
                                    <td class="fs-10 fw-normal">25 Min</td>
                                    <td class="fs-10 fw-normal">25 Min</td>
                                    <td class="fs-10 fw-normal">25 Min</td>
                                    <td class="fs-10 fw-normal">25 Min</td>
                                    <td class="fs-10 fw-normal">-</td>
                                    <td class="fs-10 fw-normal">25 Min</td>
                                    <td class="fs-10 fw-normal">25 Min</td>
                                    <td class="fs-10 fw-normal">25 Min</td>
                                    <td class="fs-10 fw-normal">25 Min</td>
                                    <td class="fs-10 fw-normal">25 Min</td>
                                    <td class="fs-10 fw-normal">25 Min</td>
                                    <td class="fs-10 fw-normal">-</td>
                                    <td class="fs-10 fw-normal">25 Min</td>
                                    <td class="fs-10 fw-normal">25 Min</td>
                                    <td class="fs-10 fw-normal">25 Min</td>
                                    <td class="fs-10 fw-normal">25 Min</td>
                                    <td class="fs-10 fw-normal">25 Min</td>
                                    <td class="fs-10 fw-normal">25 Min</td>
                                </tr>
                                <tr>
                                    <th>Late</th>
                                    <td class="fs-10 fw-normal">5 Min</td>
                                    <td class="fs-10 fw-normal">5 Min</td>
                                    <td class="fs-10 fw-normal">-</td>
                                    <td class="fs-10 fw-normal">5 Min</td>
                                    <td class="fs-10 fw-normal">4.12 H</td>
                                    <td class="fs-10 fw-normal">5 Min</td>
                                    <td class="fs-10 fw-normal">5 Min</td>
                                    <td class="fs-10 fw-normal">5 Min</td>
                                    <td class="fs-10 fw-normal">5 Min</td>
                                    <td class="fs-10 fw-normal">-</td>
                                    <td class="fs-10 fw-normal">5 Min</td>
                                    <td class="fs-10 fw-normal">5 Min</td>
                                    <td class="fs-10 fw-normal">5 Min</td>
                                    <td class="fs-10 fw-normal">5 Min</td>
                                    <td class="fs-10 fw-normal">5 Min</td>
                                    <td class="fs-10 fw-normal">5 Min</td>
                                    <td class="fs-10 fw-normal">-</td>
                                    <td class="fs-10 fw-normal">5 Min</td>
                                    <td class="fs-10 fw-normal">5 Min</td>
                                    <td class="fs-10 fw-normal">5 Min</td>
                                    <td class="fs-10 fw-normal">5 Min</td>
                                    <td class="fs-10 fw-normal">5 Min</td>
                                    <td class="fs-10 fw-normal">5 Min</td>
                                    <td class="fs-10 fw-normal">-</td>
                                    <td class="fs-10 fw-normal">5 Min</td>
                                    <td class="fs-10 fw-normal">5 Min</td>
                                    <td class="fs-10 fw-normal">5 Min</td>
                                    <td class="fs-10 fw-normal">5 Min</td>
                                    <td class="fs-10 fw-normal">5 Min</td>
                                    <td class="fs-10 fw-normal">5 Min</td>
                                </tr>
                                <tr>
                                    <th>Early Leave</th>
                                    <td class="fs-10 fw-normal">12 Min</td>
                                    <td class="fs-10 fw-normal">12 Min</td>
                                    <td class="fs-10 fw-normal">-</td>
                                    <td class="fs-10 fw-normal">12 Min</td>
                                    <td class="fs-10 fw-normal">-</td>
                                    <td class="fs-10 fw-normal">12 Min</td>
                                    <td class="fs-10 fw-normal">12 Min</td>
                                    <td class="fs-10 fw-normal">12 Min</td>
                                    <td class="fs-10 fw-normal">12 Min</td>
                                    <td class="fs-10 fw-normal">-</td>
                                    <td class="fs-10 fw-normal">12 Min</td>
                                    <td class="fs-10 fw-normal">12 Min</td>
                                    <td class="fs-10 fw-normal">12 Min</td>
                                    <td class="fs-10 fw-normal">12 Min</td>
                                    <td class="fs-10 fw-normal">12 Min</td>
                                    <td class="fs-10 fw-normal">12 Min</td>
                                    <td class="fs-10 fw-normal">-</td>
                                    <td class="fs-10 fw-normal">12 Min</td>
                                    <td class="fs-10 fw-normal">12 Min</td>
                                    <td class="fs-10 fw-normal">12 Min</td>
                                    <td class="fs-10 fw-normal">12 Min</td>
                                    <td class="fs-10 fw-normal">12 Min</td>
                                    <td class="fs-10 fw-normal">12 Min</td>
                                    <td class="fs-10 fw-normal">-</td>
                                    <td class="fs-10 fw-normal">12 Min</td>
                                    <td class="fs-10 fw-normal">12 Min</td>
                                    <td class="fs-10 fw-normal">12 Min</td>
                                    <td class="fs-10 fw-normal">12 Min</td>
                                    <td class="fs-10 fw-normal">12 Min</td>
                                    <td class="fs-10 fw-normal">12 Min</td>
                                </tr>
                                <tr>
                                    <th>Over Time</th>
                                    <td class="fs-10 fw-normal">55 Min</td>
                                    <td class="fs-10 fw-normal">55 Min</td>
                                    <td class="fs-10 fw-normal">-</td>
                                    <td class="fs-10 fw-normal">55 Min</td>
                                    <td class="fs-10 fw-normal">-</td>
                                    <td class="fs-10 fw-normal">55 Min</td>
                                    <td class="fs-10 fw-normal">55 Min</td>
                                    <td class="fs-10 fw-normal">55 Min</td>
                                    <td class="fs-10 fw-normal">55 Min</td>
                                    <td class="fs-10 fw-normal">-</td>
                                    <td class="fs-10 fw-normal">55 Min</td>
                                    <td class="fs-10 fw-normal">55 Min</td>
                                    <td class="fs-10 fw-normal">55 Min</td>
                                    <td class="fs-10 fw-normal">55 Min</td>
                                    <td class="fs-10 fw-normal">55 Min</td>
                                    <td class="fs-10 fw-normal">55 Min</td>
                                    <td class="fs-10 fw-normal">-</td>
                                    <td class="fs-10 fw-normal">55 Min</td>
                                    <td class="fs-10 fw-normal">55 Min</td>
                                    <td class="fs-10 fw-normal">55 Min</td>
                                    <td class="fs-10 fw-normal">55 Min</td>
                                    <td class="fs-10 fw-normal">55 Min</td>
                                    <td class="fs-10 fw-normal">55 Min</td>
                                    <td class="fs-10 fw-normal">-</td>
                                    <td class="fs-10 fw-normal">55 Min</td>
                                    <td class="fs-10 fw-normal">55 Min</td>
                                    <td class="fs-10 fw-normal">55 Min</td>
                                    <td class="fs-10 fw-normal">55 Min</td>
                                    <td class="fs-10 fw-normal">55 Min</td>
                                    <td class="fs-10 fw-normal">55 Min</td>
                                </tr>
                                <tr>
                                    <th>Production Hours</th>
                                    <td>
                                        <span class="badge text-bg-success">
                                            8.41 H
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            8.41 H
                                        </span>
                                    </td>
                                    <td>-</td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            8.41 H
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-danger">
                                            4.20 H
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            8.41 H
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            8.41 H
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            8.41 H
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            8.41 H
                                        </span>
                                    </td>
                                    <td>-</td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            8.41 H
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            8.41 H
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            8.41 H
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            8.41 H
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            8.41 H
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            8.41 H
                                        </span>
                                    </td>
                                    <td>-</td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            8.41 H
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            8.41 H
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            8.41 H
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            8.41 H
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            8.41 H
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            8.41 H
                                        </span>
                                    </td>
                                    <td>-</td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            8.41 H
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            8.41 H
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            8.41 H
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            8.41 H
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            8.41 H
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            8.41 H
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Status</th>
                                    <td>
                                        <span class="badge text-bg-success">
                                            P
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            P
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-warning">
                                            W
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            P
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-danger">
                                            A
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            P
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            P
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            P
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            P
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-warning">
                                            W
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            P
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            P
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            P
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            P
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            P
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            P
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-warning">
                                            W
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            P
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            P
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            P
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            P
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            P
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            P
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-warning">
                                            W
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            P
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            P
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            P
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            P
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            P
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge text-bg-success">
                                            P
                                        </span>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div> *@
                <!-- Leave Explaination-->
                <div class="d-flex my-3 flex-wrap border-bottom ">
                    <div class="full-present me-2">
                        <p class="badge text-bg-success">P</p>
                        <span>Present</span>
                    </div>
                    <div class="me-2">
                        <p class="badge text-bg-danger">A</p>
                        <span>Absence</span>
                    </div>
                    <div class="me-2">
                        <p class="badge text-bg-warning">W</p>
                        <span>Weekend</span>
                    </div>
                    <div class="me-2">
                        <p class="badge badge-phoenix badge-phoenix-warning">H</p>
                        <span>Holyday</span>
                    </div>
                    <div class="me-2">
                        <p class="badge badge-phoenix badge-phoenix-danger">C</p>
                        <span>Casual Leave</span>
                    </div>
                    <div class="me-2">
                        <p class="badge text-bg-primary">M</p>
                        <span>Medical Leave</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section Scripts {
    <script src="~/js/pages/attendancemanagement/employeereportindividual/monthlyreportindividual.js"></script> 
}