USE [master]
GO
/****** Object:  Database [DEMO-DB]    Script Date: 05/15/25 02:34:11 PM ******/
CREATE DATABASE [DEMO-DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DEMO-DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DEMO-DB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DEMO-DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DEMO-DB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DEMO-DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DEMO-DB]
GO
/****** Object:  Table [dbo].[ActionLogs]    Script Date: 05/15/25 02:34:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActionLogs](
	[ActionLogID] [int] IDENTITY(1,1) NOT NULL,
	[UserEmail] [nvarchar](150) NULL,
	[ActionName] [nvarchar](150) NULL,
	[ActionBefore] [nvarchar](max) NULL,
	[ActionAfter] [nvarchar](max) NULL,
	[LIP] [nvarchar](20) NULL,
	[LMAC] [nvarchar](30) NULL,
	[CreatedBy] [int] NULL,
	[UpdatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ActionLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ActionTaken]    Script Date: 05/15/25 02:34:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActionTaken](
	[ActionTakenID] [int] IDENTITY(1,1) NOT NULL,
	[ActionTakenName] [nvarchar](50) NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedBy] [int] NULL,
	[DeletedAt] [datetime] NULL,
	[LIP] [nvarchar](20) NULL,
	[LMAC] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ActionTakenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 05/15/25 02:34:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 05/15/25 02:34:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Discriminator] [nvarchar](21) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 05/15/25 02:34:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 05/15/25 02:34:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 05/15/25 02:34:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 05/15/25 02:34:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[Discriminator] [nvarchar](21) NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[Gender] [tinyint] NULL,
	[EmployeeId] [int] NULL,
	[NIDNumber] [nvarchar](max) NULL,
	[PresentAddress] [nvarchar](max) NULL,
	[PermanentAddress] [nvarchar](max) NULL,
	[CreatedDateTime] [datetime2](7) NULL,
	[UpdatedDateTime] [datetime2](7) NULL,
	[JoiningDate] [datetime2](7) NULL,
	[DateofBirth] [datetime2](7) NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 05/15/25 02:34:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 05/15/25 02:34:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeCode] [varchar](20) NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[FatherName] [nvarchar](70) NULL,
	[MotherName] [nvarchar](70) NULL,
	[DateOfBirth] [date] NULL,
	[BirthCertificateNo] [nvarchar](40) NULL,
	[BirthPlace] [nvarchar](100) NULL,
	[GenderID] [int] NULL,
	[BloodGroupID] [int] NULL,
	[NationalityID] [int] NULL,
	[NID] [varchar](50) NULL,
	[ReligionID] [int] NULL,
	[MaritalStatusID] [int] NULL,
	[CardNo] [nvarchar](50) NULL,
	[MobileNumber] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[TIN] [nvarchar](50) NULL,
	[EmployeeImageFileName] [nvarchar](50) NULL,
	[EmployeeSignatureFileName] [nvarchar](50) NULL,
	[OtherActivities] [nvarchar](255) NULL,
	[LIP] [nvarchar](20) NULL,
	[LMAC] [nvarchar](30) NULL,
	[CreatedBy] [int] NULL,
	[UpdatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
	[DeletedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuTab]    Script Date: 05/15/25 02:34:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuTab](
	[MenuTabId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Type] [nvarchar](100) NOT NULL,
	[ParentId] [int] NULL,
	[OrderBy] [int] NOT NULL,
	[ControllerName] [nvarchar](100) NULL,
	[ViewName]  AS ([ControllerName]) PERSISTED,
	[Icon] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MenuTabId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 05/15/25 02:34:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Permissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleModulePermissions]    Script Date: 05/15/25 02:34:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleModulePermissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NULL,
	[MenuTabId] [int] NOT NULL,
	[PermissionId] [int] NOT NULL,
	[IsGranted] [bit] NOT NULL,
 CONSTRAINT [PK_RoleModulePermissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ActionLogs] ON 

INSERT [dbo].[ActionLogs] ([ActionLogID], [UserEmail], [ActionName], [ActionBefore], [ActionAfter], [LIP], [LMAC], [CreatedBy], [UpdatedBy], [CreatedAt], [UpdatedAt]) VALUES (1, N'superadmin@gmail.com', N'LogIn', NULL, NULL, N'192.168.0.79', N'4CCC6ACEFE0E', NULL, NULL, CAST(N'2025-04-19T13:51:38.640' AS DateTime), NULL)
INSERT [dbo].[ActionLogs] ([ActionLogID], [UserEmail], [ActionName], [ActionBefore], [ActionAfter], [LIP], [LMAC], [CreatedBy], [UpdatedBy], [CreatedAt], [UpdatedAt]) VALUES (2, N'superadmin@gmail.com', N'LogIn', NULL, NULL, N'192.168.0.80', N'4CCC6ACEFE0E', NULL, NULL, CAST(N'2025-04-19T15:04:09.427' AS DateTime), NULL)
INSERT [dbo].[ActionLogs] ([ActionLogID], [UserEmail], [ActionName], [ActionBefore], [ActionAfter], [LIP], [LMAC], [CreatedBy], [UpdatedBy], [CreatedAt], [UpdatedAt]) VALUES (3, N'superadmin@gmail.com', N'LogIn', NULL, NULL, N'192.168.0.80', N'4CCC6ACEFE0E', NULL, NULL, CAST(N'2025-04-19T16:01:47.103' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[ActionLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[ActionTaken] ON 

INSERT [dbo].[ActionTaken] ([ActionTakenID], [ActionTakenName], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt], [DeletedBy], [DeletedAt], [LIP], [LMAC]) VALUES (1, N'Action 1', NULL, CAST(N'2025-04-20T17:01:57.470' AS DateTime), NULL, CAST(N'2025-04-20T17:02:41.383' AS DateTime), NULL, NULL, N'192.168.0.80', N'4CCC6ACEFE0E')
INSERT [dbo].[ActionTaken] ([ActionTakenID], [ActionTakenName], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt], [DeletedBy], [DeletedAt], [LIP], [LMAC]) VALUES (2, N'Action 2', NULL, CAST(N'2025-04-20T17:02:47.543' AS DateTime), NULL, CAST(N'2025-04-20T18:06:36.573' AS DateTime), NULL, NULL, N'192.168.0.80', N'4CCC6ACEFE0E')
INSERT [dbo].[ActionTaken] ([ActionTakenID], [ActionTakenName], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt], [DeletedBy], [DeletedAt], [LIP], [LMAC]) VALUES (3, N'Action 3', NULL, CAST(N'2025-04-20T18:11:13.337' AS DateTime), NULL, NULL, NULL, NULL, N'192.168.0.80', N'4CCC6ACEFE0E')
SET IDENTITY_INSERT [dbo].[ActionTaken] OFF
GO
INSERT [dbo].[AspNetRoles] ([Id], [Discriminator], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'69d5fd36-3c82-411d-9d03-f5f480a76a77', N'ApplicationRole', N'SuperAdmin', N'SUPERADMIN', NULL)
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'52add4b8-af22-49c1-b8ea-e838b9f6ef7e', N'69d5fd36-3c82-411d-9d03-f5f480a76a77')
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[MenuTab] ON 

INSERT [dbo].[MenuTab] ([MenuTabId], [Title], [Type], [ParentId], [OrderBy], [ControllerName], [Icon], [IsActive]) VALUES (1, N'Home', N'Primary', NULL, 1, NULL, N'pie-chart', 1)
INSERT [dbo].[MenuTab] ([MenuTabId], [Title], [Type], [ParentId], [OrderBy], [ControllerName], [Icon], [IsActive]) VALUES (2, N'Master Setup', N'Primary', NULL, 2, NULL, N'layers', 1)
INSERT [dbo].[MenuTab] ([MenuTabId], [Title], [Type], [ParentId], [OrderBy], [ControllerName], [Icon], [IsActive]) VALUES (3, N'Admin', N'Primary', NULL, 3, NULL, N'user', 1)
SET IDENTITY_INSERT [dbo].[MenuTab] OFF
GO
SET IDENTITY_INSERT [dbo].[Permissions] ON 

INSERT [dbo].[Permissions] ([Id], [Name]) VALUES (1, N'VIEW')
INSERT [dbo].[Permissions] ([Id], [Name]) VALUES (2, N'EDIT')
INSERT [dbo].[Permissions] ([Id], [Name]) VALUES (3, N'CREATE')
SET IDENTITY_INSERT [dbo].[Permissions] OFF
GO
SET IDENTITY_INSERT [dbo].[RoleModulePermissions] ON 

INSERT [dbo].[RoleModulePermissions] ([Id], [RoleId], [MenuTabId], [PermissionId], [IsGranted]) VALUES (1, N'69d5fd36-3c82-411d-9d03-f5f480a76a77', 3, 1, 1)
INSERT [dbo].[RoleModulePermissions] ([Id], [RoleId], [MenuTabId], [PermissionId], [IsGranted]) VALUES (2, N'69d5fd36-3c82-411d-9d03-f5f480a76a77', 6, 1, 1)
INSERT [dbo].[RoleModulePermissions] ([Id], [RoleId], [MenuTabId], [PermissionId], [IsGranted]) VALUES (3, N'69d5fd36-3c82-411d-9d03-f5f480a76a77', 7, 1, 1)
SET IDENTITY_INSERT [dbo].[RoleModulePermissions] OFF
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_Employees_EmployeeID] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_Employees_EmployeeID]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[MenuTab]  WITH CHECK ADD  CONSTRAINT [FK_MenuTab_MenuTab_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[MenuTab] ([MenuTabId])
GO
ALTER TABLE [dbo].[MenuTab] CHECK CONSTRAINT [FK_MenuTab_MenuTab_ParentId]
GO
ALTER TABLE [dbo].[RoleModulePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RoleModulePermissions_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
GO
ALTER TABLE [dbo].[RoleModulePermissions] CHECK CONSTRAINT [FK_RoleModulePermissions_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[RoleModulePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RoleModulePermissions_MenuTab_MenuTabId] FOREIGN KEY([MenuTabId])
REFERENCES [dbo].[MenuTab] ([MenuTabId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoleModulePermissions] CHECK CONSTRAINT [FK_RoleModulePermissions_MenuTab_MenuTabId]
GO
ALTER TABLE [dbo].[RoleModulePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RoleModulePermissions_Permissions_PermissionId] FOREIGN KEY([PermissionId])
REFERENCES [dbo].[Permissions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoleModulePermissions] CHECK CONSTRAINT [FK_RoleModulePermissions_Permissions_PermissionId]
GO
USE [master]
GO
