<!-- create bulk shift for Employee -->
<div class="modal fade" id="create_bulk_shift">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Select Employees</h4>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="container">
                <div class="m-2">
                    <ul class="nav nav-underline fs-9" id="myTab" role="tablist">
                        <li class="nav-item"><a class="nav-link active" id="day7-tab" data-bs-toggle="tab" href="#tab-day7" role="tab" aria-controls="tab-day7" aria-selected="true">For Daily</a></li>
                        <li class="nav-item"><a class="nav-link" id="day15-tab" data-bs-toggle="tab" href="#tab-day15" role="tab" aria-controls="tab-day15" aria-selected="false">For Weekly</a></li>
                        <li class="nav-item"><a class="nav-link" id="day30-tab" data-bs-toggle="tab" href="#tab-day30" role="tab" aria-controls="tab-day30" aria-selected="false">For Monthly</a></li>
                    </ul>
                    <div class="tab-content mt-3" id="myTabContent">
                        <div class="tab-pane fade show active" id="tab-day7" role="tabpanel" aria-labelledby="day7-tab">
                            <form action="shift-roster-ui.html">
                                <div class="modal-body pb-0">
                                    <div class="row">

                                        <div class="col-md-4">
                                            <div class="mb-3">
                                                <label class="form-label" for="organizerSingleCompany">Company</label>
                                                <select class="form-multi-select" multiple data-coreui-search="true">
                                                    <option value="1">CSL</option>
                                                    <option value="2">GCTL</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="mb-3">
                                                <label class="form-label" for="organizerSingle">Department</label>
                                                <select class="form-multi-select" multiple data-coreui-search="true">
                                                    <option value="0">Developer</option>
                                                    <option value="1">Manager</option>
                                                    <option value="2">Designer</option>
                                                    <option value="3">Finance</option>
                                                </select>
                                            </div>

                                        </div>

                                        <div class="col-md-4">
                                            <div class="mb-3">
                                                <label class="form-label" for="organizerSingle">Employee Name</label>
                                                <select class="form-multi-select" id="multiple-emp-select" multiple data-coreui-selection-type="counter" data-coreui-search="true">
                                                    <optgroup label="Developer">
                                                        <option value="2">Alam</option>
                                                        <option value="3">Momin</option>
                                                    </optgroup>
                                                    <optgroup label="Designer">
                                                        <option value="4">Name (id)</option>
                                                        <option value="5">Name (id)</option>
                                                    </optgroup>
                                                </select>
                                            </div>

                                        </div>




                                        <div id="div1" class=" p-3  rounded mb-3">
                                            <div class="col-md-12">
                                                <div class="mb-3">
                                                    <select class="form-select " id="organizerSingle3">
                                                        <option value="">Select Shift</option>
                                                        <option>Shift 1 (09:00 - 17:00)</option>
                                                        <option>Shift 2 (08:00 - 16:00)</option>
                                                        <option>Shift 3 (10:00 - 18:00)</option>
                                                        <option>Day off</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="div2" class=" p-3 border rounded mb-3">
                                            <p id="shiftModalDetails" class="mb-3 text-muted"></p>
                                            <div class="mb-3">
                                                <label class="form-label">New shift name</label>
                                                <input type="text" class="form-control" id="shiftName">
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col">
                                                    <label class="form-label">From</label>
                                                    <select class="form-select" id="shiftFrom">
                                                        <option>09:00</option>
                                                        <option>10:00</option>
                                                        <option>11:00</option>
                                                    </select>
                                                </div>
                                                <div class="col">
                                                    <label class="form-label">To</label>
                                                    <select class="form-select" id="shiftTo">
                                                        <option>17:00</option>
                                                        <option>18:00</option>
                                                        <option>19:00</option>
                                                    </select>
                                                </div>

                                            </div>

                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="shiftTemplate">
                                                <label class="form-check-label" for="shiftTemplate">Save as shift template</label>
                                            </div>
                                        </div>
                                        <button id="toggleButton" class="btn btn-primary" onclick="toggleDivs()">Create New Shift</button>



                                        <script>
                                            function toggleDivs() {
                                                var div1 = document.getElementById("div1");
                                                var div2 = document.getElementById("div2");
                                                var button = document.getElementById("toggleButton");

                                                if (div1.style.display === "none") {
                                                    div1.style.display = "block";
                                                    div2.style.display = "none";
                                                    button.textContent = "Create New Shift";
                                                } else {
                                                    div1.style.display = "none";
                                                    div2.style.display = "block";
                                                    button.textContent = "Select From Present Shift";
                                                }
                                            }
                                        </script>

                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="tab-day15" role="tabpanel" aria-labelledby="day15-tab">
                            <form action="shift-roster-ui.html">
                                <div class="modal-body pb-0">
                                    <div class="row">

                                        <div class="col-md-4">
                                            <div class="mb-3">
                                                <label class="form-label" for="organizerSingleCompany">Company</label>
                                                <select class="form-multi-select" multiple data-coreui-search="true">
                                                    <option value="1">CSL</option>
                                                    <option value="2">GCTL</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="mb-3">
                                                <label class="form-label" for="organizerSingle">Department</label>
                                                <select class="form-multi-select" multiple data-coreui-search="true">
                                                    <option value="0">Developer</option>
                                                    <option value="1">Manager</option>
                                                    <option value="2">Designer</option>
                                                    <option value="3">Finance</option>
                                                </select>
                                            </div>

                                        </div>

                                        <div class="col-md-4">
                                            <div class="mb-3">
                                                <label class="form-label" for="organizerSingle">Employee Name</label>
                                                <select class="form-multi-select" id="multiple-emp-select" multiple data-coreui-selection-type="counter" data-coreui-search="true">
                                                    <optgroup label="Developer">
                                                        <option value="2">Alam (id)</option>
                                                        <option value="3">Momin (id)</option>
                                                    </optgroup>
                                                    <optgroup label="Designer">
                                                        <option value="4">Name (id)</option>
                                                        <option value="5">Name (id)</option>
                                                    </optgroup>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="mb-3">
                                                <label class="form-label" for="organizerSingle">Effective from</label>
                                                <input class="form-control datetimepicker" id="datepicker" type="text" placeholder="dd/mm/yyyy" data-options='{"disableMobile":true,"dateFormat":"d/m/Y"}' />
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="mb-3">
                                                <label class="form-label" for="organizerSingle">Effective to</label>
                                                <input class="form-control datetimepicker" id="datepicker" type="text" placeholder="dd/mm/yyyy" data-options='{"disableMobile":true,"dateFormat":"d/m/Y"}' />
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="mb-3 mt-5">
                                                <input class="form-check-input" id="flexCheckDefault" type="checkbox" value="" />
                                                <label class="form-check-label" for="flexCheckDefault"> Repeated</label>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-check border-bottom mb-3">
                                                <h5 class="form-check-label" for="enableCheckbox">Week 1</h5>
                                            </div>

                                            <div class="">
                                                <div class="col-md-12">
                                                    <div class="mb-3">
                                                        <select class="form-select " id="organizerSingle3">
                                                            <option value="">Saturday</option>
                                                            <option>Shift 1 (09:00 - 17:00)</option>
                                                            <option>Shift 2 (08:00 - 16:00)</option>
                                                            <option>Shift 3 (10:00 - 18:00)</option>
                                                            <option>Day off</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="mb-3">
                                                        <select class="form-select " id="organizerSingle3">
                                                            <option value="">Sunday</option>
                                                            <option>Shift 1 (09:00 - 17:00)</option>
                                                            <option>Shift 2 (08:00 - 16:00)</option>
                                                            <option>Shift 3 (10:00 - 18:00)</option>
                                                            <option>Day off</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="mb-3">
                                                        <select class="form-select " id="organizerSingle3">
                                                            <option value="">Monday</option>
                                                            <option>Shift 1 (09:00 - 17:00)</option>
                                                            <option>Shift 2 (08:00 - 16:00)</option>
                                                            <option>Shift 3 (10:00 - 18:00)</option>
                                                            <option>Day off</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="mb-3">
                                                        <select class="form-select " id="organizerSingle3">
                                                            <option value="">Tuesday</option>
                                                            <option>Shift 1 (09:00 - 17:00)</option>
                                                            <option>Shift 2 (08:00 - 16:00)</option>
                                                            <option>Shift 3 (10:00 - 18:00)</option>
                                                            <option>Day off</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="mb-3">
                                                        <select class="form-select " id="organizerSingle3">
                                                            <option value="">Wednesday</option>
                                                            <option>Shift 1 (09:00 - 17:00)</option>
                                                            <option>Shift 2 (08:00 - 16:00)</option>
                                                            <option>Shift 3 (10:00 - 18:00)</option>
                                                            <option>Day off</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="mb-3">
                                                        <select class="form-select " id="organizerSingle3">
                                                            <option value="">Thursday</option>
                                                            <option>Shift 1 (09:00 - 17:00)</option>
                                                            <option>Shift 2 (08:00 - 16:00)</option>
                                                            <option>Shift 3 (10:00 - 18:00)</option>
                                                            <option>Day off</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="mb-3">
                                                        <select class="form-select " id="organizerSingle3">
                                                            <option value="">Friday</option>
                                                            <option>Shift 1 (09:00 - 17:00)</option>
                                                            <option>Shift 2 (08:00 - 16:00)</option>
                                                            <option>Shift 3 (10:00 - 18:00)</option>
                                                            <option>Day off</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-md-6">
                                            <div class="form-check border-bottom mb-3">
                                                <input class="form-check-input" type="checkbox" id="enableCheckbox" onclick="toggleDiv()">
                                                <label class="form-check-label" for="enableCheckbox">Week 2</label>
                                            </div>
                                            <div id="contentDiv" class="disabled">
                                                <div class="col-md-12">
                                                    <div class="mb-3">
                                                        <select class="form-select " id="organizerSingle3">
                                                            <option value="">Saturday</option>
                                                            <option>Shift 1 (09:00 - 17:00)</option>
                                                            <option>Shift 2 (08:00 - 16:00)</option>
                                                            <option>Shift 3 (10:00 - 18:00)</option>
                                                            <option>Day off</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="mb-3">
                                                        <select class="form-select " id="organizerSingle3">
                                                            <option value="">Sunday</option>
                                                            <option>Shift 1 (09:00 - 17:00)</option>
                                                            <option>Shift 2 (08:00 - 16:00)</option>
                                                            <option>Shift 3 (10:00 - 18:00)</option>
                                                            <option>Day off</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="mb-3">
                                                        <select class="form-select " id="organizerSingle3">
                                                            <option value="">Monday</option>
                                                            <option>Shift 1 (09:00 - 17:00)</option>
                                                            <option>Shift 2 (08:00 - 16:00)</option>
                                                            <option>Shift 3 (10:00 - 18:00)</option>
                                                            <option>Day off</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="mb-3">
                                                        <select class="form-select " id="organizerSingle3">
                                                            <option value="">Tuesday</option>
                                                            <option>Shift 1 (09:00 - 17:00)</option>
                                                            <option>Shift 2 (08:00 - 16:00)</option>
                                                            <option>Shift 3 (10:00 - 18:00)</option>
                                                            <option>Day off</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="mb-3">
                                                        <select class="form-select " id="organizerSingle3">
                                                            <option value="">Wednesday</option>
                                                            <option>Shift 1 (09:00 - 17:00)</option>
                                                            <option>Shift 2 (08:00 - 16:00)</option>
                                                            <option>Shift 3 (10:00 - 18:00)</option>
                                                            <option>Day off</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="mb-3">
                                                        <select class="form-select " id="organizerSingle3">
                                                            <option value="">Thursday</option>
                                                            <option>Shift 1 (09:00 - 17:00)</option>
                                                            <option>Shift 2 (08:00 - 16:00)</option>
                                                            <option>Shift 3 (10:00 - 18:00)</option>
                                                            <option>Day off</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="mb-3">
                                                        <select class="form-select " id="organizerSingle3">
                                                            <option value="">Friday</option>
                                                            <option>Shift 1 (09:00 - 17:00)</option>
                                                            <option>Shift 2 (08:00 - 16:00)</option>
                                                            <option>Shift 3 (10:00 - 18:00)</option>
                                                            <option>Day off</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <script>
                                                function toggleDiv() {
                                                    var checkbox = document.getElementById("enableCheckbox");
                                                    var contentDiv = document.getElementById("contentDiv");
                                                    if (checkbox.checked) {
                                                        contentDiv.classList.remove("disabled");
                                                    } else {
                                                        contentDiv.classList.add("disabled");
                                                    }
                                                }
                                            </script>

                                        </div>


                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="tab-day30" role="tabpanel" aria-labelledby="day30-tab">
                            <form action="spiral-pattern-schedule-ui.html">
                                <div class="modal-body pb-0">
                                    <div class="row">



                                        <div class="col-md-4">
                                            <div class="mb-3">
                                                <label class="form-label" for="organizerSingleCompany">Company</label>
                                                <select class="form-multi-select" multiple data-coreui-search="true">
                                                    <option value="1">CSL</option>
                                                    <option value="2">GCTL</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="mb-3">
                                                <label class="form-label" for="organizerSingle">Department</label>
                                                <select class="form-multi-select" multiple data-coreui-search="true">
                                                    <option value="0">Developer</option>
                                                    <option value="1">Manager</option>
                                                    <option value="2">Designer</option>
                                                    <option value="3">Finance</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="mb-3">
                                                <label class="form-label" for="organizerSingle">Employee Name</label>
                                                <select class="form-multi-select" id="multiple-emp-select" multiple data-coreui-selection-type="counter" data-coreui-search="true">
                                                    <optgroup label="Developer">
                                                        <option value="2">Alam (id)</option>
                                                        <option value="3">Momin (id)</option>
                                                    </optgroup>
                                                    <optgroup label="Designer">
                                                        <option value="4">Name (id)</option>
                                                        <option value="5">Name (id)</option>
                                                    </optgroup>
                                                </select>
                                            </div>

                                        </div>

                                        <div class="col-md-4">
                                            <div class="mb-3">
                                                <label class="form-label" for="organizerSingle">Effective from</label>
                                                <input class="form-control datetimepicker" id="datepicker" type="text" placeholder="dd/mm/yyyy" data-options='{"disableMobile":true,"dateFormat":"d/m/Y"}' />
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="mb-3">
                                                <label class="form-label" for="organizerSingle">Effective to</label>
                                                <input class="form-control datetimepicker" id="datepicker" type="text" placeholder="dd/mm/yyyy" data-options='{"disableMobile":true,"dateFormat":"d/m/Y"}' />
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="mb-3 mt-5">
                                                <input class="form-check-input" id="flexCheckDefault" type="checkbox" value="" />
                                                <label class="form-check-label" for="flexCheckDefault"> Repeated</label>
                                            </div>
                                        </div>


                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                <div class="mb-3">
                                                    <label class="form-label" for="floaTingLabelSingleSelect">Select Month</label>
                                                    <select class="form-select " id="organizerSingle3">
                                                        <option value="">January -2025</option>
                                                        <option selected>February -2025</option>
                                                        <option>March -2025</option>
                                                        <option>April -2025</option>
                                                        <option>May -2025</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <select class="form-select " id="organizerSingle3">
                                                    <option value="">Sat 01</option>
                                                    <option>Shift 1 (09:00 - 17:00)</option>
                                                    <option>Shift 2 (08:00 - 16:00)</option>
                                                    <option>Shift 3 (10:00 - 18:00)</option>
                                                    <option>Day off</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <select class="form-select " id="organizerSingle3">
                                                    <option value="">Sun 02</option>
                                                    <option>Shift 1 (09:00 - 17:00)</option>
                                                    <option>Shift 2 (08:00 - 16:00)</option>
                                                    <option>Shift 3 (10:00 - 18:00)</option>
                                                    <option>Day off</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <select class="form-select " id="organizerSingle3">
                                                    <option value="">Mon 03</option>
                                                    <option>Shift 1 (09:00 - 17:00)</option>
                                                    <option>Shift 2 (08:00 - 16:00)</option>
                                                    <option>Shift 3 (10:00 - 18:00)</option>
                                                    <option>Day off</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <select class="form-select " id="organizerSingle3">
                                                    <option value="">Tue 04</option>
                                                    <option>Shift 1 (09:00 - 17:00)</option>
                                                    <option>Shift 2 (08:00 - 16:00)</option>
                                                    <option>Shift 3 (10:00 - 18:00)</option>
                                                    <option>Day off</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <select class="form-select " id="organizerSingle3">
                                                    <option value="">Wed 05</option>
                                                    <option>Shift 1 (09:00 - 17:00)</option>
                                                    <option>Shift 2 (08:00 - 16:00)</option>
                                                    <option>Shift 3 (10:00 - 18:00)</option>
                                                    <option>Day off</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <select class="form-select " id="organizerSingle3">
                                                    <option value="">Thu 06</option>
                                                    <option>Shift 1 (09:00 - 17:00)</option>
                                                    <option>Shift 2 (08:00 - 16:00)</option>
                                                    <option>Shift 3 (10:00 - 18:00)</option>
                                                    <option>Day off</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <select class="form-select " id="organizerSingle3">
                                                    <option value="">Fri 07</option>
                                                    <option>Shift 1 (09:00 - 17:00)</option>
                                                    <option>Shift 2 (08:00 - 16:00)</option>
                                                    <option>Shift 3 (10:00 - 18:00)</option>
                                                    <option>Day off</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <select class="form-select " id="organizerSingle3">
                                                    <option value="">Sat 08</option>
                                                    <option>Shift 1 (09:00 - 17:00)</option>
                                                    <option>Shift 2 (08:00 - 16:00)</option>
                                                    <option>Shift 3 (10:00 - 18:00)</option>
                                                    <option>Day off</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <select class="form-select " id="organizerSingle3">
                                                    <option value="">Sun 09</option>
                                                    <option>Shift 1 (09:00 - 17:00)</option>
                                                    <option>Shift 2 (08:00 - 16:00)</option>
                                                    <option>Shift 3 (10:00 - 18:00)</option>
                                                    <option>Day off</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <select class="form-select " id="organizerSingle3">
                                                    <option value="">Mon 10</option>
                                                    <option>Shift 1 (09:00 - 17:00)</option>
                                                    <option>Shift 2 (08:00 - 16:00)</option>
                                                    <option>Shift 3 (10:00 - 18:00)</option>
                                                    <option>Day off</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <select class="form-select " id="organizerSingle3">
                                                    <option value="">Tue 11</option>
                                                    <option>Shift 1 (09:00 - 17:00)</option>
                                                    <option>Shift 2 (08:00 - 16:00)</option>
                                                    <option>Shift 3 (10:00 - 18:00)</option>
                                                    <option>Day off</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <select class="form-select " id="organizerSingle3">
                                                    <option value="">Wed 12</option>
                                                    <option>Shift 1 (09:00 - 17:00)</option>
                                                    <option>Shift 2 (08:00 - 16:00)</option>
                                                    <option>Shift 3 (10:00 - 18:00)</option>
                                                    <option>Day off</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <select class="form-select " id="organizerSingle3">
                                                    <option value="">Thu 13</option>
                                                    <option>Shift 1 (09:00 - 17:00)</option>
                                                    <option>Shift 2 (08:00 - 16:00)</option>
                                                    <option>Shift 3 (10:00 - 18:00)</option>
                                                    <option>Day off</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <select class="form-select " id="organizerSingle3">
                                                    <option value="">Fri 14</option>
                                                    <option>Shift 1 (09:00 - 17:00)</option>
                                                    <option>Shift 2 (08:00 - 16:00)</option>
                                                    <option>Shift 3 (10:00 - 18:00)</option>
                                                    <option>Day off</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <select class="form-select " id="organizerSingle3">
                                                    <option value="">Sat 15</option>
                                                    <option>Shift 1 (09:00 - 17:00)</option>
                                                    <option>Shift 2 (08:00 - 16:00)</option>
                                                    <option>Shift 3 (10:00 - 18:00)</option>
                                                    <option>Day off</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <select class="form-select " id="organizerSingle3">
                                                    <option value="">Sun 16</option>
                                                    <option>Shift 1 (09:00 - 17:00)</option>
                                                    <option>Shift 2 (08:00 - 16:00)</option>
                                                    <option>Shift 3 (10:00 - 18:00)</option>
                                                    <option>Day off</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <select class="form-select " id="organizerSingle3">
                                                    <option value="">Mon 17</option>
                                                    <option>Shift 1 (09:00 - 17:00)</option>
                                                    <option>Shift 2 (08:00 - 16:00)</option>
                                                    <option>Shift 3 (10:00 - 18:00)</option>
                                                    <option>Day off</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <select class="form-select " id="organizerSingle3">
                                                    <option value="">Tue 18</option>
                                                    <option>Shift 1 (09:00 - 17:00)</option>
                                                    <option>Shift 2 (08:00 - 16:00)</option>
                                                    <option>Shift 3 (10:00 - 18:00)</option>
                                                    <option>Day off</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <select class="form-select " id="organizerSingle3">
                                                    <option value="">Wed 19</option>
                                                    <option>Shift 1 (09:00 - 17:00)</option>
                                                    <option>Shift 2 (08:00 - 16:00)</option>
                                                    <option>Shift 3 (10:00 - 18:00)</option>
                                                    <option>Day off</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <select class="form-select " id="organizerSingle3">
                                                    <option value="">Thu 20</option>
                                                    <option>Shift 1 (09:00 - 17:00)</option>
                                                    <option>Shift 2 (08:00 - 16:00)</option>
                                                    <option>Shift 3 (10:00 - 18:00)</option>
                                                    <option>Day off</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <select class="form-select " id="organizerSingle3">
                                                    <option value="">Fri 21</option>
                                                    <option>Shift 1 (09:00 - 17:00)</option>
                                                    <option>Shift 2 (08:00 - 16:00)</option>
                                                    <option>Shift 3 (10:00 - 18:00)</option>
                                                    <option>Day off</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <select class="form-select " id="organizerSingle3">
                                                    <option value="">Sat 22</option>
                                                    <option>Shift 1 (09:00 - 17:00)</option>
                                                    <option>Shift 2 (08:00 - 16:00)</option>
                                                    <option>Shift 3 (10:00 - 18:00)</option>
                                                    <option>Day off</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <select class="form-select " id="organizerSingle3">
                                                    <option value="">Sun 23</option>
                                                    <option>Shift 1 (09:00 - 17:00)</option>
                                                    <option>Shift 2 (08:00 - 16:00)</option>
                                                    <option>Shift 3 (10:00 - 18:00)</option>
                                                    <option>Day off</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <select class="form-select " id="organizerSingle3">
                                                    <option value="">Mon 24</option>
                                                    <option>Shift 1 (09:00 - 17:00)</option>
                                                    <option>Shift 2 (08:00 - 16:00)</option>
                                                    <option>Shift 3 (10:00 - 18:00)</option>
                                                    <option>Day off</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <select class="form-select " id="organizerSingle3">
                                                    <option value="">Tue 25</option>
                                                    <option>Shift 1 (09:00 - 17:00)</option>
                                                    <option>Shift 2 (08:00 - 16:00)</option>
                                                    <option>Shift 3 (10:00 - 18:00)</option>
                                                    <option>Day off</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <select class="form-select " id="organizerSingle3">
                                                    <option value="">Wed 26</option>
                                                    <option>Shift 1 (09:00 - 17:00)</option>
                                                    <option>Shift 2 (08:00 - 16:00)</option>
                                                    <option>Shift 3 (10:00 - 18:00)</option>
                                                    <option>Day off</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <select class="form-select " id="organizerSingle3">
                                                    <option value="">Thu 27</option>
                                                    <option>Shift 1 (09:00 - 17:00)</option>
                                                    <option>Shift 2 (08:00 - 16:00)</option>
                                                    <option>Shift 3 (10:00 - 18:00)</option>
                                                    <option>Day off</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <select class="form-select " id="organizerSingle3">
                                                    <option value="">Fri 28</option>
                                                    <option>Shift 1 (09:00 - 17:00)</option>
                                                    <option>Shift 2 (08:00 - 16:00)</option>
                                                    <option>Shift 3 (10:00 - 18:00)</option>
                                                    <option>Day off</option>
                                                </select>
                                            </div>
                                        </div>






                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>



        </div>
    </div>
</div>

<!-- Modal  for add shift-->
<div class="modal fade" id="addShiftModal" tabindex="-1" aria-labelledby="addShiftModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="shiftModalLabel">Add new shift</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="shiftModalDetails" class="mb-3 text-muted"></p>
                <div class="mb-3">
                    <label class="form-label">New shift name</label>
                    <input type="text" class="form-control" id="shiftName">
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label class="form-label">From</label>
                        <select class="form-select" id="shiftFrom">
                            <option>09:00</option>
                            <option>10:00</option>
                            <option>11:00</option>
                        </select>
                    </div>
                    <div class="col">
                        <label class="form-label">To</label>
                        <select class="form-select" id="shiftTo">
                            <option>17:00</option>
                            <option>18:00</option>
                            <option>19:00</option>
                        </select>
                    </div>

                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="shiftTemplate">
                    <label class="form-check-label" for="shiftTemplate">Save as shift template</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveShift">Save shift</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal  for edit shift-->
<div class="modal fade" id="editShiftModal" tabindex="-1" aria-labelledby="editShiftModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="shiftModalLabel">Edit shift</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="shiftModalDetails" class="mb-3 text-muted"></p>
                <div class="mb-3">
                    <label class="form-label">New shift name</label>
                    <input type="text" class="form-control" id="shiftName" value="Shift 1">
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label class="form-label">From</label>
                        <select class="form-select" id="shiftFrom">
                            <option>09:00</option>
                            <option>10:00</option>
                            <option>11:00</option>
                        </select>
                    </div>
                    <div class="col">
                        <label class="form-label">To</label>
                        <select class="form-select" id="shiftTo">
                            <option>17:00</option>
                            <option>18:00</option>
                            <option>19:00</option>
                        </select>
                    </div>

                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="shiftTemplate">
                    <label class="form-check-label" for="shiftTemplate">Save as shift template</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveShift">Save shift</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="shiftModal" tabindex="-1" aria-labelledby="shiftModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="shiftModalLabel">Add new shift</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="shiftModalDetails" class="mb-3 text-muted"></p>
                <div class="mb-3">
                    <label class="form-label">New shift name</label>
                    <input type="text" class="form-control" id="shiftName">
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label class="form-label">From</label>
                        <select class="form-select" id="shiftFrom">
                            <option>09:00</option>
                            <option>10:00</option>
                            <option>11:00</option>
                        </select>
                    </div>
                    <div class="col">
                        <label class="form-label">To</label>
                        <select class="form-select" id="shiftTo">
                            <option>17:00</option>
                            <option>18:00</option>
                            <option>19:00</option>
                        </select>
                    </div>
                    <div class="col">
                        <label class="form-label">Unpaid break</label>
                        <select class="form-select" id="shiftBreak">
                            <option>00:00</option>
                            <option>00:30</option>
                            <option>01:00</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Area</label>
                    <select class="form-select" id="shiftArea">
                        <option>LS Admin</option>
                        <option>LS Support</option>
                        <option>LS Operations</option>
                    </select>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="shiftTemplate">
                    <label class="form-check-label" for="shiftTemplate">Save as shift template</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveShift">Save shift</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="delete_modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <span class="avatar avatar-xl bg-transparent-danger text-danger mb-1">
                    <i class="fa fa-trash fs-5"></i>
                </span>
                <h4 class="mb-1">Confirm Delete</h4>
                <p class="mb-3">You want to delete all the marked items, this cant be undone once you delete.</p>
                <div class="d-flex justify-content-center">
                    <a href="javascript:void(0);" class="btn btn-light me-3" data-bs-dismiss="modal">Cancel</a>
                    <a href="shift-roster-ui.html" class="btn btn-danger">Yes, Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Modal -->



<div class="mb-9 mt-4">
    <div class="card">

        <div class="container mt-4">

            <div class="d-flex justify-content-between align-items-center mb-3">
                <h3>Shift schedule</h3>
                <button class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#create_bulk_shift">More Scheduling</button>
            </div>

            <div class="row mb-4">
                <div class="col-md-3">
                    <label for="areaFilter" class="form-label">Filters</label>
                    <select id="areaFilter" class="form-select">
                        <option selected>All areas</option>
                        <option value="1">Area 1</option>
                        <option value="2">Area 2</option>
                        <option value="3">Area 3</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="sortBy" class="form-label">Sort by</label>
                    <select id="sortBy" class="form-select">
                        <option selected>Default</option>
                        <option value="1">Name</option>
                        <option value="2">Position</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="periodView" class="form-label">Period view</label>
                    <select id="periodView" class="form-select" onchange="updateTable()">
                        <option value="week" selected>Week</option>
                        <option value="2weeks">2 weeks</option>
                        <option value="month">Month</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="dateRange" class="form-label">Date range</label>
                    <input class="form-control datetimepicker" id="timepicker2" type="text" placeholder="2024-02-19 - 2024-02-25" data-options='{"mode":"range","dateFormat":"d/m/y","disableMobile":true}' />
                </div>
            </div>

            <!-- <div class="mb-4">
                <h5>Open shifts</h5>
                <p class="text-muted">0 shifts</p>
            </div> -->

            <div class="table-responsive scrollbar mx-n1 px-1">



                <!-- <table class="table table-bordered" id="shiftTable">
                  <thead class="table-light">
                      <tr id="headerRow">
                          <th>Employee</th>

                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>
                              <div class="d-flex align-items-center">
                                  <div class="bg-primary text-white rounded-circle me-2" style="width: 32px; height: 32px; text-align: center; line-height: 32px;">C</div>
                                  <span>Carol Cook</span>
                              </div>
                              <small class="text-muted">Employees without position</small>
                          </td>

                      </tr>
                      <tr>
                          <td>
                              <div class="d-flex align-items-center">
                                  <div class="bg-secondary text-white rounded-circle me-2" style="width: 32px; height: 32px; text-align: center; line-height: 32px;">M</div>
                                  <span>Mike Smith</span>
                              </div>
                              <small class="text-muted">Employees without position</small>
                          </td>

                      </tr>
                  </tbody>
                </table>  -->

            </div>

            <div class="table-responsive scrollbar mx-n1 px-1">
                <table class="table table-bordered table-sm fs-9 leads-table" style="text-align: center;">
                    <thead>

                        <tr>
                            <th class=" align-middle ps-3 pe-5 text-uppercase text-nowrap">Employee Name</th>
                            <th class=" align-middle ps-3 pe-5 text-uppercase text-nowrap">Sat Feb 20 </th>
                            <th class=" align-middle ps-3 pe-5 text-uppercase text-nowrap">Sun Feb 21</th>
                            <th class=" align-middle ps-3 pe-5 text-uppercase text-nowrap">Mon Feb 22</th>
                            <th class=" align-middle ps-3 pe-5 text-uppercase text-nowrap">Tue Feb 23</th>
                            <th class=" align-middle ps-3 pe-5 text-uppercase text-nowrap">Wed Feb 24</th>
                            <th class=" align-middle ps-3 pe-5 text-uppercase text-nowrap">Thu Feb 25</th>
                            <th class=" align-middle ps-3 pe-5 text-uppercase text-nowrap">Fri Feb 26</th>
                        </tr>
                    </thead>
                    <tbody class="list" id="rosterTable" id="purchasers-sellers-body">

                        <tr class="hover-actions-trigger btn-reveal-trigger position-static">

                            <td class="empName align-middle white-space-nowrap fw-semibold text-body-emphasis ps-2 py-2">
                                <div class="d-flex align-items-center file-name-icon">
                                    <div class="ms-1">
                                        <h6 class="fw-bold">Md. Aman Ullah</h6>
                                    </div>
                                </div>
                            </td>

                            <td class="shift-cell py-1">
                                <button class="btn btn-outline-primary add-shift-btn " data-bs-toggle="modal" data-bs-target="#addShiftModal">Add Shift</button>
                            </td>
                            <td class="startTime py-1">
                                <div class="badge badge-phoenix badge-phoenix-primary p-2">
                                    <p class="mb-1">09:00 - 17:00</p>
                                    <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#editShiftModal">
                                        <i class="fas fa-edit text-success"></i>
                                    </a>
                                    <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#delete_modal">
                                        <i class="fas fa-trash text-danger"></i>
                                    </a>
                                </div>
                            </td>
                            <td class="shift-cell py-1">
                                <button class="btn btn-outline-primary add-shift-btn " data-bs-toggle="modal" data-bs-target="#addShiftModal">Add Shift</button>
                            </td>
                            <td class="startTime py-1">
                                <div class="badge badge-phoenix badge-phoenix-primary p-2">
                                    <p class="mb-1">07:00 - 16:00</p>
                                    <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#editShiftModal">
                                        <i class="fas fa-edit text-success"></i>
                                    </a>
                                    <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#delete_modal">
                                        <i class="fas fa-trash text-danger"></i>
                                    </a>
                                </div>
                            </td>
                            <td class="shift-cell py-1">
                                <button class="btn btn-outline-primary add-shift-btn " data-bs-toggle="modal" data-bs-target="#addShiftModal">Add Shift</button>
                            </td>
                            <td class="shift-cell py-1">
                                <button class="btn btn-outline-primary add-shift-btn " data-bs-toggle="modal" data-bs-target="#addShiftModal">Add Shift</button>
                            </td>
                            <td class="shift-cell py-1">
                                <button class="btn btn-outline-primary add-shift-btn " data-bs-toggle="modal" data-bs-target="#addShiftModal">Add Shift</button>
                            </td>

                            <!-- <td class="align-middle white-space-nowrap text-end pe-0 ps-3">
                              <div class="btn-reveal-trigger position-static">
                                <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#create_roster">
                                  <i class="fas fa-edit text-success"></i>
                                </a>
                                <a href="#" class="nav-item mx-2"  data-bs-toggle="modal" data-bs-target="#delete_modal">
                                  <i class="fas fa-trash text-danger"></i>
                                </a>

                              </div>
                            </td> -->

                        </tr>

                        <tr class="hover-actions-trigger btn-reveal-trigger position-static">

                            <td class="empName align-middle white-space-nowrap fw-semibold text-body-emphasis ps-2 py-2">
                                <div class="d-flex align-items-center file-name-icon">
                                    <div class="ms-1">
                                        <h6 class="fw-bold">Md. Mahedi Hasan</h6>
                                    </div>
                                </div>
                            </td>

                            <td class="shift-cell py-1">
                                <button class="btn btn-outline-primary add-shift-btn " data-bs-toggle="modal" data-bs-target="#addShiftModal">Add Shift</button>
                            </td>

                            <td class="shift-cell py-1">
                                <button class="btn btn-outline-primary add-shift-btn">Add Shift</button>
                            </td>
                            <td class="startTime py-1">
                                <div class="badge badge-phoenix badge-phoenix-primary p-2">
                                    <p class="mb-1">09:00 - 17:00</p>
                                    <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#editShiftModal">
                                        <i class="fas fa-edit text-success"></i>
                                    </a>
                                    <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#delete_modal">
                                        <i class="fas fa-trash text-danger"></i>
                                    </a>
                                </div>
                            </td>
                            <td class="shift-cell py-1">
                                <button class="btn btn-outline-primary add-shift-btn " data-bs-toggle="modal" data-bs-target="#addShiftModal">Add Shift</button>
                            </td>
                            <td class="startTime py-1">
                                <div class="badge badge-phoenix badge-phoenix-primary p-2">
                                    <p class="mb-1">09:00 - 17:00</p>
                                    <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#editShiftModal">
                                        <i class="fas fa-edit text-success"></i>
                                    </a>
                                    <a href="#" class="nav-item mx-2" data-bs-toggle="modal" data-bs-target="#delete_modal">
                                        <i class="fas fa-trash text-danger"></i>
                                    </a>
                                </div>
                            </td>
                            <td class="shift-cell py-1">
                                <button class="btn btn-outline-primary add-shift-btn " data-bs-toggle="modal" data-bs-target="#addShiftModal">Add Shift</button>
                            </td>
                            <td class="shift-cell py-1">
                                <button class="btn btn-outline-primary add-shift-btn " data-bs-toggle="modal" data-bs-target="#addShiftModal">Add Shift</button>
                            </td>


                        </tr>

                    </tbody>
                </table>

                <div class="card-header d-flex align-items-center justify-content-between flex-wrap row-gap-3">

                    <div class="d-flex my-xl-auto right-content flex-wrap row-gap-3">

                        <div class="dropdown">

                            <button id="addRoster" class="btn btn-primary mb-3">Add Roster</button>

                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>
</div>