@model GCTL.Core.ViewModels.FieldServices.EmployeeAdvancedVM

@{
	ViewData["Title"] = "Employee Advanced";
}


<nav class="mb-3" aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="#!">Page 1</a></li>
        <li class="breadcrumb-item"><a href="#!">Page 2</a></li>
        <li class="breadcrumb-item active">Default</li>
    </ol>
</nav>

<div class="card">
    <div class="card-header">
        <h3>Employee  Advanced</h3>
    </div>
    <div class="card-body">
        <div class="row col-md-12">
            <form asp-controller="EmployeeAdvanced" id="formClear" asp-action="Create">
                <div class="modal-body pb-0">
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <div class="mb-3">

                                <label class="form-label req" for="exampleFormControlInput">Job Name</label>
                                <select asp-for="JobID">
                                </select>
                                <span asp-validation-for="JobID" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label req" asp-for="CustomerID2">Client Name</label>
                                <select asp-for="CustomerID2"></select>
                                <span asp-validation-for="CustomerID2" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label" for="organizerMultiple">Employee Advanced</label>
                                <select asp-for="RequestedByUserID" class="form-select" data-choice="data-choices" multiple="multiple" asp-items="ViewBag.JobTypesDDD"></select>
                                <span asp-validation-for="RequestedByUserID" class="text-danger" ></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label form-switch req" for="exampleFormControlInput">
                                    Advanced Received By
                                    <label class="form-check-label ms-5" for="flexSwitchCheckDefault">Self</label>
                                    <input class="form-check-input ms-2" id="toggleCheckbox" type="checkbox" />
                                    <label class="form-check-label ms-2" for="flexSwitchCheckDefault">Group</label>

                                </label>

                                <select asp-for="ApprovedByUserID" class="form-select" data-choices="data-choices"
                                        asp-items="ViewBag.EmployeeDD"> <!--Advanced Recieved by-->
                                    <span asp-validation-for="ApprovedByUserID"></span>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6" id="hiddenDiv2">
                            <div class="mb-3">
                                <label class="form-label" for="exampleFormControlInput">Other Employees Name</label>
                                <select asp-for="ApprovedByUserID" class="form-select" data-choices="data-choices" multiple="multiple" data-options='{"removeItemButton":true,"placeholder":true}' asp-items="ViewBag.EmployeeDD">
                                </select>
                            </div>
                        </div>

                        

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" asp-for="StartDate">From Date</label>
                                <input class="form-control" asp-for="StartDate" type="date" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" asp-for="EndDate">To Date</label>
                                <input class="form-control" asp-for="EndDate" type="date" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" asp-for="AmountRequested">Amount</label>
                                <input class="form-control" asp-for="AmountRequested" type="number" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="cancleBtn" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" id="saveBtn" class="btn btn-primary">Send for Approval</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="card mt-4">
    <div class="card-header mb-4">
        <div class="d-flex justify-content-between mb-3">
            <h4 class="mb-1">Advance Payment List</h4>
        </div>

        <div class="d-flex my-xl-auto right-content align-items-center flex-wrap row-gap-3">

            <div class="dropdown me-2">
                <select class="form-select" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                    <option value="">Select Company...</option>
                    <option>CSL</option>
                    <option>GCTL</option>
                </select>
            </div>

            @* <div class="dropdown me-2">
                <select asp-for="ApprovalSettingID" class="form-select" data-choices="data-choices"
                        asp-items="ViewBag.ApprovalStatus">
                   
                </select>
            </div> *@

            <div class="dropdown me-2">
                <select class="form-select" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                    <option value="">Select Project</option>
                    <option>Project 1</option>
                    <option>Project 2</option>
                    <option>Project 3</option>
                </select>
            </div>
        </div>
    </div>

    <div class="border-translucent p-3">
        <div class="table-responsive scrollbar mx-n1 px-1">
            <table class="table table-sm fs-9 leads-table">
                <thead>
                    <tr>
                        <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="empId">Receiving Employee</th>
                        <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="empName">Client Name</th>
                        <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="empDept">Project Name</th>
                        <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="empDept">Project Type</th>
                        <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="empSalary">Advanced <br> Ammount</th>
                        <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="empBonus">Other Members</th>
                        <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="empDeduction">Status</th>
                        <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="netSalary">Approved <br> Amount</th>
                        <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="paySlip">Date</th>
                        <th class="sort text-end align-middle pe-0 ps-5" scope="col"></th>
                    </tr>
                </thead>
                <tbody class="list" id="purchasers-sellers-body">
                    <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                        <td class="empId align-middle white-space-nowrap ps-5 fw-semibold text-body py-1">
                            <span>Hasan Mahmud</span>
                        </td>
                        <td class="empName align-middle white-space-nowrap fw-semibold text-body-emphasis ps-4 py-1">
                            <div class="d-flex align-items-center position-relative">
                                <div class="avatar avatar-m me-3">
                                    <img class="rounded-circle avatar-placeholder" src="../../assets/img/team/avatar.webp" alt="" />
                                </div><a class="text-body-highlight fw-bold stretched-link" href="#!">Hasan Ali</a>
                            </div>
                        </td>
                        <td class="empDept align-middle white-space-nowrap ps-4 fw-semibold text-body py-1">Project 4</td>
                        <td class="empDept align-middle white-space-nowrap ps-4 fw-semibold text-body py-1">Service</td>
                        <td class="empSalary align-middle white-space-nowrap ps-4 fw-semibold text-body py-1">5000</td>
                        <td class="empBonus align-middle white-space-nowrap ps-4 fw-semibold text-body py-1">
                            <div class="avatar-group mb-4 mt-3">
                                <div class="avatar avatar-s ">
                                    <img class="rounded-circle " src="../../assets/img/team/30.webp" alt="" />
                                </div>
                                <div class="avatar avatar-s ">
                                    <img class="rounded-circle " src="../../assets/img/team/57.webp" alt="" />
                                </div>
                                <div class="avatar avatar-s ">
                                    <img class="rounded-circle " src="../../assets/img/team/25.webp" alt="" />
                                </div>
                            </div>
                        </td>
                        <td class="empDeduction align-middle white-space-nowrap ps-4 fw-semibold text-body py-1">
                            <span class="badge badge-phoenix badge-phoenix-primary">New</span>
                        </td>
                        <td class="netSalary align-middle white-space-nowrap ps-4 fw-semibold text-body py-1">3000</td>
                        <td class="paySlip align-middle white-space-nowrap ps-4 fw-semibold text-body py-1">24 Aug, 25</td>
                        <td class="align-middle white-space-nowrap text-end pe-0 ps-4">
                            <div class=" d-flex btn-reveal-trigger position-static">
                                <a href="#!" class="btn bnt-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#edit_employee_salary">
                                    <i class="fas fa-edit "></i>
                                </a>
                                <a href="#!"
                                   class="btn btn-phoenix-danger btn-icon me-1 fs-10 text-body px-0 bloodGroup-bulkDelete"
                                   title="Delete">
                                    <i class="fa-regular fa-trash-can text-black"></i>
                                </a>


                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row align-items-center justify-content-between pe-0 fs-9">
            <div class="col-auto d-flex">
                <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p><a class="fw-semibold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semibold d-none" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
            </div>
            <div class="col-auto d-flex">
                <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                <ul class="mb-0 pagination"></ul>
                <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
            </div>
        </div>
    </div>

</div>

<!-- FIRST MODAL -->
<div class="modal fade" id="createCustomerModalToggle" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Customer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="create-lead-modal-body"></div>
        </div>
    </div>
</div>

<!--SECOND MODAL-->
<div class="modal fade" id="createJobModalToggle" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Job</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="create-job-modal-body"></div>
        </div>
    </div>
</div>

@section Scripts {
	<script src="~/js/pages/fieldservices/employeeadvanced.js"></script>
}

