 @model GCTL.Core.ViewModels.PayrollManagements.PayrollPolicy.PayRollEmpAllowance.HouseRentAllowanceDetailVM
@{
    var index = ViewData["Index"] as int? ?? 0;

}

@* <div class="houseRentRow">

    <div class="row g-3">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <input type="text" name="HouseRentAllowances[@index].SalaryMin" class="form-control" placeholder="Enter Min Salary" />
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <input type="text" name="HouseRentAllowances[@index].SalaryMax" class="form-control" placeholder="Enter Max Salary" />
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 d-flex align-items-center gap-3">
            <div class="input-group mb-3">
                <select class="form-select  fixedPercentageSelect" style="max-width: 125px; min-width : 125px ;height:37px;">
                    <option value="">Select One</option>
                    <option value="Fixed" selected>Fixed</option>
                    <option value="Percentage">Percentage</option>
                </select>
                <input type="hidden" class="CalculationTypeID" name="HouseRentAllowances[@index].CalculationTypeID" />
                <div class="percentRate" style="display: none;">
                    <select class="form-select choiceDD" id="cc[@index]" name="HouseRentAllowances[@index].Rate" style="max-width:186px;">
                        <option value="">Select %</option>
                        @foreach (var item in ViewBag.PercenatageDD as SelectList ?? new SelectList(Enumerable.Empty<object>()))
                        {
                            <option value="@item.Text">@item.Text</option>
                        }
                    </select>
                </div>
                <div class="fixedRate" style="display: none;">
                    <input type="text" class="form-control" name="HouseRentAllowances[@index].Rate" placeholder="Enter Fixed Rate" style="max-width:186px;">
                </div>
            </div>

        </div>
        <div class="col-lg-1 px-0 col-md-1 col-sm-1">
            <button type="button" class="btn btn-sm btn-outline-danger removeRow ">
                X
            </button>
        </div>

    </div>

</div>
 *@
