@model GCTL.Core.ViewModels.PayrollManagements.PayrollPolicy.PayRollEmpAllowance.HouseRentAllowanceDetailVM
@{
    var index = (int)ViewData["Index"];
}

@* <div class="row g-3 mb-2 house-rent-row" data-index="@index">
    <div class="col-lg-4">
        <label class="form-label">Min Salary</label>
        <input asp-for="MinSalary" class="form-control"
               name="HouseRentAllowances[@index].MinSalary" />
    </div>
    <div class="col-lg-4">
        <label class="form-label">Max Salary</label>
        <input asp-for="MaxSalary" class="form-control"
               name="HouseRentAllowances[@index].MaxSalary" />
    </div>
    <div class="col-lg-4">
        <label class="form-label">Rate</label>
        <select asp-for="Rate" class="form-select"
                name="HouseRentAllowances[@index].Rate"
                asp-items="ViewBag.PercenatageDD as SelectList">
            <option value="">Select %</option>
        </select>
    </div>
    <div class="col-lg-4">
        <label class="form-label">Effective Date</label>
        <input asp-for="EffectiveDate" class="form-control datetimepicker"
               name="HouseRentAllowances[@index].EffectiveDate" readonly />
    </div>
    <div class="col-lg-4">
        <label class="form-label">Is Active</label>
        <input asp-for="IsActive" class="form-check-input"
               name="HouseRentAllowances[@index].IsActive" type="checkbox" />
    </div>
</div> *@