<form action="add-shift-ui.html" class="row g-3 mb-63">



    <div class="col-md-4">

        <div class="mb-3">
            <div class="content-head d-flex justify-content-between align-items-center">
                <label class="form-label" for="organizerSingle">Company Name</label>
                <div class="form-check form-switch">
                </div>
            </div>
            <select class="form-multi-select" id="multiple-select-tag" multiple
                    data-coreui-selection-type="tags" data-coreui-search="true">
                <option value="0">Select Company...</option>
                <option value="1">CSL</option>
                <option value="2">GCTL</option>
            </select>
        </div>
    </div>

    <div class="col-md-4">
        <div class="mb-3">
            <div class="content-head d-flex justify-content-between align-items-center">
                <label class="form-label" for="timepicker1">Mobile/Internet Allowance</label>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                </div>
            </div>
            <input class="form-control" id="" type="text" placeholder="Ex: 1000 tk Monthly">
        </div>
    </div>

    <div class="col-md-4">
        <div class="mb-3">
            <div class="content-head d-flex justify-content-between align-items-center">
                <label class="form-label" for="timepicker1">Shift Allowance</label>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                </div>
            </div>
            <input class="form-control" id="" type="text" placeholder="Ex: 500 tk Per Night Shift">
        </div>
    </div>

    <div class="col-md-12">
        <div class="mb-1">
            <div class="content-head d-flex justify-content-between align-items-center border-bottom">
                <h5>House Rent Allowance</h5>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="mb-3">
            <label class="form-label" for="timepicker1">House Rent Allowance Rate</label>
            <select class="form-select mb-3" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                <option value="">Select %</option>
                <option>35 %</option>
                <option>40 %</option>
                <option>45 %</option>
                <option>50 %</option>
                <option>60 %</option>
                <option>70 %</option>
                <option>100 %</option>
            </select>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="mb-3">
            <label class="form-label" for="timepicker1">Allowance Depends on</label>
            <select class="form-select" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                <option value="">Select Salary...</option>
                <option>Gross Salary</option>
                <option selected>Basic Salary</option>
            </select>
        </div>
    </div>

    <div class="col-md-12">
        <div class="mb-1">
            <div class="content-head d-flex justify-content-between align-items-center border-bottom">
                <h5>Medical Allowance</h5>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="mb-1">
            <label class="form-label" for="timepicker1">Medical Allowance Rate</label>
            <select class="form-select mb-3" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                <option value="">Select %</option>
                <option>8 %</option>
                <option>10 %</option>
                <option>15 %</option>
            </select>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="mb-3">
            <label class="form-label" for="timepicker1">Allowance Depends on</label>
            <select class="form-select" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                <option value="">Select Salary...</option>
                <option>Gross Salary</option>
                <option selected>Basic Salary</option>
            </select>
        </div>
    </div>

    <div class="col-md-12">
        <div class="mb-3">
            <div class="content-head d-flex justify-content-between align-items-center border-bottom">
                <h5>Conveyance Allowance</h5>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="mb-3">
            <label class="form-label" for="timepicker1">Conveyance Allowance Rate</label>
            <select class="form-select mb-3" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                <option value="">Select %</option>
                <option>8 %</option>
                <option>10 %</option>
                <option>15 %</option>
            </select>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="mb-3">
            <label class="form-label" for="timepicker1">Allowance Depends on</label>
            <select class="form-select" id="organizerSingle" data-choices="data-choices" disabled data-options='{"removeItemButton":true,"placeholder":true}'>
                <option value="">Select Salary...</option>
                <option>Gross Salary</option>
                <option selected>Basic Salary</option>
            </select>
        </div>
    </div>



    <div class="col-12">
        <div class="row g-3 justify-content-end">
            <div class="col-auto">
                <button class="btn btn-phoenix-primary px-5">Cancel</button>
            </div>
            <div class="col-auto">
                <button class="btn btn-primary px-5 px-sm-10">Save</button>
            </div>
        </div>
    </div>
</form>