
@model GCTL_App.ViewModels.PayRollManagements.PayRollPolicy.PayRollEmpBenefitsPageVM
<style>
  
    #payRollEmp-searchForm {
        position: relative;
    }

    #payRollEmp-searchInput {
        padding-right: 2.25rem; /* Leave space for the icon inside */
        height: calc(1.5em + 0.75rem + 2px); /* Same as .form-select */
    }

    .search-box-icon {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        color: #6c757d;
        pointer-events: none;
    }


    .date-input {
        width: 108%;
        border: 2px solid #ddd;
        border-radius: 8px;
        font-size: 14px;
        transition: all 0.3s ease;
        background: white;
    }

        .date-input:focus {
            outline: none;
            border-color: #4facfe;
            box-shadow: 0 0 0 3px rgba(79, 172, 254, 0.1);
        }

    .date-picker-wrapper .footer {
        display: none !important;
    }


    .date-picker-wrapper {
        margin-left: 8.2vw !important;
    }
</style>

<div class="mb-1 mt-1">

    <div class="card">

        <div class="card-header ">
            <h4 class="mb-1">Add Employee Benefits</h4>

            <div class="">

                
                @await Html.PartialAsync("_PayRollEmpBenefitsSave", Model.Save)
                
            </div>
        </div>

    </div>


    <div class="card mt-2">
        <h4 class="mb-1 ms-4 mt-3">Employee Benefits</h4>
        <partial name="_TableList" />
    </div>

</div>




<!-- Edit shift -->
<div class="modal fade" id="edit_benefits">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Employes Benefits</h4>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @await Html.PartialAsync("_PayRollEmpBenefitsUpdate", Model.Update)
              
            </div>
        </div>
    </div>
</div>
<partial name="_ConfirmDelete" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/pages/payrollmanagements/payrollpolicy/payrollempbenefits.js"></script>
    

}

