
<div id="add_new_leave" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Configure New Leave</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
          
                <form id="addNewLeaveForm">
                    <div class="input-block  leave-duallist">
                        <label class="col-form-label req">Organization Name</label>
                        <select class="form-multi-select" id="OrganizationID" name="OrganizationID" asp-items="@ViewBag.organizationDD as SelectList" multiple data-coreui-multiple="true" data-coreui-selection-type="counter" data-coreui-search="true">
                            <option value="">Select Organizer</option>
                        </select>
                    </div>

                    <div class="input-block ">
                        <label class="col-form-label req">Leave Name</label>
                        <input type="text" class="form-control" id="LeaveTypeName" name="LeaveTypeName">
                    </div>

                    <div class="input-block">
                        <label class="col-form-label req">Short Code</label>
                        <input type="text" class="form-control" id="Code" name="Code">
                    </div>

                 

                    <div class="row">
                        <!-- Paid Type -->
                        <div class="col-md-6">
                            <div class="input-block leave-duallist">
                                <label class="col-form-label d-block">Paid Type</label>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="IsPaid" id="IsPaidYes" value="true" checked>
                                    <label class="form-check-label" for="IsPaidYes">Paid</label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="IsPaid" id="IsPaidNo" value="false">
                                    <label class="form-check-label" for="IsPaidNo">Unpaid</label>
                                </div>
                            </div>
                        </div>

                        <!-- Is Active -->
                        <div class="col-md-6">
                            <div class="input-block leave-duallist">
                                <label class="col-form-label d-block">Is Active</label>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="IsActive" id="IsActiveYes" value="true" checked>
                                    <label class="form-check-label" for="IsActiveYes">Yes</label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="IsActive" id="IsActiveNo" value="false">
                                    <label class="form-check-label" for="IsActiveNo">No</label>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="input-block">
                        <label class="col-form-label req">Maximum Days</label>
                        <input type="number" class="form-control" id="LeaveDays" name="LeaveDays">
                    </div>

                  

                    <div class="row">

                        <div class="col-md-3">
                            <div class="mb-3">
                                <label class="col-form-label" >Effective From</label>
                                <input type="text" id="EffectiveFrom" class="form-control" placeholder="6">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="col-form-label mt-3" for="exampleFormControlInput"></label>
                            <select class="form-select" id="EffectiveFromMonthYear" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                                <option value="Years">Years</option>
                                <option value="Months" selected>Months</option>
                            </select>
                        </div>

                        <div class="col-md-5 mt-3">
                            @* <label class="col-form-label" for="exampleFormControlInput">After</label> *@

                            <label class="col-form-label" for="exampleFormControlInput"></label>
                            <input type="text" id="EffectiveAfter" class="form-control" value="After Joining Date" placeholder="After Joining Date">
                            @* <select class="form-select" id="EffectiveAfter" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                                <option value="Joining Date">Joining Date</option>
                                <option value="Conformation Date">Conformation Date</option>
                            </select> *@
                        </div>

                    </div>
                    

                    <div class="submit-section text-end mt-1">
                        <button type="button" class="btn btn-outline-light border" id="resetBtn">Cancel</button>
                        <button type="submit" class="btn btn-primary submit-btn" id="AddNewLeaveSubmitButton">Save</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
