@* 
<script>
    var phoenixIsRTL = window.config.config.phoenixIsRTL;
    if (phoenixIsRTL) {
      var linkDefault = document.getElementById('style-default');
      var userLinkDefault = document.getElementById('user-style-default');
      linkDefault.setAttribute('disabled', true);
      userLinkDefault.setAttribute('disabled', true);
      document.querySelector('html').setAttribute('dir', 'rtl');
    } else {
      var linkRTL = document.getElementById('style-rtl');
      var userLinkRTL = document.getElementById('user-style-rtl');
      linkRTL.setAttribute('disabled', true);
      userLinkRTL.setAttribute('disabled', true);
    }
</script> *@

<style>
    .disabledDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    .disabledDiv1 select:disabled {
        background-color: #e9e9e9;
        cursor: not-allowed;
    }

    .disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    #hiddenEncashmentDiv {
        display: none;
    }

    #hiddenCaryforwardDiv {
        display: none;
    }
</style>

<div class="modal fade" id="add_leaves">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Leave Type</h4>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="settings-ui.html">
                <div class="modal-body pb-0">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label" for="organizerSingleCompany">Company</label>
                                <select class="form-multi-select" multiple data-coreui-search="true">
                                    <option value="1">CSL</option>
                                    <option value="2">GCTL</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">Leave Type <span class="text-danger">*</span></label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">Number of days <span class="text-danger">*</span></label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Add Leave</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Add Leaves -->
<!-- Edit Leaves -->
<div class="modal fade" id="edit_leaves">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Leave Type</h4>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="settings-ui.html">
                <div class="modal-body pb-0">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">Leave Type <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" value="Casual Leave">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">Number of days <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" value="12">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Edit Leaves -->
<!-- Delete Modal -->
<div class="modal fade" id="delete_modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <span class="avatar avatar-xl bg-transparent-danger text-danger mb-3">
                    <i class="ti ti-trash-x fs-36"></i>
                </span>
                <h4 class="mb-1">Confirm Delete</h4>
                <p class="mb-3">You want to delete all the marked items, this cant be undone once you delete.</p>
                <div class="d-flex justify-content-center">
                    <a href="javascript:void(0);" class="btn btn-light me-3" data-bs-dismiss="modal">Cancel</a>
                    <a href="leave-type.html" class="btn btn-danger">Yes, Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Modal -->
<!-- Annual Leave settings-->
<div class="modal fade" id="annual_leave_settings">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Annual Leave Settings</h4>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="leaves.html">

                <div class="tab-content px-3">
                    <div class="modal-body">
                        <div class="modal-body pb-0 ">
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="exampleFormControlInput">Leave Name</label>
                                        <select class="form-select" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                                            <option>Select Leave</option>
                                            <option selected>Annual Leave</option>
                                            <option>Casual Leave</option>
                                            <option>Sick Leave</option>
                                            <option>Maternity Leave</option>
                                            <option>Paternity Leave</option>
                                            <option>LOP</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Code</label>
                                        <input type="text" class="form-control" value="AL">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-3 mt-1">
                                        <label class="form-label" for="exampleFormControlInput">Leave Type</label>
                                        <select class="form-select" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                                            <option>Paid</option>
                                            <option selected>Unpaid</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Maximum No of Days</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>



                                <div class="row">

                                    <div class="col-md-3">
                                        <div class="mb-3">
                                            <label class="form-label" for="exampleFormControlInput">Effective From</label>
                                            <input type="text" class="form-control" placeholder="6">
                                        </div>
                                    </div>
                                    <div class="col-md-4 mt-4">
                                        <select class="form-select" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                                            <option>Years</option>
                                            <option selected>Months</option>
                                        </select>
                                    </div>

                                    <div class="col-md-5">
                                        <label class="form-label" for="exampleFormControlInput">After</label>
                                        <select class="form-select" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                                            <option>Joining Date</option>
                                            <option>Conformation Date</option>
                                        </select>
                                    </div>
                                </div>



                                <div class="col-md-6">
                                    <div class="col-md-12">
                                        <div class="form-check form-switch ms-3">
                                            <input class="form-check-input" id="toggleEncashementCheckbox" type="checkbox" />
                                            <label class="form-check-label" for="flexSwitchCheckDefault">Encashement</label>
                                        </div>
                                    </div>

                                    <div id="hiddenEncashmentDiv" class="card p-3 mb-4">

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="mb-3">
                                                    <label class="form-label">Minimum Days Required For Encashement</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="mb-3">
                                                    <label class="form-label">Maximum Days Allowed For Encashement</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                @* <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Earned leave</label>
                                        <div class="d-flex align-items-center">
                                            <div class="form-check me-2">
                                                <input class="form-check-input" type="radio" name="flexRadioOne" id="flexRadioTwo" checked="">
                                                <label class="form-label" for="flexRadioTwo">
                                                    Yes
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="flexRadioOne" id="flexRadioThree">
                                                <label class="form-label" for="flexRadioThree">
                                                    No
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
 *@

                                <script>
                                    const checkbox = document.getElementById('toggleEncashementCheckbox');
                                    //const checkbox1 = document.getElementById('toggleCarryForwardCheckbox');
                                    const hiddenEncashmentDiv = document.getElementById('hiddenEncashmentDiv');
                                    //const hiddenCaryforwardDiv = document.getElementById('hiddenCaryforwardDiv');

                                    checkbox.addEventListener('change', function() {
                                      hiddenEncashmentDiv.style.display = this.checked ? 'block' : 'none';
                                    });


                                </script>

                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-light border me-2" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Save Changes </button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Annual Leave settings-->
<!-- Casual Leave settings-->
<div class="modal fade" id="casual_leave_settings">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Casual Leave Settings</h4>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="leaves.html">

                <div class="tab-content px-3">
                    <div class="modal-body">
                        <div class="modal-body pb-0 ">
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="exampleFormControlInput">Leave Name</label>
                                        <select class="form-select" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                                            <option>Select Leave</option>
                                            <option>Annual Leave</option>
                                            <option selected>Casual Leave</option>
                                            <option>Sick Leave</option>
                                            <option>Maternity Leave</option>
                                            <option>Paternity Leave</option>
                                            <option>LOP</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Code</label>
                                        <input type="text" class="form-control" value="CL">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-3 mt-1">
                                        <label class="form-label" for="exampleFormControlInput">Leave Type</label>
                                        <select class="form-select" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                                            <option>Paid</option>
                                            <option selected>Unpaid</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Maximum No of Days</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-3">
                                        <div class="mb-3">
                                            <label class="form-label" for="exampleFormControlInput">Effective From</label>
                                            <input type="text" class="form-control" placeholder="6">
                                        </div>
                                    </div>
                                    <div class="col-md-4 mt-4">
                                        <select class="form-select" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                                            <option>Years</option>
                                            <option selected>Months</option>
                                        </select>
                                    </div>

                                    <div class="col-md-5">
                                        <label class="form-label" for="exampleFormControlInput">After</label>
                                        <select class="form-select" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                                            <option>Joining Date</option>
                                            <option>Conformation Date</option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-light border me-2" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Save Changes </button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Casual Leave settings-->
<!-- Sick Leave settings-->
<div class="modal fade" id="sick_leave_settings">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sick Leave Settings</h4>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="leaves.html">

                <div class="tab-content px-3">
                    <div class="modal-body">
                        <div class="modal-body pb-0 ">
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="exampleFormControlInput">Leave Name</label>
                                        <select class="form-select" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                                            <option>Select Leave</option>
                                            <option>Annual Leave</option>
                                            <option>Casual Leave</option>
                                            <option selected>Sick Leave</option>
                                            <option>Maternity Leave</option>
                                            <option>Paternity Leave</option>
                                            <option>LOP</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Code</label>
                                        <input type="text" class="form-control" value="SL">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-3 mt-1">
                                        <label class="form-label" for="exampleFormControlInput">Leave Type</label>
                                        <select class="form-select" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                                            <option>Paid</option>
                                            <option selected>Unpaid</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Maximum No of Days</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Valid To</label>
                                        <input class="form-control datetimepicker" id="datepicker" type="text" placeholder="dd/mm/yyyy" data-options='{"disableMobile":true,"dateFormat":"d/m/Y"}' />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Valid For</label>
                                        <input class="form-control datetimepicker" id="datepicker" type="text" placeholder="dd/mm/yyyy" data-options='{"disableMobile":true,"dateFormat":"d/m/Y"}' />
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-light border me-2" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save Changes </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<!-- /Sick Leave settings-->
<!-- Maternity Leave settings-->
<div class="modal fade" id="maternity_leave_settings">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Maternity Leave Settings</h4>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="leaves.html">

                <div class="tab-content px-3">
                    <div class="modal-body">
                        <div class="modal-body pb-0 ">
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="exampleFormControlInput">Leave Name</label>
                                        <select class="form-select" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                                            <option>Select Leave</option>
                                            <option>Annual Leave</option>
                                            <option>Casual Leave</option>
                                            <option selected>Sick Leave</option>
                                            <option>Maternity Leave</option>
                                            <option>Paternity Leave</option>
                                            <option>LOP</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Code</label>
                                        <input type="text" class="form-control" value="ML">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-3 mt-1">
                                        <label class="form-label" for="exampleFormControlInput">Leave Type</label>
                                        <select class="form-select" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                                            <option>Paid</option>
                                            <option selected>Unpaid</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Maximum No of Days</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-3">
                                        <div class="mb-3">
                                            <label class="form-label" for="exampleFormControlInput">Effective From</label>
                                            <input type="text" class="form-control" placeholder="6">
                                        </div>
                                    </div>
                                    <div class="col-md-4 mt-4">
                                        <select class="form-select" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                                            <option>Years</option>
                                            <option selected>Months</option>
                                        </select>
                                    </div>

                                    <div class="col-md-5">
                                        <label class="form-label" for="exampleFormControlInput">After</label>
                                        <select class="form-select" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                                            <option>Joining Date</option>
                                            <option>Conformation Date</option>
                                        </select>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-light border me-2" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save Changes </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<!-- /Maternity Leave settings-->
<!-- Paternity Leave settings-->
<div class="modal fade" id="paternity_leave_settings">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Paternity Leave Settings</h4>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="leaves.html">

                <div class="tab-content px-3">
                    <div class="modal-body">
                        <div class="modal-body pb-0 ">
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="exampleFormControlInput">Leave Name</label>
                                        <select class="form-select" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                                            <option>Select Leave</option>
                                            <option>Annual Leave</option>
                                            <option>Casual Leave</option>
                                            <option selected>Sick Leave</option>
                                            <option>Maternity Leave</option>
                                            <option>Paternity Leave</option>
                                            <option>LOP</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Code</label>
                                        <input type="text" class="form-control" value="PL">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-3 mt-1">
                                        <label class="form-label" for="exampleFormControlInput">Leave Type</label>
                                        <select class="form-select" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                                            <option>Paid</option>
                                            <option selected>Unpaid</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Maximum No of Days</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-3">
                                        <div class="mb-3">
                                            <label class="form-label" for="exampleFormControlInput">Effective From</label>
                                            <input type="text" class="form-control" placeholder="6">
                                        </div>
                                    </div>
                                    <div class="col-md-4 mt-4">
                                        <select class="form-select" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                                            <option>Years</option>
                                            <option selected>Months</option>
                                        </select>
                                    </div>

                                    <div class="col-md-5">
                                        <label class="form-label" for="exampleFormControlInput">After</label>
                                        <select class="form-select" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                                            <option>Joining Date</option>
                                            <option>Conformation Date</option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-light border me-2" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save Changes </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<!-- /Paternity Leave settings-->
<!-- LOP Leave settings-->
<div class="modal fade" id="lop_leave_settings">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">LOP Leave Settings</h4>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="leaves.html">

                <div class="tab-content px-3">
                    <div class="modal-body">
                        <div class="modal-body pb-0 ">
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="exampleFormControlInput">Leave Name</label>
                                        <select class="form-select" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                                            <option>Select Leave</option>
                                            <option>Annual Leave</option>
                                            <option>Casual Leave</option>
                                            <option>Sick Leave</option>
                                            <option>Maternity Leave</option>
                                            <option>Paternity Leave</option>
                                            <option selected>LOP</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Code</label>
                                        <input type="text" class="form-control" value="LOP">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-3 mt-1">
                                        <label class="form-label" for="exampleFormControlInput">Leave Type</label>
                                        <select class="form-select" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                                            <option>Paid</option>
                                            <option selected>Unpaid</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Maximum No of Days</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-light border me-2" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save Changes </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<!-- /LOP Leave settings-->
<!-- New Custom Policy -->
<div class="modal fade" id="new_custom_policy">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New Custom Policy</h4>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ti ti-x"></i>
                </button>
            </div>
            <form action="leaves.html">
                <div class="modal-body pb-0">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">Leave Type</label>
                                <select class="select">
                                    <option>Select</option>
                                    <option>Medical Leave</option>
                                    <option>Casual Leave</option>
                                    <option>Annual Leave</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Policy Name</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">No of Days</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">Add Employee</label>
                                <select class="select-img">
                                    <option data-image="assets/img/users/user-40.jpg" selected>Sophie</option>
                                    <option data-image="assets/img/users/user-58.jpg">Cameron</option>
                                    <option data-image="assets/img/users/user-42.jpg">Doris</option>
                                    <option data-image="assets/img/users/user-10.jpg">Rufana</option>
                                    <option data-image="assets/img/users/user-39.jpg">Michael</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Add Leaves</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /New Custom Policy -->
<!-- Add Custom Policy Modal -->
<partial name="_AddNewLeaveForm"/>
<!-- /Add Custom Policy Modal -->
<!-- Edit Custom Policy Modal -->
<div id="edit_custom_policy" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Custom Policy</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="input-block mb-3">
                        <label class="col-form-label">Policy Name <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" value="LOP">
                    </div>
                    <div class="input-block mb-3">
                        <label class="col-form-label">Days <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" value="4">
                    </div>
                    <div class="input-block mb-3 leave-duallist">
                        <label class="col-form-label">Add employee</label>
                        <div class="row">
                            <div class="col-lg-5 col-sm-5">
                                <select name="edit_customleave_from" id="edit_customleave_select" class="form-control form-select"
                                        size="5" multiple="multiple">
                                    <option value="1">Bernardo Galaviz </option>
                                    <option value="2">Jeffrey Warden</option>
                                    <option value="2">John Doe</option>
                                    <option value="2">John Smith</option>
                                    <option value="3">Mike Litorus</option>
                                </select>
                            </div>
                            <div class="multiselect-controls col-lg-2 col-sm-2 d-grid gap-2">
                                <button type="button" id="edit_customleave_select_rightAll" class="btn w-100 btn-white">
                                    <i class="fa fa-forward"></i>
                                </button>
                                <button type="button" id="edit_customleave_select_rightSelected" class="btn w-100 btn-white">
                                    <i class="fa fa-chevron-right"></i>
                                </button>
                                <button type="button" id="edit_customleave_select_leftSelected" class="btn w-100 btn-white">
                                    <i class="fa fa-chevron-left"></i>
                                </button>
                                <button type="button" id="edit_customleave_select_leftAll" class="btn w-100 btn-white">
                                    <i class="fa fa-backward"></i>
                                </button>
                            </div>
                            <div class="col-lg-5 col-sm-5">
                                <select name="customleave_to" id="edit_customleave_select_to" class="form-control form-select" size="8"
                                        multiple="multiple"></select>
                            </div>
                        </div>
                    </div>

                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="col-12 col-md-12 col-lg-12 ">

    <ul class="nav nav-underline fs-9" id="myTab" role="tablist">
        <li class="nav-item"><a class="nav-link active" id="LeaveSettings-tab" data-bs-toggle="tab" href="#tab-LeaveSettings" role="tab" aria-controls="tab-LeaveSettings" aria-selected="true">Leave Type Settings</a></li>
        <li class="nav-item"><a class="nav-link" id="AttendanceSettings-tab" data-bs-toggle="tab" href="#tab-AttendanceSettings" role="tab" aria-controls="tab-AttendanceSettings" aria-selected="false">Leave policy configuration</a></li>
    </ul>
    <div class="tab-content mt-3" id="myTabContent0">
        <div class="tab-pane fade show active" id="tab-LeaveSettings" role="tabpanel" aria-labelledby="LeaveSettings-tab">
            <div class="row">
                <div class="d-flex justify-content-end mb-2">
                    <a class="text-decoration-none btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#add_new_leave">Add New Leave</a>
                </div>
            </div>

            <div class="px-25">
                <div class="d-flex justify-content-center mt-2 ">
                    <div class="col-12 col-md-12 col-lg-12 ">
                        <div class="row">

                            <div class="col-xl-4 col-md-6">
                                <div class="card mb-3">
                                    <div class="card-body d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="form-check form-check-md form-switch me-1">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" role="switch" checked>
                                                </label>
                                            </div>
                                            <h6 class="d-flex align-items-center">Annual Leave</h6>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <a class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#annual_leave_settings"><span class="text-primary" data-feather="settings" style="height: 15px; width: 15px;"></span> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-4 col-md-6">
                                <div class="card mb-3">
                                    <div class="card-body d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="form-check form-check-md form-switch me-1">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" role="switch">
                                                </label>
                                            </div>
                                            <h6 class="d-flex align-items-center">Casual Leave</h6>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <a class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#casual_leave_settings"> <span class="text-primary" data-feather="settings" style="height: 15px; width: 15px;"></span> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-4 col-md-6">
                                <div class="card mb-3">
                                    <div class="card-body d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="form-check form-check-md form-switch me-1">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" role="switch">
                                                </label>
                                            </div>
                                            <h6 class="d-flex align-items-center">Sick Leave</h6>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <a class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#sick_leave_settings"><span class="text-primary" data-feather="settings" style="height: 15px; width: 15px;"></span> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-4 col-md-6">
                                <div class="card mb-3">
                                    <div class="card-body d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="form-check form-check-md form-switch me-1">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" role="switch">
                                                </label>
                                            </div>
                                            <h6 class="d-flex align-items-center">Maternity Leave</h6>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <a class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#maternity_leave_settings"><span class="text-primary" data-feather="settings" style="height: 15px; width: 15px;"></span> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-4 col-md-6">
                                <div class="card mb-3">
                                    <div class="card-body d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="form-check form-check-md form-switch me-1">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" role="switch">
                                                </label>
                                            </div>
                                            <h6 class="d-flex align-items-center">Paternity Leave</h6>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <a class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#paternity_leave_settings"><span class="text-primary" data-feather="settings" style="height: 15px; width: 15px;"></span> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-4 col-md-6">
                                <div class="card mb-3">
                                    <div class="card-body d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="form-check form-check-md form-switch me-1">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" role="switch">
                                                </label>
                                            </div>
                                            <h6 class="d-flex align-items-center">LOP Leave</h6>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <a class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#lop_leave_settings"><span class="text-primary" data-feather="settings" style="height: 15px; width: 15px;"></span> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="tab-AttendanceSettings" role="tabpanel" aria-labelledby="AttendanceSettings-tab">

            <div class="row">
                <div class="d-flex justify-content-end mb-2">
                    <a class="text-decoration-none btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#add_new_leave">Add New Leave</a>
                </div>
            </div>

            <div class="px-25">
                <div class="d-flex justify-content-center mt-2 ">
                    <div class="col-12 col-md-12 col-lg-12 ">
                        <div class="row">

                            <div class="col-xl-6 col-md-6">

                                <div class="card mb-3">
                                    <div class="card-header"><h4>Restrictions</h4> </div>
                                    <div class="card-body d-block ">
                                        <div class="mb-3">
                                            <p class="border-bottom h5">Weekent between leave period</p>
                                            <div class="d-flex align-items-center justify-content-between">
                                                <form action="">
                                                    <div class="form-check">
                                                        <input class="form-check-input" id="flexRadioDefault1" type="radio" name="flexRadioDefault" />
                                                        <label class="form-check-label" for="flexRadioDefault1">Count as leave</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" id="flexRadioDefault2" type="radio" name="flexRadioDefault" checked="" />
                                                        <label class="form-check-label" for="flexRadioDefault2">Don't count as leave</label>
                                                    </div>
                                                </form>

                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <p class="border-bottom h5">Holiday between leave period</p>
                                            <div class="d-flex align-items-center justify-content-between">
                                                <form action="">
                                                    <div class="form-check">
                                                        <input class="form-check-input" id="flexRadioDefault1" type="radio" name="flexRadioDefault" />
                                                        <label class="form-check-label" for="flexRadioDefault1">Count as leave</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" id="flexRadioDefault2" type="radio" name="flexRadioDefault" checked="" />
                                                        <label class="form-check-label" for="flexRadioDefault2">Don't count as leave</label>
                                                    </div>
                                                </form>

                                            </div>
                                        </div>
                                        <div>
                                            <p class="border-bottom h5">While Applying Leave, Exceed Leave Balance</p>
                                            <div class="d-flex align-items-center justify-content-between">
                                                <form action="">
                                                    <div class="form-check">
                                                        <input class="form-check-input" id="flexRadioDefault1" type="radio" name="flexRadioDefault" />
                                                        <label class="form-check-label" for="flexRadioDefault1">Allow (Exceed leave mark as LOP)</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" id="flexRadioDefault2" type="radio" name="flexRadioDefault" checked="" />
                                                        <label class="form-check-label" for="flexRadioDefault2">Don't allow</label>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-6 col-md-6">
                                <div class="card mb-3">
                                    <div class="card-header"><h4>Allow requests for</h4> </div>
                                    <div class="card-body d-flex align-items-center justify-content-between">
                                        <div class="mb-3">

                                            <div class="d-flex align-items-center justify-content-between">
                                                <form action="">
                                                    <div class="form-check">
                                                        <input class="form-check-input" id="flexCheckDefault" type="checkbox" value="" />
                                                        <label class="form-check-label" for="flexCheckDefault">Past dates not allowed</label>
                                                    </div>

                                                    <div class="form-check mb-3">
                                                        <input class="form-check-input" id="flexCheckChecked" type="" value="" checked="" />
                                                        <label class="form-check-label" for="flexCheckChecked">Future dates</label>
                                                        <div class="form-check ms-5 d-flex">
                                                            <input class="form-check-input me-2 mt-2" id="flexCheckChecked" type="" value="" checked="" />
                                                            <label class="form-check-label mt-2" for="flexCheckChecked">To be applied</label>
                                                            <input type="text" class="form-control mx-2" placeholder="5" style="width: 3rem;">
                                                            <label class="form-check-label mt-2" for="flexCheckChecked">Days in advance</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-check d-flex mb-3">
                                                        <input class="form-check-input me-2 mt-2 " id="flexCheckChecked" type="" value="" checked="" />
                                                        <label class="form-check-label mt-2 me-2" for="flexCheckChecked">Maximum leave that can be availed per application</label>
                                                        <input type="text" class="form-control" placeholder="5" style="width: 3rem;">
                                                    </div>

                                                    <div class="form-check d-flex mb-3">
                                                        <input class="form-check-input me-2 mt-2" id="flexCheckChecked" type="" value="" checked="" />
                                                        <label class="form-check-label mt-2 me-2 " for="flexCheckChecked">Maximum gap (In days) between two application</label>
                                                        <input type="text" class="form-control " placeholder="5" style="width: 3rem;">
                                                    </div>
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-6 col-md-6">
                                <div class="card mb-3">
                                    <div class="card-header"><h4>Prorate Accrual</h4> </div>
                                    <div class="card-body d-flex align-items-center justify-content-between">
                                        <div class="mb-3">

                                            <div class="d-flex align-items-center justify-content-between">
                                                <form action="">

                                                    <h5>Round off</h5>
                                                    <div class="form-check d-flex mb-3">
                                                        <input class="form-check-input me-2 mt-2 " id="flexCheckChecked" type="" value="" checked="" />
                                                        <label class="form-check-label mt-2 me-2" for="flexCheckChecked">Round of</label>
                                                        <select class="form-select" aria-label="Default select example" style="width: 7rem;">
                                                            <option selected="">Nearest</option>
                                                            <option value="1">Minimum</option>
                                                            <option value="2">Maximum</option>
                                                        </select>

                                                        <select class="form-select ms-2" aria-label="Default select example" style="width: 7rem;">
                                                            <option selected="">Day</option>
                                                            <option value="1">Half day</option>
                                                            <option value="2">Quater day</option>
                                                        </select>

                                                    </div>

                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/pages/attendancemanagement/leavemanagements/leaverequest/leavesettings.js"></script>

}



@* 

<script>
    var navbarTopStyle = window.config.config.phoenixNavbarTopStyle;
    var navbarTop = document.querySelector('.navbar-top');
    if (navbarTopStyle === 'darker') {
      navbarTop.setAttribute('data-navbar-appearance', 'darker');
    }

    var navbarVerticalStyle = window.config.config.phoenixNavbarVerticalStyle;
    var navbarVertical = document.querySelector('.navbar-vertical');
    if (navbarVertical && navbarVerticalStyle === 'darker') {
      navbarVertical.setAttribute('data-navbar-appearance', 'darker');
    }
</script>

 *@
