@{
    ViewData["Title"] = "Send Email";
}

<h2>Send Email Test</h2>

@if (ViewBag.Message != null)
{
    <div class="alert alert-info">
        @ViewBag.Message
    </div>
}

<form asp-action="SendTestEmail" method="post">
    <button type="submit" class="btn btn-primary">Send Test Email</button>
</form>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/pages/Employees/test.js"></script>
}


