@section Styles{
    <style>
        .flatpickr-holiday {
            background-color: #f44336 !important;
            color: white !important;
        }

        .flatpickr-weekend {
            background-color: #ffa726 !important;
            color: white !important;
        }

        .shift-block {
            background: repeating-linear-gradient( 135deg, #e5e5e5, #e5e5e5 10px, #f7f7f7 10px, #f7f7f7 20px );
            border-radius: .4rem;
            padding: 5px 0 5px 0;
        }

        .shift-block .edit-shift-btn {
            display: none; /* Hidden by default */
        }

        .shift-block:hover .edit-shift-btn {
            display: inline-block; /* Show on hover */
        }
    </style>
}

<div class="mb-9 mt-4">
    <div class="card">
        <div class="card-body">
            <ul class="nav nav-underline fs-9" id="myTab">
                <li class="nav-item">
                    <a class="nav-link" href="/OfficeDayRoster/Index">@Html.SmartLocalize("Assign roster in office day")</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/OffDayRoster/Index">@Html.SmartLocalize("Assign roster in Offday")</a>
                </li>
            </ul>

            <div class="tab-content mt-3" id="myTabContent">
                <div class="tab-pane fade show active">
                    <div class="border-translucent p-3">
                        <partial name="_Form" model="Model.Setup" />
                    </div>
                </div>

            </div>
            <partial name="_Table" />
        </div>
    </div>
</div>

<partial name="_AddShiftModal" />
<partial name="_DayExchangeModal" />
<partial name="_DeleteModal" />
<partial name="_EditShiftModal" model="Model.Edit" />
@* <script>
    flatpickr("#datepickerf", {
      mode: "multiple", // allow multiple selections
      dateFormat: "Y-m-d",
      enable: [
        function(date) {
          // Enable only Fridays (Friday = 5)
          return date.getDay() === 5;
        }
      ]
    });
</script> *@

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
	<script src="~/js/pages/attendancemanagement/schedulemanagement/offdayroster.js"></script>
    <script>
        $(function () {
            var options = {
                baseUrl: '@Url.Action("", "OffDayRoster")'
            };
            options.load = () => { };
            $.offdayroster(options);
        });
    </script>
}