<div class=" px-25 ">
    <div class="d-flex justify-content-center mt-2 ">
        <div class="col-12 row flex gy-3 pb-3">
            

            <div class="col-sm-4 col-md-4">
                <div class="form-floating">
                    <input class="form-control" id="employeeIdp" type="text" placeholder="Enter Employee ID" readonly />
                    <label for="">Employee ID</label>
                </div>
            </div>

            <div class="col-sm-4 col-md-4">
                <div class="form-floating">
                    <input class="form-control" id="firstNamep" type="text" placeholder="Enter Firs Name" required />
                    <label for="">First Name</label>
                </div>
            </div>

            <div class="col-sm-4 col-md-4">
                <div class="form-floating">
                    <input class="form-control" id="lastNamep" type="text" placeholder="Enter Last Name" />
                    <label for="">Last Name</label>
                </div>
            </div>

            <div class="col-sm-4 col-md-4">
                <div class="form-floating">
                    <input class="form-control" id="fatherNamep" type="text" placeholder="Enter Father's Name" />
                    <label for="">Father's Name</label>
                </div>
            </div>

            <div class="col-sm-4 col-md-4">
                <div class="form-floating">
                    <input class="form-control" id="motherNamep" type="text" placeholder="Enter Mother's Name" />
                    <label for="">Mother's Name</label>
                </div>
            </div>

            <div class="col-sm-4 col-md-4">
                <div class="flatpickr-input-container">
                    <div class="form-floating">
                        <input class="form-control datetimepicker" id="floatingInputReportDatep" type="text" placeholder="Enter Date of Birth" data-options='{"disableMobile":true}' />
                        <label class="ps-6" for="floatingInputReportDate">Date of Birth</label><span class="uil uil-calendar-alt flatpickr-icon text-body-tertiary"></span>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-md-4">
                <div class="form-floating">
                    <input class="form-control" id="bcnp" type="text" placeholder="Birth Certificate No" />
                    <label for="">Birth Certificate No</label>
                </div>
            </div>

            <div class="col-sm-4 col-md-4">
                <div class="form-floating">
                    <input class="form-control" id="bPlacep" type="text" placeholder="Birth Place" />
                    <label for="">Birth Place</label>
                </div>
            </div>

            <div class="col-sm-4 col-md-4">
                <div class="form-floating">
                    <select class="form-select" id="genderPersonal" required>
                        <option selected="selected">Select Gender</option>
                        <option value="1">Male</option>
                        <option value="1">Female</option>
                        <option value="1">Other</option>
                        <option value="1">Prefer not to say</option>
                    </select>
                    <label for="floatingSelectLitigation">Gender</label>
                </div>
            </div>

            <div class="col-sm-4 col-md-4">
                <div class="form-floating">
                    <select class="form-select" id="bloodGroupPersonal">
                        <option selected="selected">Select Blood Group</option>
                        <option value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                        <option value="O+">O+</option>
                        <option value="O-">O-</option>
                        <option value="AB+">AB+</option>
                        <option value="AB-">AB-</option>
                    </select>
                    <label for="floatingSelectLitigation">Blood Group</label>
                </div>
            </div>

            <div class="col-sm-4 col-md-4">
                <div class="form-floating">
                    <select class="form-select" id="nationalityPersonal" required>
                        <option selected="selected">Select Nationality</option>
                        <option value="1">Bangladesh</option>
                        <option value="2">India</option>
                        <option value="3">Pakisthan</option>
                        <option value="4">Srilonka</option>
                    </select>
                    <label for="floatingSelectLitigation">Nationality</label>
                </div>
            </div>

            <div class="col-sm-4 col-md-4">
                <div class="form-floating">
                    <input class="form-control" id="nationalIDPersonal" type="text" placeholder="Enter National ID" />
                    <label for="">National ID</label>
                </div>
            </div>

            <div class="col-sm-4 col-md-4">
                <div class="form-floating">
                    <select class="form-select" id="religionPersonal" required>
                        <option selected="selected">Select Religion</option>
                        <option value="christianity">Christianity</option>
                        <option value="islam">Islam</option>
                        <option value="hinduism">Hinduism</option>
                        <option value="buddhism">Buddhism</option>
                        <option value="judaism">Judaism</option>
                        <option value="sikhism">Sikhism</option>
                        <option value="other">Other</option>
                        <option value="preferNotToSay">Prefer not to say</option>
                    </select>
                    <label for="floatingSelectLitigation">Religion</label>
                </div>
            </div>

            <div class="col-sm-4 col-md-4">
                <div class="form-floating">
                    <select class="form-select" id="maritalStatusPersonal">
                        <option selected="selected">Select Marital Status</option>
                        <option value="single">Single</option>
                        <option value="married">Married</option>
                        <option value="divorced">Divorced</option>
                        <option value="widowed">Widowed</option>
                        <option value="separated">Separated</option>
                        <option value="preferNotToSay">Prefer not to say</option>
                    </select>
                    <label for="floatingSelectLitigation">Marital Status</label>
                </div>
            </div>

            <div class="col-sm-4 col-md-4">
                <div class="form-floating">
                    <input class="form-control" id="cardNop" type="text" placeholder="Enter Car No." />
                    <label for="">Card no.</label>
                </div>
            </div>


            <div class="col-sm-4 col-md-4">
                <div class="form-floating">
                    <input class="form-control" id="mobilep" type="text" placeholder="Personal Mobile No. " />
                    <label for="">Personal Mobile No. </label>
                </div>
            </div>

            <div class="col-sm-4 col-md-4">
                <div class="form-floating">
                    <input class="form-control" id="emailp" type="text" placeholder="Personal Email " />
                    <label for="">Personal Email </label>
                </div>
            </div>

            <div class="col-sm-4 col-md-4">
                <div class="form-floating">
                    <input class="form-control" id="tinp" type="text" placeholder="TIN No " />
                    <label for="">TIN No </label>
                </div>
            </div>



            @* <div class="col-sm-4 col-md-4"> *@
            @*     <div class="form-floating"> *@
            @*         <input class="form-control" id="epImageUpload" type="file" placeholder="Employee Picture  " /> *@
            @*         <label for="">Employee Picture  </label> *@
            @*     </div> *@
            @*     <img class="border rounded-4 mt-3" id="epImagePreview" src="" alt="" style="width: 150px; height: 150px;visibility: hidden;"> *@
            @* </div> *@

            @* <div class="col-sm-4 col-md-4"> *@
            @*     <div class="form-floating"> *@
            @*         <input class="form-control" id="esImageUpload" type="file" placeholder="Employee Picture  " /> *@
            @*         <label for="">Signature  </label> *@
            @*     </div> *@
            @*     <img class="border rounded-4 mt-3" id="esImagePreview" src="" alt="" style="width: 150px; height: 50px;visibility: hidden;"> *@
            @* </div> *@


            <div class="col-sm-4 col-md-4">
                <div class="form-floating">
                    <input class="form-control" id="epImageUpload" type="file" placeholder="Employee Picture" />
                    <label for="epImageUpload">Employee Picture</label>
                </div>
                <div class="position-relative d-inline-block mt-3">
                    <img class="border rounded-4" id="epImagePreview" src="" alt="" style="width: 150px; height: 150px; visibility: hidden; ">
                    <button type="button" class="btn btn-sm btn-danger position-absolute top-0 end-0" id="epCloseBtn" style="visibility: hidden; background-color: #ffffffba">✖</button>
                </div>
            </div>

            <div class="col-sm-4 col-md-4">
                <div class="form-floating">
                    <input class="form-control" id="esImageUpload" type="file" placeholder="Signature" />
                    <label for="esImageUpload">Signature</label>
                </div>
                <div class="position-relative d-inline-block mt-3">
                    <img class="border rounded-4" id="esImagePreview" src="" alt="" style="width: 150px; height: 50px; visibility: hidden;">
                    <button type="button" class="btn btn-sm btn-danger position-absolute top-0 end-0" id="esCloseBtn" style="visibility: hidden; background-color: #ffffffba">✖</button>
                </div>
            </div>



            <div class="col-sm-4 col-md-4">
                <div class="form-floating">
                    <textarea class="form-control" id="floatingProjectOverview" placeholder="Other Activities " style="height: 220px"></textarea>
                    <label for="floatingProjectOverview">Other Activities</label>
                </div>
            </div>

        </div>
    </div>

    <button class="btn btn-outline-primary rounded-pill me-1 mb-1 mx-3" id="btnSavePersonal" type="button" style="width: 100px;">Save</button>

</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/pages/employeepersonal.js"></script>
