<div class="container mt-3">
    <div class="card shadow-sm">
        <div class="card-body p-0" style="background: #d2d9e970">
            <div class="d-flex justify-content-center mt-2">
                <div class="col-12 row flex gy-3 pb-3">

                    <input id="empIdMain" type="hidden" />
                    <input id="empCode" type="hidden" />

                    <div class="col-sm-4 col-md-4">
                        <div class="form-floating">
                            <select class="form-select" id="empCodePass">
                                <option selected="selected">Select Employee</option>
                            </select>
                            <label for="floatingSelectLitigation">Employee</label>
                        </div>
                    </div>

                    <div class="col-sm-4 col-md-4">
                        <div class="form-floating">
                            <input class="form-control" id="NidPass" type="text" placeholder="" readonly />
                            <label for="">National ID</label>
                        </div>
                    </div>

                    <div class="col-sm-4 col-md-4">
                        <div class="form-floating">
                            <input class="form-control" id="BirthCertiPass" type="text" placeholder="" readonly />
                            <label for="">Birth Certificate</label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/pages/employeeinfoviewpartial.js"></script>

