<div class="offcanvas offcanvas-end" id="offcanvasRightVEI" tabindex="-1" aria-labelledby="offcanvasRightVEILabel" style="width: 75%; left:25%">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightVEILabel"></h5>
        <button class="btn-close text-reset" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body">

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="card h-100">
                <div class="card-header hover-actions-trigger position-relative mb-7" style="min-height: 130px; ">
                    <div class="bg-holder rounded-top" style="background-image: linear-gradient(0deg, #000000 -3%, rgba(0, 0, 0, 0) 83%), url(../../assets/img/generic/59.png)">
                        <input class="d-none" id="upload-feed-cover-image" type="file" />
                        <label class="cover-image-file-input" for="upload-feed-cover-image"></label>
                        <div class="hover-actions end-0 bottom-0 pe-1 pb-2 text-white dark__text-gray-1100"><span class="fa-solid fa-camera me-2 overlay-icon"> </span></div>
                    </div>
                    <input class="d-none" id="upload-feed-porfile-picture" type="file" />
                    <label class="avatar avatar-4xl status-online feed-avatar-profile cursor-pointer" for="upload-feed-porfile-picture"><img class="rounded-circle img-thumbnail shadow-sm border-0" src="../../assets/img/team/59.webp" width="200" alt="" /></label>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex flex-wrap mb-3 align-items-center">
                                <h3 class="me-2" id="employee-name">Ansolo Lazinatov</h3><span class="fw-normal fs-8" >(Cyber Crime Expert)</span>
                            </div>
                            <div class="mb-3">
                                <h5 class="lh-sm me-4"><span data-feather="phone" id="phone-text"></span> 01700 000000</h5>
                                <h5 class="lh-sm me-4"><span data-feather="mail" id="email-text"></span> user@email.com</h5>
                                <h5 class="lh-sm me-4"><span data-feather="home" id="address-text"></span> Sector-6, Uttora, Dhaka-1216;</h5>
                                <h5 class="lh-sm me-4 gx-3">
                                    <span data-feather="facebook"> </span>
                                    <span data-feather="instagram"> </span>
                                    <span data-feather="twitter"> </span>
                                </h5>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ol-12 row flex gy-3 pb-3 m-4">


           <div class="col-xl-12">


                <div class="d-flex mb-5 pt-8" id="scrollspyStats">
                    <span class="fa-stack me-2 ms-n1"><i class="fas fa-circle fa-stack-2x text-primary"></i><i class="fa-inverse fa-stack-1x text-primary-subtle fas fa-percentage"></i></span>
                    <div class="col">
                        <h3 class="mb-0 text-primary position-relative fw-bold"><span class="bg-body pe-2">Personal Information</span><span class="border border-primary position-absolute top-50 translate-middle-y w-100 start-0 z-n1"></span></h3>
                        <p class="mb-0">You can easily show your stats content by using these cards.</p>
                    </div>
                </div>
                <table class="table table-borderless mt-4">
                    <tbody>
                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Office Name</h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">National Board of Revenue</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Branch</h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">Main Office</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Employee ID</h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">16942</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">First Name</h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">Md. Rakibul</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Last Name</h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">Islam</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Father's Name</h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">Abodul motion</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Mother's Name</h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">NA</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Mother's Name</h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">NA</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Date Of Birth </h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">17 Sep 1994</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Birth Certificate No</h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">1994 2536 2536 55</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Place Of Birth </h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">Dhaka</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Gender</h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">Male</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Blood Group</h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">A +</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Nationality</h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">Bangladeshi</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">National ID</h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">632695369</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Religion</h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">Islam</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Nationality</h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">Bangladeshi</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Marrital Status</h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">Married</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Card No</h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">6236597</h5>
                            </td>
                        </tr>
                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">TIN No</h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">62361456597</h5>
                            </td>
                        </tr>


                    </tbody>
                </table>
              </div> 



            





           <div class="col-xl-12">
                <div class="d-flex mb-5 pt-8" id="scrollspyStats">
                    <span class="fa-stack me-2 ms-n1"><i class="fas fa-circle fa-stack-2x text-primary"></i><i class="fa-inverse fa-stack-1x text-primary-subtle fas fa-percentage"></i></span>
                    <div class="col">
                        <h3 class="mb-0 text-primary position-relative fw-bold"><span class="bg-body pe-2">Additional Information</span><span class="border border-primary position-absolute top-50 translate-middle-y w-100 start-0 z-n1"></span></h3>
                        <p class="mb-0">You can easily show your stats content by using these cards.</p>
                    </div>
                </div>
                <table class="table table-borderless mt-4">
                    <tbody>
                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Office Name</h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">National Board of Revenue</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Branch</h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">Main Office</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Department</h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">Management</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Designation</h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">General Manager</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Employee Type </h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">Officer</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Employment Nature </h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">Permanent</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Grade No</h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">9</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Gross Salary </h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">22,000 BDT</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Payment Period </h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">Monthly</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Shift</h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">Shift 1</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Immediate Supervisor</h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">Md. Abdullah Al Mamun</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Head of Department </h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">Mohit ul alam</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Official Phone </h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">01362 025365</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Official Email</h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">office@email.com</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Attendence ID </h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">632369</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Employee Status</h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">Active</h5>
                            </td>
                        </tr>




                    </tbody>
                </table>
            </div> 








            <div class="col-xl-12">
                <div class="d-flex mb-5 pt-8" id="scrollspyStats">
                    <span class="fa-stack me-2 ms-n1"><i class="fas fa-circle fa-stack-2x text-primary"></i><i class="fa-inverse fa-stack-1x text-primary-subtle fas fa-percentage"></i></span>
                    <div class="col">
                        <h3 class="mb-0 text-primary position-relative fw-bold"><span class="bg-body pe-2">Additional Information</span><span class="border border-primary position-absolute top-50 translate-middle-y w-100 start-0 z-n1"></span></h3>
                        <p class="mb-0">You can easily show your stats content by using these cards.</p>
                    </div>
                </div>

                <table class="table table-borderless ">
                    <tbody>
                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Office Name</h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">National Board of Revenue</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Branch</h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">Main Office</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Department</h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">Management</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Designation</h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">General Manager</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Employee Type </h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">Officer</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Employment Nature </h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">Permanent</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Grade No</h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">9</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Gross Salary </h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">22,000 BDT</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Payment Period </h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">Monthly</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Shift</h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">Shift 1</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Immediate Supervisor</h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">Md. Abdullah Al Mamun</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Head of Department </h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">Mohit ul alam</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Official Phone </h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">01362 025365</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Official Email</h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">office@email.com</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Attendence ID </h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">632369</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Employee Status</h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">Active</h5>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <div class="col-xl-12">
                <div class="d-flex mb-5 pt-8" id="scrollspyStats">
                    <span class="fa-stack me-2 ms-n1"><i class="fas fa-circle fa-stack-2x text-primary"></i><i class="fa-inverse fa-stack-1x text-primary-subtle fas fa-percentage"></i></span>
                    <div class="col">
                        <h3 class="mb-0 text-primary position-relative fw-bold"><span class="bg-body pe-2">Additional Information</span><span class="border border-primary position-absolute top-50 translate-middle-y w-100 start-0 z-n1"></span></h3>
                        <p class="mb-0">You can easily show your stats content by using these cards.</p>
                    </div>
                </div>

                <table class="table table-borderless ">
                    <tbody>
                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Office Name</h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">National Board of Revenue</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Branch</h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">Main Office</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Department</h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">Management</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Designation</h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">General Manager</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Employee Type </h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">Officer</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Employment Nature </h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">Permanent</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Grade No</h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">9</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Gross Salary </h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">22,000 BDT</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Payment Period </h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">Monthly</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Shift</h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">Shift 1</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Immediate Supervisor</h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">Md. Abdullah Al Mamun</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Head of Department </h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">Mohit ul alam</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Official Phone </h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">01362 025365</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Official Email</h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">office@email.com</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Attendence ID </h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">632369</h5>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-2 ps-0">
                                <div class="d-flex">
                                    <h5 class="lh-sm me-4">Employee Status</h5>
                                </div>
                            </td>
                            <td class="py-2 fw-bold lh-sm">:</td>
                            <td class="py-2 px-3">
                                <h5 class="lh-sm fw-normal text-body-secondary">Active</h5>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>


        </div>





    </div>


</div>