

        <div class=" px-25 ">
            <div class="d-flex justify-content-center mt-2 ">
                <div class="col-12 row flex gy-3 ">

            <div class="container mt-3">
                <div class="card shadow-sm">
                    <div class="card-body p-0" style="background: #d2d9e970">
                        <div class="d-flex justify-content-center mt-2">
                            <div class="col-12 row flex gy-3 pb-3">

                                <input id="empIdMain2" type="hidden" />
                                <input id="empCode" type="hidden" />

                                <div class="col-sm-4 col-md-4">
                                    <div class="form-floating">
                                        <select class="form-select" id="empCodePass2">
                                            <option selected="selected">Select Employee</option>
                                        </select>
                                        <label for="floatingSelectLitigation"></label>
                                    </div>
                                </div>

                                <div class="col-sm-4 col-md-4">
                                    <div class="form-floating">
                                        <input class="form-control" id="NidPass2" type="text" placeholder="" readonly />
                                        <label for="">National ID</label>
                                    </div>
                                </div>

                                <div class="col-sm-4 col-md-4">
                                    <div class="form-floating">
                                        <input class="form-control" id="BirthCertiPass2" type="text" placeholder="" readonly />
                                        <label for="">Birth Certificate</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="~/js/pages/employeeinfoviewpartial.js"></script>

                    @* <partial name="_EmployeeInfoPartial" /> *@

                    <p class="border-bottom">Pasport Information</p>

                     <input type="hidden" id="empAdditionalId" />
                     


                    <div class="col-sm-4 col-md-4">
                        <div class="form-floating">
                            <input class="form-control" id="passportName" type="text" placeholder="Enter Pasport Name" />
                            <label for="">Pasport Name</label>
                        </div>
                    </div>

                    <div class="col-sm-4 col-md-4">
                        <div class="form-floating">
                            <input class="form-control" id="passportNo" type="text" placeholder="Enter Pasport No." />
                            <label for="">Pasport No.</label>
                        </div>
                    </div>

                    <div class="col-sm-4 col-md-4">
                        <div class="form-floating">
                            <input class="form-control" id="placeOfIssuePassport" type="text" placeholder="Place of Issue " />
                            <label for="">Place of Issue </label>
                        </div>
                    </div>

                    <div class="col-sm-4 col-md-4">
                        <div class="flatpickr-input-container">
                            <div class="form-floating">
                                <input class="form-control datetimepicker" id="dateIssuePassport" type="text" placeholder="Enter Date Issued " data-options='{"disableMobile":true}' />
                                <label class="ps-6" for="floatingInputReportDate">Date Issued </label><span class="uil uil-calendar-alt flatpickr-icon text-body-tertiary"></span>
                            </div>
                        </div>
                        @* floatingInputReportDate *@
                    </div>

                    <div class="col-sm-4 col-md-4">
                        <div class="flatpickr-input-container">
                            <div class="form-floating">
                                <input class="form-control datetimepicker" id="dateExperyPassport" type="text" placeholder="Enter Passport Expiry Date " data-options='{"disableMobile":true}' />
                                <label class="ps-6" for="floatingInputReportDate">Passport Expiry Date </label><span class="uil uil-calendar-alt flatpickr-icon text-body-tertiary"></span>
                            </div>
                        </div>
                    </div>

                    <p class="border-bottom mt-6">Salary Account Information</p>

                    <div class="col-sm-4 col-md-4">
                        <div class="form-floating">
                            <select class="form-select" id="bankForm" required>
                                <option selected="selected">Select Bank</option>
                                <option value="1">City Bank LTD</option>
                                <option value="1">Dhaka Bank LTD</option>
                                <option value="1">Islami Bank LTD</option>
                            </select>
                            <label for="floatingSelectLitigation">Bank Name</label>
                        </div>

                        @* <button class="btn btn-link p-0 ms-3 dropdown-toggle dropdown-caret-none" href="#!" data-bs-toggle="dropdown" aria-expanded="false"><span class="fa-solid fa-plus me-1"></span><span>Add new</span></button> *@
                        <div class="dropdown-menu shadow-sm" style="min-width: 20rem;">
                            <div class="card position-relative border-0">
                                <div class="card-body p-0">
                                    <div class="mx-3">
                                        <form action="">
                                            <h5 class="mb-3">Bank Id</h5>
                                            <input class="form-control mb-3" type="text" aria-label="Default select" id="bankId">
                                            <h5 class="mb-3">Bank Name</h5>
                                            <input class="form-control mb-3" type="text" aria-label="Default select" id="bankName">
                                            <div class="text-end">
                                                <button class="btn btn-link text-danger" id="btnBankCancel" type="button">Cancel</button>
                                                <button class="btn btn-sm btn-primary px-5" id="btnBankSave" type="button">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="form-floating">
                            <select class="form-select" id="branchForm" required>
                                <option selected="selected">Select Branch</option>
                                <option value="1">Gulshan-1</option>
                                <option value="1">Uttora</option>
                                <option value="1">Mirpur-10</option>
                            </select>
                            <label for="floatingSelectLitigation">Grade No</label>
                        </div>

                      <!--  <button class="btn btn-link p-0 ms-3 dropdown-toggle dropdown-caret-none" href="#!" data-bs-toggle="dropdown" aria-expanded="false"><span class="fa-solid fa-plus me-1"></span><span>Add new</span></button>
                        <div class="dropdown-menu shadow-sm" style="min-width: 20rem;">
                            <div class="card position-relative border-0">
                                <div class="card-body p-0">
                                    <div class="mx-3">
                                        <form action="">
                                            <h5 class="mb-3">Enter Branch Id</h5>
                                            <input class="form-control mb-3" type="text" aria-label="Default select" id="branchId">
                                            <h5 class="mb-3">Enter Branch Name</h5>
                                            <input class="form-control mb-3" type="text" aria-label="Default select" id="branchName">
                                            <div class="text-end">
                                                <button class="btn btn-link text-danger" id="btnBranchCancel" type="button">Cancel</button>
                                                <button class="btn btn-sm btn-primary px-5" id="btnBranchSave" type="button">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                  </div> -->


                    </div>
                    @* <div class="col-sm-4 col-md-4"> *@
                    @*     <div class="form-floating"> *@
                    @*         <input class="form-control" id="address" type="text" placeholder="Address" /> *@
                    @*         <label for="">Address</label> *@
                    @*     </div> *@
                    @* </div> *@
                    <div class="col-sm-4 col-md-4">
                        <div class="form-floating">
                            <input class="form-control" id="acName" type="text" placeholder="A/C Name" />
                            <label for="">A/C Name</label>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="form-floating">
                            <input class="form-control" id="acNumber" type="text" placeholder="A/C Number" />
                            <label for="">A/C Number</label>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="form-floating">
                            <input class="form-control" id="atmCardName" type="text" placeholder="ATM Card NO" />
                            <label for="">ATM Card NO</label>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="form-floating">
                            <input class="form-control" id="bkashNumber" type="text" placeholder="Bkash A/C Number" />
                            <label for="">Bkash A/C Number</label>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="form-floating">
                            <input class="form-control" id="rocketNumber" type="text" placeholder="Rocket A/C Number" />
                            <label for="">Rocket A/C Number</label>
                        </div>
                    </div>

                    <p class="border-bottom mt-6">Driving License Information</p>
                    <div class="col-sm-4 col-md-4">
                        <div class="form-floating">
                            <input class="form-control" id="licenseNo" type="text" placeholder="License No" required />
                            <label for="">License No</label>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="form-floating">
                            <select class="form-select" id="licenseType">
                                <option selected="selected">Select License Type</option>
                               @*   <option value="1">Personal</option>
                                 <option value="1">Professional</option> *@
                            </select>
                            <label for="floatingSelectLitigation">License Type</label>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="flatpickr-input-container">
                            <div class="form-floating">
                                <input class="form-control datetimepicker" id="dateIssueLicense" type="text" placeholder="Enter Date Issued " data-options='{"disableMobile":true}' />
                                <label class="ps-6" for="floatingInputReportDate">Date Issued </label><span class="uil uil-calendar-alt flatpickr-icon text-body-tertiary"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="flatpickr-input-container">
                            <div class="form-floating">
                                <input class="form-control datetimepicker" id="dateExpiryLicense" type="text" placeholder="Enter Passport Expiry Date " data-options='{"disableMobile":true}' />
                                <label class="ps-6" for="floatingInputReportDate">Expiry Date </label><span class="uil uil-calendar-alt flatpickr-icon text-body-tertiary"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="form-floating">
                            <input class="form-control" id="SymbolVehicle" type="text" placeholder="Symbol Of vehicle Class" />
                            <label for="">Symbol Of vehicle Class</label>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="form-floating">
                            <input class="form-control" id="placeOfIssueLicense" type="text" placeholder="Place Of Issue" />
                            <label for="">Place Of Issue</label>
                        </div>
                    </div>

                    <p class="border-bottom mt-6">Driving License Information</p>
                    <div class="col-sm-4 col-md-4">
                        <div class="form-floating">
                            <input class="form-control" id="workPermitNumber" type="text" placeholder="Work Permait Number" />
                            <label for="">Work Permait Number</label>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="form-floating">
                            <input class="form-control" id="workPermitType" type="text" placeholder="Work Permit Type" />
                            <label for="">Work Permit Type</label>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="form-floating">
                          <input class="form-control datetimepicker" id="wpEffectiveDate" type="text" placeholder="WP Effective Date" data-options='{"disableMobile":true}' />
                            <label for="">WP Effective Date</label>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="form-floating">
                         <input class="form-control datetimepicker" id="wpExpiryDate" type="text" placeholder="WP Expire Date" data-options='{"disableMobile":true}' />
                            <label for="">WP Expire Date</label>
                        </div>
                    </div>

                </div>
            </div>

            <button class="btn btn-outline-primary rounded-pill me-1 mb-1 mx-3" id="btnSaveAdditional" type="button" style="width: 100px;">Save</button>

        </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
    <script src="~/js/pages/employeeadditional.js"></script>
