
 @model GCTL.Core.ViewModels.AttendanceManagement.LeaveManagements.LeaveRequest.LeaveApplicationsRequestVM
 <form asp-action="SaveLeaveRequest" asp-controller="LeaveRequest" method="post" id="LeaveRequestForm">
    <div class="modal-body pb-0">
        <div class="row">
            <div class="col-md-12">
                <div class="mb-3">
                    <label class="form-label req" for="organizerSingle">Name</label>
                    <select class="form-select choiceDD" asp-for="EmployeeID" asp-items="@ViewBag.EmployeeDD as SelectList">
                        <option value="">Select organizer</option>
                    </select>
                    <span id="EmployeeIDError" class="text-danger small"></span>
                    <span asp-validation-for="EmployeeID" class="text-danger small"></span>
                   
                </div>
            </div>



            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label req" for="organizerSingle">Leave Type</label>
                    <select class="form-select choiceDD" asp-for="LeaveTypeID" asp-items="@ViewBag.LeaveTypeDD as SelectList">
                        <option value="">Select Leave</option>
                    </select>
                    <span id="LeaveTypeIDError" class="text-danger small"></span>
                    <span asp-validation-for="LeaveTypeID" class="text-danger small"></span>
                </div>
            </div>

            <div class="d-flex col-md-6 mt-5">
                <div class="form-check me-3">
                    <input class="form-check-input" type="radio" asp-for="IsFullDay" id="option1" value="true" checked>
                    <label class="form-check-label" for="option1">Full Day</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="IsFullDay" id="option2" value="false">
                    <label class="form-check-label" for="option2">Partial Day</label>
                </div>
            </div>

            @* <div class="col-sm-12 col-md-4">
                <div class="flatpickr-input-container">
                    <div class="form-floating">
                        <input asp-for="DrivingLicenceExpireDate" class="form-control datetimepicker" type="text" placeholder="@Html.SmartLocalize("Enter Expiry Date")" data-options='{"disableMobile":true}' />
                        <label class="ps-6" asp-for="DrivingLicenceExpireDate">@Html.SmartLocalize("Expiry Date")</label>
                        <span class="uil uil-calendar-alt flatpickr-icon text-body-tertiary"></span>
                    </div>
                </div>
            </div> *@

            <!-- Divs to Show/Hide -->
            <div id="FullDayDiv" class="">
                <div class="">
                    <div class="row">

                        <div class=" col-md-6">
                            <div class="mb-3 flatpickr-input-container">
                                <label class="form-label req">From</label>
                                <div class="input-icon-end position-relative flatpickr">
                                    <input type="text" asp-for="FromDate" class="form-control datetimepicker" required placeholder="dd/mm/yyyy">
                                </div>
                                <span asp-validation-for="FromDate" class="text-danger small"></span>
                                <span id="FromDateError" class="text-danger small" ></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label req">To</label>
                                <div class="input-icon-end position-relative">
                                    <input type="text" asp-for="ToDate" class="form-control datetimepicker" required placeholder="dd/mm/yyyy">
                                </div>
                                <span asp-validation-for="ToDate" class="text-danger small"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Remaining Days</label>
                                <input type="text" class="form-control" value="8" disabled>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Leave Applied Days</label>
                                <input type="text" class="form-control" value="2" disabled>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
       
            <div id="PartialDayDiv" class="mt-4 d-none">
                <div class="row">
                    <div class=" col-md-4">
                        <div class="mb-3">
                            <label class="form-label req">Date </label>
                            <div class="input-icon-end position-relative">
                                <input type="text" class="form-control datetimepicker" asp-for="ToDateFromDateCombined"  required placeholder="dd/mm/yyyy">
                                <span asp-validation-for="ToDateFromDateCombined" class="text-danger small"></span>
                            </div>
                            <span id="ToDateFromDateCombinedError" class="text-danger small"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label req">Start Time</label>
                            <input class="form-control datetimepicker" asp-for="PartialFromTime" type="text" placeholder="hour : minute" data-options='{"enableTime":true,"noCalendar":true,"dateFormat":"H:i","disableMobile":true}' />
                            <span asp-validation-for="PartialFromTime" class="text-danger small"></span>
                        </div>
                      
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label req">End Time</label>
                            <input class="form-control datetimepicker" asp-for="PartialToTime"  type="text" placeholder="hour : minute" data-options='{"enableTime":true,"noCalendar":true,"dateFormat":"H:i","disableMobile":true}' />
                            <span asp-validation-for="PartialToTime" class="text-danger small"></span>
                        </div>
                       
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="mb-3">
                    <label class="form-label">Reason</label>
                    <textarea class="form-control" asp-for="Reason" rows="3"></textarea>
                </div>
            </div>


        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light me-2" id="ResetButton">Cancel</button>
        <button id="ApplyLeaveSubmitButton" class="btn btn-primary">Apply Leave</button>
    </div>
</form> 
<script>
    

    document.addEventListener('DOMContentLoaded', function () {
        const radios = document.querySelectorAll('input[name="IsFullDay"]');
        const div1 = document.getElementById('FullDayDiv'); // Full Day section
        const div2 = document.getElementById('PartialDayDiv'); // Partial Day section

        function toggleLeaveSections() {
            const isFullDay = document.querySelector('input[name="IsFullDay"]:checked').value === 'true';
            if (isFullDay) {
                div1.classList.remove('d-none');
                div2.classList.add('d-none');
            } else {
                div1.classList.add('d-none');
                div2.classList.remove('d-none');
            }
        }

        radios.forEach(radio => {
            radio.addEventListener('change', toggleLeaveSections);
        });

        // Run on page load to set the correct visibility
        toggleLeaveSections();
    });

    
</script>



           
