<div class="my-4">
    <div class="row g-3">


        <div class="col-md-4 col-lg-2 mb-5">
            <div class="card leave-card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="mb-4">Casual Leave</h5>
                    <div class="card-icon text-info mb-3">
                        <span class="text-body" data-feather="home"
                              style="height: 50px; width: 50px;"></span>
                    </div>

                    <p class="mb-2">Available: 4</p>
                    <p class="mb-0">Taken: 1</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-2 mb-5">
            <div class="card leave-card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="mb-4">Casual Leave</h5>
                    <div class="card-icon text-info mb-3">
                        <span class="text-body" data-feather="home"
                              style="height: 50px; width: 50px;"></span>
                    </div>

                    <p class="mb-2">Available: 4</p>
                    <p class="mb-0">Taken: 1</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-2 mb-5">
            <div class="card leave-card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="mb-4">Casual Leave</h5>
                    <div class="card-icon text-info mb-3">
                        <span class="text-body" data-feather="home"
                              style="height: 50px; width: 50px;"></span>
                    </div>

                    <p class="mb-2">Available: 4</p>
                    <p class="mb-0">Taken: 1</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-2 mb-5">
            <div class="card leave-card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="mb-4">PTO</h5>
                    <div class="card-icon text-info mb-3">
                        <span class="text-body" data-feather="cloud-drizzle"
                              style="height: 50px; width: 50px;"></span>
                    </div>

                    <p class="mb-2">Available: 4</p>
                    <p class="mb-0">Taken: 1</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-2 mb-5">
            <div class="card leave-card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="mb-4">Compensatory Off</h5>
                    <div class="card-icon text-info mb-3">
                        <span class="text-body" data-feather="briefcase"
                              style="height: 50px; width: 50px;"></span>
                    </div>

                    <p class="mb-2">Available: 4</p>
                    <p class="mb-0">Taken: 1</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-2 mb-5">
            <div class="card leave-card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="mb-4">Sick Leave</h5>
                    <div class="card-icon text-info mb-3">
                        <span class="text-body " data-feather="git-merge"
                              style="height: 50px; width: 50px;"></span>
                    </div>

                    <p class="mb-2">Available: 12</p>
                    <p class="mb-0">Taken: 0</p>
                </div>
            </div>
        </div>

    </div>
</div>