<div class="row" id="leaveCardsContainer" style="padding-left: 28px;padding-right: 0px;">
    <!-- Cards will be injected here -->
</div>


@* <div class="my-2">
    <div class="row g-3">


        <div class="col-md-4 col-lg-2 mb-1">
            <div class="card leave-card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="mb-1">Casual Leave</h5>
                    <div class="card-icon text-info mb-1">
                        <span class="text-body" data-feather="home"
                              style="height: 50px; width: 50px;"></span>
                    </div>

                    <p class="mb-1">Available: 4</p>
                    <p class="mb-0">Taken: 1</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-2 mb-1">
            <div class="card leave-card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="mb-1">Casual Leave</h5>
                    <div class="card-icon text-info mb-1">
                        <span class="text-body" data-feather="home"
                              style="height: 50px; width: 50px;"></span>
                    </div>

                    <p class="mb-1">Available: 4</p>
                    <p class="mb-0">Taken: 1</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-2 mb-1">
            <div class="card leave-card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="mb-1">Casual Leave</h5>
                    <div class="card-icon text-info mb-1">
                        <span class="text-body" data-feather="home"
                              style="height: 50px; width: 50px;"></span>
                    </div>

                    <p class="mb-1">Available: 4</p>
                    <p class="mb-0">Taken: 1</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-2 mb-1">
            <div class="card leave-card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="mb-1">PTO</h5>
                    <div class="card-icon text-info mb-1">
                        <span class="text-body" data-feather="cloud-drizzle"
                              style="height: 50px; width: 50px;"></span>
                    </div>

                    <p class="mb-1">Available: 4</p>
                    <p class="mb-0">Taken: 1</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-2 mb-1">
            <div class="card leave-card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="mb-1">Compensatory Off</h5>
                    <div class="card-icon text-info mb-1">
                        <span class="text-body" data-feather="briefcase"
                              style="height: 50px; width: 50px;"></span>
                    </div>

                    <p class="mb-1">Available: 4</p>
                    <p class="mb-0">Taken: 1</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-2 mb-1">
            <div class="card leave-card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="mb-1">Sick Leave</h5>
                    <div class="card-icon text-info mb-1">
                        <span class="text-body " data-feather="git-merge"
                              style="height: 50px; width: 50px;"></span>
                    </div>

                    <p class="mb-1">Available: 12</p>
                    <p class="mb-0">Taken: 0</p>
                </div>
            </div>
        </div>

    </div>
</div> *@