

<div class="card mt-1">

    <partial name="_Table"/>

</div>


<div class="modal fade" id="add_employee_loan">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Employes Loan</h4>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="payroll-loan-entry-ui.html" class="row g-3 mb-6">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label" for="organizerSingle">Company Name</label>
                            <select class="form-multi-select" id="multiple-select-tag" multiple
                                    data-coreui-selection-type="tags" data-coreui-search="true">
                                <option value="0">Select Company...</option>
                                <option value="1">CSL</option>
                                <option value="2">GCTL</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label" for="organizerSingle">Deparment</label>
                            <select class="form-multi-select" id="multiple-dep-select" multiple data-coreui-selection-type="counter" data-coreui-search="true">
                                <option value="">Select Department</option>
                                <option>Developer</option>
                                <option>Designer</option>
                                <option>Finance</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label" for="timepicker1">Employee Name</label>
                            <select class="form-multi-select" id="multiple-emp-select" multiple data-coreui-selection-type="counter" data-coreui-search="true">
                                <optgroup label="Developer">
                                    <option value="2">Alam</option>
                                    <option value="3">Momin</option>
                                </optgroup>
                                <optgroup label="Designer">
                                    <option value="4">Name (id)</option>
                                    <option value="5">Name (id)</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label" for="timepicker1">Loan Amount</label>
                            <input class="form-control" id="timepicker1" type="text" placeholder="Ex: 50000">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label" for="timepicker1">Installment Period</label>
                            <select class="form-select">
                                <option value="">Select Month...</option>
                                <option>6 Months</option>
                                <option>8 Months</option>
                                <option>12 Months</option>
                                <option>18 Months</option>
                                <option>24 Months</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label" for="pb">Deductions Per Month</label>
                            <input class="form-control" id="" type="text" placeholder="5000">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label" for="datepicker">Issue Date</label>
                            <input class="form-control datetimepicker flatpickr-input" id="datepicker" type="text" placeholder="dd/mm/yyyy" data-options="{&quot;disableMobile&quot;:true,&quot;dateFormat&quot;:&quot;d/m/Y&quot;}" readonly="readonly">

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label" for="datepicker">Installment Start Date</label>
                            <input class="form-control datetimepicker flatpickr-input" id="datepicker" type="text" placeholder="dd/mm/yyyy" data-options="{&quot;disableMobile&quot;:true,&quot;dateFormat&quot;:&quot;d/m/Y&quot;}" readonly="readonly">

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label" for="pb">Approved By</label>
                            <input class="form-control" id="" type="text" placeholder="Ex- Finance Director">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row g-3 justify-content-end">
                            <div class="col-auto">
                                <button class="btn btn-phoenix-primary px-5">Cancel</button>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-primary px-5 px-sm-15">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Employes loan -->
<div class="modal fade" id="ApprovedDeclineModal">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Employes Loan</h4>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <partial name="_ApprovedOrDecline" />
              

            </div>
        </div>
    </div>
</div>
<partial name="_ConfirmDelete" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/pages/payrollmanagements/LoanManagements/PayRollLoanView.js"></script>
   
}