@model GCTL_App.ViewModels.PayRollManagements.LoanManagent.PayRollLoanViewPageVM



<div class="card mt-1">

    <partial name="_Table"/>

</div>


<div class="modal fade" id="add_employee_loan">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Employes Loan</h4>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
        
            </div>
        </div>
    </div>
</div>

<!-- Edit Employes loan -->
<div class="modal fade" id="ApprovedDeclineModal">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Employes Loan</h4>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @await Html.PartialAsync("_ApprovedOrDecline", Model.Save)

            </div>
        </div>
    </div>
</div>
<partial name="_ConfirmDelete" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/pages/payrollmanagements/LoanManagements/PayRollLoanView.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/monthSelect/index.js"></script>
}