@{
    var mainTab = "GeneralSetting";
    var subTab = "LocalizationSettings";
}

<partial name="~/Views/Shared/AdminsettingsNavs/CompanySettingsNavs/_MainSettingsTabPartial.cshtml" model="mainTab" />
<partial name="~/Views/Shared/AdminsettingsNavs/CompanySettingsNavs/_NavGeneralSettingsPartial.cshtml" model="subTab" />

<div class="col-xl-12 mt-3">
    <div class="card mb-4">
        <div class="card-body">
            <div class="border-bottom mb-3 pb-3">
                <h4>Localization</h4>
            </div>
            <form id="localizationForm" asp-controller="LocalizationSettings" asp-action="Create" method="post">
                <div class="mb-3">
                    <div class="row">
                        <!-- Organization Dropdown -->
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="organization">Organization</label>
                                <select class="form-select choiceDD" id="organization" name="OrganizationID">
                                    <option value="1">CSL</option>
                                    <option value="2">GCTL</option>
                                </select>
                            </div>
                        </div>

                        <!-- Language Dropdown -->
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="languageId">Language</label>
                                <select class="form-select choiceDD" id="languageId" name="LanguageID">
                                    <option >Select</option>
                                    <option value="1">English</option>
                                    <option value="2">Bangla</option>
                                    <option value="3">French</option>
                                    <option value="4">Spanish</option>
                                </select>
                            </div>
                        </div>

                        <!-- Timezone Dropdown -->
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="timezoneId">Timezone</label>
                                <select class="form-select choiceDD" id="timezoneId" name="TimezoneID">
                                    <option>Select</option>
                                    <option value="1" >(UTC-12:00) International Date Line West</option>
                                    <option value="2" >(UTC-11:00) Coordinated Universal Time-11</option>
                                    <option value="3" >(UTC-10:00) Hawaii</option>
                                    <option value="4" data-tz="UTC-09:00">(UTC-09:00) Alaska</option>
                                    <option value="5" data-tz="UTC-08:00">(UTC-08:00) Pacific Time (US & Canada)</option>
                                    <option value="6" data-tz="UTC-07:00">(UTC-07:00) Mountain Time (US & Canada)</option>
                                    <option value="7" data-tz="UTC-06:00">(UTC-06:00) Central Time (US & Canada)</option>
                                    <option value="8" data-tz="UTC-05:00">(UTC-05:00) Eastern Time (US & Canada)</option>
                                    <option value="9" data-tz="UTC-04:00">(UTC-04:00) Atlantic Time (Canada)</option>
                                    <option value="10" data-tz="UTC-03:00">(UTC-03:00) Buenos Aires</option>
                                    <option value="11" data-tz="UTC-02:00">(UTC-02:00) Mid-Atlantic</option>
                                    <option value="12" data-tz="UTC-01:00">(UTC-01:00) Azores</option>
                                    <option value="13" data-tz="UTC+00:00">(UTC+00:00) Dublin, Edinburgh, London, Lisbon</option>
                                    <option value="14" data-tz="UTC+01:00">(UTC+01:00) Amsterdam, Berlin, Paris, Rome</option>
                                    <option value="15" data-tz="UTC+02:00">(UTC+02:00) Athens, Bucharest, Cairo, Jerusalem</option>
                                    <option value="16" data-tz="UTC+03:00">(UTC+03:00) Baghdad, Kuwait, Nairobi, Moscow</option>
                                    <option value="17" data-tz="UTC+03:30">(UTC+03:30) Tehran</option>
                                    <option value="18" data-tz="UTC+04:00">(UTC+04:00) Abu Dhabi, Baku, Muscat</option>
                                    <option value="19" data-tz="UTC+04:30">(UTC+04:30) Kabul</option>
                                    <option value="20" data-tz="UTC+05:00">(UTC+05:00) Islamabad, Karachi, Tashkent</option>
                                    <option value="21" data-tz="UTC+05:30">(UTC+05:30) Chennai, Kolkata, Mumbai, New Delhi</option>
                                    <option value="22" data-tz="UTC+05:45">(UTC+05:45) Kathmandu</option>
                                    <option value="23" data-tz="UTC+06:00">(UTC+06:00) Dhaka, Astana, Almaty</option>
                                    <option value="24" data-tz="UTC+06:30">(UTC+06:30) Yangon (Rangoon)</option>
                                    <option value="25" data-tz="UTC+07:00">(UTC+07:00) Bangkok, Hanoi, Jakarta</option>
                                    <option value="26" data-tz="UTC+08:00">(UTC+08:00) Beijing, Hong Kong, Singapore, Perth</option>
                                    <option value="27" data-tz="UTC+09:00">(UTC+09:00) Tokyo, Seoul, Osaka</option>
                                    <option value="28" data-tz="UTC+09:30">(UTC+09:30) Adelaide, Darwin</option>
                                    <option value="29" data-tz="UTC+10:00">(UTC+10:00) Brisbane, Sydney, Guam</option>
                                    <option value="30" data-tz="UTC+11:00">(UTC+11:00) Magadan, Solomon Islands</option>
                                    <option value="31" data-tz="UTC+12:00">(UTC+12:00) Auckland, Wellington, Fiji</option>
                                    <option value="32" data-tz="UTC+13:00">(UTC+13:00) Nuku'alofa</option>
                                    <option value="33" data-tz="Europe/Berlin">(DST aware) Berlin (Europe/Berlin)</option>
                                    <option value="34" data-tz="Asia/Dhaka">Dhaka (Asia/Dhaka)</option>
                                    <option value="35" data-tz="Asia/Kolkata">India (Asia/Kolkata)</option>
                                    <option value="36" data-tz="Asia/Riyadh">Saudi Arabia (Asia/Riyadh)</option>


                                </select>
                            </div>
                        </div>


                        <!-- Date Format Dropdown -->
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="dateFormatId">Date Format</label>
                                <select class="form-select choiceDD" id="dateFormatId" name="DateFormatID">
                                    <option>Select</option>
                                    <option value="1">YYYY-MM-DD</option>
                                    <option value="2">MM/DD/YYYY</option>
                                    <option value="3">DD/MM/YYYY</option>
                                    <option value="4">YYYY/MM/DD</option>
                                </select>
                            </div>
                        </div>

                        <!-- Time Format Dropdown -->
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="timeFormatId">Time Format</label>
                                <select class="form-select choiceDD" id="timeFormatId" name="TimeFormatID">
                                    <option>Select</option>
                                    <option value="6">12 Hours</option>
                                    <option value="4">24 Hours</option>
                                </select>
                            </div>
                        </div>

                        <!-- Currency Dropdown -->
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="currencyId">Currency</label>
                                <select class="form-select choiceDD" id="currencyId" name="CurrencyID">
                                    <option>Select</option>
                                    <option value="1">USD</option>
                                    <option value="2">EURO</option>
                                    <option value="3">BDT</option>
                                </select>
                            </div>
                        </div>

                        <!-- Currency Symbol Dropdown -->
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="currencySymbolId">Currency Symbol</label>
                                <select class="form-select" id="currencySymbolId" name="CurrencySymbol">
                                    <option>Select</option>
                                    <option value="$">$</option>
                                    <option value="€">€</option>
                                    <option value="৳">৳</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Action Buttons -->
                <div class="d-flex align-items-center justify-content-end">
                    <button type="reset" class="btn btn-outline-secondary me-2">Reset</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
    <partial name="_localizationListTable" />
</div>



@* <div class="col-xl-12 mt-3">
    <div class="card mb-4">
        <div class="card-body">
            <div class="border-bottom mb-3 pb-3">
                <h4>Localization</h4>
            </div>
            <form >
                <div class="mb-3">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="organizerSingleCompany" data-bs-toggle="tooltip" title="Select the organization this localization applies to.">
                                    Organization
                                </label>


                                <select class="form-select choiceDD" id="organization">
                                    <option value="1">CSL</option>
                                    <option value="2">GCTL</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="Language" data-bs-toggle="tooltip" title="Choose the preferred language for the system interface.">
                                    Language
                                </label>

                                <select class="form-select choiceDD" id="languageId" aria-label="Default select example">
                                    <option>Select</option>
                                    <option>English</option>
                                    <option>Bangla</option>
                                    <option>French</option>
                                    <option>Spanish</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="Timezone" data-bs-toggle="tooltip" title="Set the timezone for accurate time tracking and scheduling.">
                                    Timezone
                                </label>

                                <select class="form-select choiceDD" id="timezoneId" aria-label="Default select example">
                                    <option>Select</option>
                                    <option>(UTC +5:30)</option>
                                    <option>(UTC+11:00) INR</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="DateFormat" data-bs-toggle="tooltip" title="Select how dates should be displayed across the system.">
                                    Date Format
                                </label>

                                <select class="form-select choiceDD" id="DateFormatId" aria-label="Default select example">
                                    <option>Select</option>
                                    <option>YYYY-MM-DD</option>
                                    <option>MM/DD/YYYY</option>
                                    <option>DD/MM/YYYY</option>
                                    <option>YYYY/MM/DD</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="TimeFormat" data-bs-toggle="tooltip" title="Choose between 12-hour or 24-hour time display.">
                                    Time Format
                                </label>
                                <select class="form-select choiceDD" id="TimeFormatId" aria-label="Default select example">
                                    <option>Select</option>
                                    <option>12 Hours</option>
                                    <option>24 Hours</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="Currency" data-bs-toggle="tooltip" title="Select the currency used for financial transactions.">
                                    Currency
                                </label>

                                <select class="form-select choiceDD" id="CurrencyId" aria-label="Default select example">
                                    <option>Select</option>
                                    <option>USD</option>
                                    <option>EURO</option>
                                    <option>BDT</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="CurrencySymbol" data-bs-toggle="tooltip" title="Pick the symbol that represents your selected currency.">
                                    Currency Symbol
                                </label>
                                <select class="form-select" id="currencySymbolId" aria-label="Default select example">
                                    <option>Select</option>
                                    <option>$</option>
                                    <option>€</option>
                                    <option>৳</option>
                                </select>
                            </div>
                        </div>



                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-end">
                    <button type="button" class="btn btn-light border me-3">Reset</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
    <partial name="_localizationListTable" />
</div> *@

@section Scripts {
    <script src="~/js/pages/adminsettings/generalsettings/localizationsettings.js"></script>
}