
<div class="text-center">   
    <h1 class="display-4">@Html.SmartLocalize("Welcome to GCTL Dashboard")</h1>
    <p>@Html.SmartLocalize("Empowering businesses with smart, scalable, and seamless ERP solutions.") 🚀</p>
</div>
