@model GCTL_App.ViewModels.AttendanceManagement.ScheduleManagement.CreateSpiralPattern.CreateSpiralPatternPageVM

@{
    ViewData["Title"] = @Html.SmartLocalize("Create Spiral Pattern");
}

@section Styles{
    <style>

        #hiddenDiv {
            display: none; /* Initially hidden */
        }

        #div2 {
            display: none;
        }

        .disabled {
            pointer-events: none;
            opacity: 0.5;
        }

        .shift-cell {
            position: relative;
        }

        .add-shift-btn {
            display: none;
            align-items: center;
        }



        .shift-cell:hover .add-shift-btn {
            display: block;
            background-color: white;
            color: black;
            margin: 5px auto;
        }

        .add-shift-btn2 {
            display: none;
            align-items: center;
        }

        .startTime:hover .add-shift-btn2 {
            display: block;
            background-color: white;
            color: black;
            margin: 5px;
        }

    </style>
}

<div class="mb-9 mt-4">
    <partial name="_Form" model="Model.Create" />
    <partial name="_WeeklyTable" />
    <partial name="_FortnightlyTable" />
	<partial name="_MonthlyTable" />
</div>

<partial name="_createBulkShift" />
<partial name="_addShift" />
<partial name="_addNewShift" />
<partial name="_editShift" model="Model.Edit" /> 
<partial name="_deleteModal" />

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
	<script src="~/js/pages/attendancemanagement/schedulemanagement/createspiralpattern.js"></script>
    <script>
        $(function () {
            var options = {
                baseUrl: '@Url.Action("", "CreateSpiralPattern")'
            };
            options.load = () => { };
            $.createSpiralPattern(options);
        });
    </script>
}