
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="row my-4 ">
    <div class="col-12 col-lg-12 col-md-12 flex-column">
        <div class="row g-3 row-deck">

            <div class="col-12 col-xl-4 col-md-4">
                <div class="card">
                    <div class="card-header py-3">
                        <h3 class="text-body-emphasis">Monthly Attendance Status</h3>
                    </div>
                    <div class="card-body">
                        <div id="employee-attendance-status-piechart" style="position: relative; height: 20rem; overflow: hidden;"></div>
                    </div>
                </div>
            </div>


        
            
            
            <div class="col-12 col-xl-2 col-md-2">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="card-title mb-1">
                            <h3 class="text-body-emphasis">Recent Activity</h3>
                        </div>
                        <div class="timeline-vertical timeline-with-details" id="timelineContainer">
                            <!-- Timeline items will be inserted here dynamically -->
                        </div>
                    </div>
                </div>
            </div>

 

          @*   <div class="col-12 col-xl-6 col-md-6">
                <div class="card h-100">
                    <div class="card-body">
                        <div id="employee-attendance-status-compare-barchart" style="position: relative; height: 20rem; overflow: hidden;"></div>

                        <script>
                            var dom = document.getElementById('employee-attendance-status-compare-barchart');
                            var myChart = echarts.init(dom, null, {
                              renderer: 'canvas',
                              useDirtyRect: false
                            });
                            var app = {};

                            var option;

                            option = {
                              title: {
                                text: 'You vs Best_Emp',
                                subtext: 'Previous Month'
                              },
                              tooltip: {
                                trigger: 'axis'
                              },
                              legend: {
                                data: ['You', 'Best_Emp']
                              },
                              toolbox: {
                                show: true,
                                feature: {
                                  magicType: { show: true, type: ['line', 'bar'] },
                                  restore: { show: true },
                                  saveAsImage: { show: true }
                                }
                              },
                              calculable: true,
                              xAxis: [
                                {
                                  type: 'category',
                                  // prettier-ignore
                                  data: ['Present', 'Absent', 'Early Leave', 'Late Leave']
                                }
                              ],
                              yAxis: [
                                {
                                  type: 'value'
                                }
                              ],
                              series: [
                                {
                                  name: 'You',
                                  type: 'bar',
                                  data: [16, 3, 3, 2],
                                  itemStyle: {
                                    color: '#ef5c08',
                                  },
                                },
                                {
                                  name: 'Best_Emp',
                                  type: 'bar',
                                  data: [20, 2, 1, 1],
                                  itemStyle: {
                                    color: '#48cd00',
                                  },
                                }
                              ]
                            };

                            if (option && typeof option === 'object') {
                              myChart.setOption(option);
                            }

                            window.addEventListener('resize', myChart.resize);

                        </script>


                    </div>
                </div>
            </div> *@
       @*      //compareBarchart *@

            <div class="col-12 col-xl-6 col-md-6">
                <div class="card h-100">
                    <div class="card-body">
                        <div id="employee-attendance-status-compare-barchart" style="position: relative; height: 20rem; overflow: hidden;"></div>
                    </div>
                </div>
            </div>

           @*  <div class="col-12 col-xl-12 col-md-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div id="yearly-employee-attendance-status-linechart" style="position: relative; height: 20rem; overflow: hidden;"></div>

                        <script>
                            var dom = document.getElementById('yearly-employee-attendance-status-linechart');
                            var myChart = echarts.init(dom, null, {
                              renderer: 'canvas',
                              useDirtyRect: false
                            });
                            var app = {};

                            var option;

                            option = {
                              title: {
                                text: 'Attendance Status',
                                subtext: 'Previous year'
                              },
                              tooltip: {
                                trigger: 'axis'
                              },
                              legend: {
                                data: ['Present', 'Absent', 'Late Entry', 'Early Leave', 'Casual Leave', 'Medical Leave']
                              },
                              grid: {
                                left: '3%',
                                right: '4%',
                                bottom: '4%',
                                containLabel: true
                              },
                              toolbox: {
                                feature: {
                                  saveAsImage: {}
                                }
                              },
                              xAxis: {
                                type: 'category',
                                boundaryGap: false,
                                data: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
                              },
                              yAxis: {
                                type: 'value'
                              },
                              series: [
                                {
                                  name: 'Casual Leave',
                                  type: 'line',
                                  stack: 'Total',
                                  data: [1, 2, 0, 2, 1, 1, 1, 0, 2, 0, 1, 1]
                                },
                                {
                                  name: 'Medical Leave',
                                  type: 'line',
                                  stack: 'Total',
                                  data: [1, 1, 0, 2, 0, 1, 0, 0, 1, 4, 0, 1]
                                },
                                {
                                  name: 'Early Leave',
                                  type: 'line',
                                  stack: 'Total',
                                  data: [4, 2, 1, 3, 2, 3, 2, 3, 2, 3, 2, 1]
                                },
                                {
                                  name: 'Late Entry',
                                  type: 'line',
                                  stack: 'Total',
                                  data: [2, 2, 2, 2, 2, 1, 1, 1, 2, 3, 1, 1]
                                },
                                {
                                  name: 'Absent',
                                  type: 'line',
                                  stack: 'Total',
                                  data: [3, 2, 1, 3, 2, 1, 0, 1, 2, 3, 1, 1]
                                },
                                {
                                  name: 'Present',
                                  type: 'line',
                                  stack: 'Total',
                                  data: [20, 21, 19, 21, 18, 20, 21, 19, 21, 18, 20, 21]
                                },
                              ]
                            };

                            if (option && typeof option === 'object') {
                              myChart.setOption(option);
                            }

                            window.addEventListener('resize', myChart.resize);
                        </script>

                    </div>
                </div>
            </div> *@

            @* //linechart *@

            <div class="col-12 col-xl-12 col-md-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div id="yearly-employee-attendance-status-linechart" style="position: relative; height: 20rem; overflow: hidden;"></div>
                    </div>
                </div>
            </div>



            @* <div class="col-12 col-xl-12 col-md-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div id="yearly-employee-attendance-status-linechart1" style="position: relative; height: 20rem; overflow: hidden;"></div>

                        <script>
                            var dom = document.getElementById('yearly-employee-attendance-status-linechart1');
                            var myChart = echarts.init(dom, null, {
                              renderer: 'canvas',
                              useDirtyRect: false
                            });
                            var app = {};

                            var option;

                            const posList = [
                              'left',
                              'right',
                              'top',
                              'bottom',
                              'inside',
                              'insideTop',
                              'insideLeft',
                              'insideRight',
                              'insideBottom',
                              'insideTopLeft',
                              'insideTopRight',
                              'insideBottomLeft',
                              'insideBottomRight'
                            ];
                            app.configParameters = {
                              rotate: {
                                min: -90,
                                max: 90
                              },
                              align: {
                                options: {
                                  left: 'left',
                                  center: 'center',
                                  right: 'right'
                                }
                              },
                              verticalAlign: {
                                options: {
                                  top: 'top',
                                  middle: 'middle',
                                  bottom: 'bottom'
                                }
                              },
                              position: {
                                options: posList.reduce(function (map, pos) {
                                  map[pos] = pos;
                                  return map;
                                }, {})
                              },
                              distance: {
                                min: 0,
                                max: 100
                              }
                            };
                            app.config = {
                              rotate: 90,
                              align: 'left',
                              verticalAlign: 'middle',
                              position: 'insideBottom',
                              distance: 15,
                              onChange: function () {
                                const labelOption = {
                                  rotate: app.config.rotate,
                                  align: app.config.align,
                                  verticalAlign: app.config.verticalAlign,
                                  position: app.config.position,
                                  distance: app.config.distance
                                };
                                myChart.setOption({
                                  series: [
                                    {
                                      label: labelOption
                                    },
                                    {
                                      label: labelOption
                                    },
                                    {
                                      label: labelOption
                                    },
                                    {
                                      label: labelOption
                                    }
                                  ]
                                });
                              }
                            };
                            const labelOption = {
                              show: true,
                              position: app.config.position,
                              distance: app.config.distance,
                              align: app.config.align,
                              verticalAlign: app.config.verticalAlign,
                              rotate: app.config.rotate,
                              //formatter: '{c}  {name|{a}}',
                              formatter: '{c}',
                              fontSize: 7,
                              rich: {
                                name: {}
                              }
                            };
                            option = {
                              title: {
                                text: 'Attendance Status',
                                subtext: 'Previous year'
                              },
                              tooltip: {
                                trigger: 'axis',
                                axisPointer: {
                                  type: 'shadow'
                                }
                              },
                              grid: {
                                left: '3%',
                                right: '3%',
                                bottom: '3%',
                                containLabel: true
                              },
                              legend: {
                                data: ['Present', 'Absent', 'Late Entry', 'Early Leave', 'Casual Leave', 'Medical Leave']
                              },
                              toolbox: {
                                show: true,
                                orient: 'vertical',
                                left: 'right',
                                top: 'center',
                                feature: {
                                  mark: { show: true },
                                  dataView: { show: true, readOnly: false },
                                  magicType: { show: true, type: ['line', 'bar', 'stack'] },
                                  restore: { show: true },
                                  saveAsImage: { show: true }
                                }
                              },
                              xAxis: [
                                {
                                  type: 'category',
                                  axisTick: { show: false },
                                  data: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
                                }
                              ],
                              yAxis: [
                                {
                                  type: 'value'
                                }
                              ],
                              series: [
                                {
                                  name: 'Present',
                                  type: 'bar',
                                  barGap: 0,
                                  label: labelOption,
                                  emphasis: {
                                    focus: 'series'
                                  },
                                  data: [20, 21, 19, 21, 18, 20, 21, 19, 21, 18, 20, 21]
                                },
                                {
                                  name: 'Absent',
                                  type: 'bar',
                                  label: labelOption,
                                  emphasis: {
                                    focus: 'series'
                                  },
                                  data: [3, 2, 1, 3, 2, 1, 1, 1, 2, 3, 1, 1]
                                },
                                {
                                  name: 'Late Entry',
                                  type: 'bar',
                                  label: labelOption,
                                  emphasis: {
                                    focus: 'series'
                                  },
                                  data: [2, 1, 2, 1, 3, 1, 2, 2, 1, 2, 1, 2]
                                },
                                {
                                  name: 'Early Leave',
                                  type: 'bar',
                                  label: labelOption,
                                  emphasis: {
                                    focus: 'series'
                                  },
                                  data: [3, 2, 1, 3, 2, 1, 0, 1, 2, 3, 1, 1]
                                },
                                {
                                  name: 'Casual Leave',
                                  type: 'bar',
                                  label: labelOption,
                                  emphasis: {
                                    focus: 'series'
                                  },
                                  data: [1, 0, 1, 1, 1, 1, 0, 1, 2, 1, 2, 1]
                                },
                                {
                                  name: 'Medical Leave',
                                  type: 'bar',
                                  label: labelOption,
                                  emphasis: {
                                    focus: 'series'
                                  },
                                  data: [0, 0, 1, 3, 0, 1, 0, 0, 2, 0, 2, 1]
                                }
                              ]
                            };

                            if (option && typeof option === 'object') {
                              myChart.setOption(option);
                            }

                            window.addEventListener('resize', myChart.resize);
                        </script>

                    </div>
                </div>
            </div> *@
        @*     linechart1 *@

            <div class="col-12 col-xl-12 col-md-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div id="yearly-employee-attendance-status-linechart1" style="position: relative; height: 20rem; overflow: hidden;"></div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

