
<div id="notificationContainerDetailsPage">
   
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/pages/allnotifications/notifications.js"></script>

}
