

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="modal fade" id="edit_department_setting">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content p-3">
            <div class="modal-header">
                <h4 class="modal-title">Edit Department Settings</h4>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="departmentSettingsForm" asp-controller="DepartmentSettings" asp-action="Updates" method="post">
                <div class="mb-3">
                    
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="OrganizationID">Organization Name</label>
                                <select id="OrganizationID" name="OrganizationID" class="form-select choiceDD">
                                    <option value="">-- Select Organization --</option>
                                    @if (ViewBag.Organizations != null)
                                    {
                                        foreach (var org in ViewBag.Organizations)
                                        {
                                            <option value="@org.Value">@org.Text</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="DepartmentName">Department Name</label>
                                <input class="form-control" id="DepartmentName" type="text" name="DepartmentName" placeholder="Department Name" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="DepartmentHeadEmpID">Department Head</label>
                                <select class="form-select choiceDD" id="DepartmentHeadEmpID" name="DepartmentHeadEmpID">
                                    <option value="">Select Department Head</option>
                                    @if (ViewBag.EmployeeNameWithCode != null)
                                    {
                                        foreach (var org in ViewBag.EmployeeNameWithCode)
                                        {
                                            <option value="@org.Value">@org.Text</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>




                    </div>
                </div>


                <div class="d-flex align-items-center justify-content-end">
                    <button type="reset" class="btn btn-outline-secondary border me-3">Reset</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>

        </div>
    </div>
</div>

