@model GCTL.Core.ViewModels.Login.RegisterViewModel
@{
    Layout = "~/Views/Shared/LoginLayouts/_LayoutRegister.cshtml";
}
@await Html.PartialAsync("_Alerts")
<!-- ===============================================-->
<main class="main" id="top">
    <div class="container">
        <div class="row flex-center min-vh-100 py-5">
            <div class="col-sm-10 col-md-8 col-lg-5 col-xl-5 col-xxl-3">
                <!-- Logo -->
                <a class="d-flex flex-column align-items-center text-decoration-none mb-4" href="#">
                    <img src="../img/NBR-Transparent.png" alt="phoenix" width="90" />
                    <span class="fw-semibold fs-7 text-muted mt-2">ITIIU</span>
                </a>
                <div class="text-center mb-7">
                    <h3 class="text-body-highlight">Sign Up</h3>
                    <p class="text-body-tertiary">Create your account today</p>
                </div>

                <form asp-action="Register" method="post">
                    
                    <!-- Name -->
                    @* <div class="mb-3 text-start">
                        <label class="form-label" for="name">Name</label>
                        <input class="form-control" id="name" type="text" placeholder="Name" />
                    </div> *@
                    <!-- First Name + Last Name -->
                    <div class="row g-3 mb-3">
                        <div class="col-sm-6">
                            <label asp-for="FirstName" class="form-label">First Name</label>
                            <input asp-for="FirstName" class="form-control" type="text" placeholder="First Name" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6">
                            <label asp-for="LastName" class="form-label">Last Name</label>
                            <input asp-for="LastName" class="form-control" type="text" placeholder="Last Name" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <!-- Email -->
                    <div class="mb-3 text-start">
                        <label asp-for="Email" class="form-label">Email address</label>
                        <input asp-for="Email" class="form-control" id="email" type="email" placeholder="name@example.com" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <!-- Password -->
                    <div class="row g-3 mb-3">
                        <div class="col-sm-6">
                            <label asp-for="Password" class="form-label">Password</label>
                            <div class="position-relative" data-password="data-password">
                                <input asp-for="Password" class="form-control form-icon-input pe-6" id="password" type="password" placeholder="Password" data-password-input="data-password-input" />
                                <button type="button" class="btn px-3 py-0 h-100 position-absolute top-0 end-0 fs-7 text-body-tertiary" data-password-toggle="data-password-toggle"><span class="uil uil-eye show"></span><span class="uil uil-eye-slash hide"></span></button>
                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6">
                            <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
                            <div class="position-relative" data-password="data-password">
                                <input asp-for="ConfirmPassword" class="form-control form-icon-input pe-6" id="confirmPassword" type="password" placeholder="Confirm Password" data-password-input="data-password-input" />
                                <button type="button" class="btn px-3 py-0 h-100 position-absolute top-0 end-0 fs-7 text-body-tertiary" data-password-toggle="data-password-toggle"><span class="uil uil-eye show"></span><span class="uil uil-eye-slash hide"></span></button>
                            </div>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                       


                    </div>
                    <!-- policy -->
                    @*  <div class="form-check mb-3">
                        <input class="form-check-input" id="termsService" type="checkbox" />
                        <label class="form-label fs-9 text-transform-none" for="termsService">I accept the <a href="#!">terms </a>and <a href="#!">privacy policy</a></label>
                    </div> *@
                    <!-- For SuperAdmin -->
                    <div class="form-check mb-3">
                        <input asp-for="ForSuperAdmin" class="form-check-input" id="forSuperAdmin" type="checkbox" />
                        <label asp-for="ForSuperAdmin" class="form-label fs-9 text-transform-none">For SuperAdmin</label>
                    </div>

                    <!-- Submit Button -->
                    <button class="btn btn-primary w-100 mb-3" type="submit">Sign up</button>
                    <div class="text-center"><a class="fs-9 fw-bold" href="/Account/Login">Sign in to an existing account</a></div>
                    <div asp-validation-summary="All" class="text-danger mb-3"></div>
                </form>
            </div>
        </div>
    </div>
</main>
<script>
    var navbarTopStyle = window.config.config.phoenixNavbarTopStyle;
    var navbarTop = document.querySelector('.navbar-top');
    if (navbarTopStyle === 'darker') {
      navbarTop.setAttribute('data-navbar-appearance', 'darker');
    }

    var navbarVerticalStyle = window.config.config.phoenixNavbarVerticalStyle;
    var navbarVertical = document.querySelector('.navbar-vertical');
    if (navbarVertical && navbarVerticalStyle === 'darker') {
      navbarVertical.setAttribute('data-navbar-appearance', 'darker');
    }
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {

        function toggleInputs() {
            if ($('#forSuperAdmin').is(':checked')) {
                $('#companyName').prop('disabled', true);
                $('#companyIsActive').prop('disabled', true);
            } else {
                $('#companyName').prop('disabled', false);
                $('#companyIsActive').prop('disabled', false);
            }
        }


        $('#forSuperAdmin').on('change', function () {
            toggleInputs();
        });

        // Initialize the state on page load
        toggleInputs();
    });
</script>
