@model GCTL.Core.ViewModels.Login.ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/LoginLayouts/_LayoutResetPassword.cshtml";
}
@await Html.PartialAsync("_Alerts")
<div class="container">
    <div class="row flex-center min-vh-100 py-3">
        <div class="col-sm-10 col-md-8 col-lg-5 col-xl-5 col-xxl-3">
            <a class="d-flex flex-center text-decoration-none mb-4" href="">
                <div class="d-flex align-items-center fw-bolder fs-3 d-inline-block">
                    <img src="~/media/company/logo/logo.png" alt="HRM" width="58" />
                </div>
            </a>
            <div class="text-center mb-6">
                <h4 class="text-body-highlight">Reset new password</h4>
                <p class="text-body-tertiary">Type your new password</p>                
                <form asp-action="ResetPasswordPage" method="post" class="mt-5">
                    <input type="hidden" name="Email" value="@Model.Email" />
                    <input type="hidden" name="Token" value="@Model.Token" />

                    <!-- New Password -->
                    <div class="position-relative mb-2">
                        <input class="form-control form-icon-input pe-6" name="NewPassword" type="password" placeholder="Type new password" required />
                    </div>

                    <!-- Confirm Password -->
                    <div class="position-relative mb-4">
                        <input class="form-control form-icon-input pe-6" name="ConfirmPassword" type="password" placeholder="Confirm new password" required />
                    </div>

                    <button class="btn btn-primary w-100" type="submit">Set Password</button>

                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="text-danger mt-3">
                            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                            {
                                <div>@error.ErrorMessage</div>
                            }
                        </div>
                    }
                </form>

            </div>
        </div>
    </div>
</div>
