

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="modal fade" id="edit_designation_setting">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content p-3">
            <div class="modal-header">
                <h4 class="modal-title">Edit Designation Settings</h4>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="designationSettingsFormEdit" asp-controller="DesignationSettings" asp-action="Updates" method="post">
                <div class="mb-3">
                    <input type="hidden" id="DesignationIDEdit" name="DesignationID" value="" />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="OrganizationID">Organization Name</label>
                                <select id="OrganizationIDEdit" name="OrganizationID" asp-items="@ViewBag.OrganizationDD" class="form-select choiceDD">
                                    <option value="">-- Select Organization --</option>
                                   
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="DesignationName">Designation Name</label>
                                <input class="form-control" id="DesignationNameEdit" name="DesignationName" type="text" placeholder="Designation Name" />
                            </div>
                        </div>

                    </div>
                </div>


                <div class="d-flex align-items-center justify-content-end">
                    <button type="button" class="btn btn-outline-secondary border me-3">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>

        </div>
    </div>
</div>

