
@model CreateJobVM
<style>
    .card-header {
        font-size: 22px!important;
        text-transform: uppercase !important;
    }
    label {
        font-size: 12px!important;
        font-weight: bold!important;
        text-transform: uppercase!important;
    }

    .form-multi-select-input-group {
        height: 38px;
        font-size: 17px;
        font-weight: 400;
        
    }

    .form-multi-select-selection {
        padding-top: 0 !important;
        height: 36px;
        display: flex;
        align-items: center;
        padding-left:4px;
    }

    .form-multi-select-tag {
        height: 29px;
    }

    .form-multi-select-selection span {
        padding-top: 0 !important;
    }

    .dz-message {
        height: 131px;
    }
    .select2-container .select2-selection--single {
        height: 40px !important;
        line-height: 50px !important;
        padding: 4px 10px 10px 10px !important;
        font-size: 16px !important;
        display: flex;
        align-items: center;
        border-color: rgb(203, 208, 221) !important;
    }

    .select2-selection--single .select2-selection__arrow {
        margin-bottom: 24px !important;
        margin-right: 11px !important;
    }

    .select2-selection__arrow {
        height: 38px !important;
    }

    #select2-CustomerID-container {
        padding-top: 0px !important;
    }
</style>
<div class="card">
    <h5 class="card-header">Create A New Job</h5>
    <div class="row col-md-12 m-0 pb-3">
        <form asp-action="Create" asp-controller="CreateJobs" method="post" enctype="multipart/form-data" id="CreateJob-form">
            @Html.AntiForgeryToken()

            <input type="hidden" asp-for="CreateJobID" value="" />
            <div class="modal-body pb-0">
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label class="form-label" asp-for="CustomerID"></label>
                        <select asp-for="CustomerID" class="form-select-lg">
                            <option value="">Select...</option>

                        </select>
                    </div>

                    <div class="col-md-6">
                        <div class="mb-2">
                            <label class="form-label" asp-for="JobTitle"></label>
                            <input class="form-control" asp-for="JobTitle" type="text" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="mb-2">
                            <label class="form-label" asp-for="JobID"></label>
                            <select class="form-select" asp-for="JobID" asp-items="@ViewBag.JobTypesDD as SelectList">
                                <option value="" disabled selected>Select Job Type</option>
                            </select>
                        </div>
                    </div>

                    <div class="flatpickr-input-container col-md-6">
                        <div class="mb-3">
                            <label class="form-label" asp-for="TeamMembers"></label>
                            <select class="form-multi-select coreUiDD"
                                asp-for="TeamMembers"
                                multiple
                                data-coreui-selection-type="counter"
                                data-coreui-search="true"
                                data-coreui-placeholder="Select Team Members...">
                            </select>
                        </div>
                    </div>



                    <div class="col-md-6">
                        <div class="mb-2">
                            <label class="form-label" asp-for="StartDate"></label>
                            <input class="form-control datetimepicker" asp-for="StartDate" type="text" placeholder="dd/mm/yyyy hour : minute" data-options='{"enableTime":true,"dateFormat":"d/m/y H:i","disableMobile":true}' />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-2">
                            <label class="form-label" asp-for="EndDate"></label>
                            <input class="form-control datetimepicker" asp-for="EndDate" type="text" placeholder="dd/mm/yyyy hour : minute" data-options='{"enableTime":true,"dateFormat":"d/m/y H:i","disableMobile":true}' />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-2">
                            <label class="form-label" asp-for="StatusID"></label>
                            <select class="form-select" asp-for="StatusID" asp-items="ViewBag.StatusDD">
                                <option value="">Select Status</option> <!-- optional placeholder -->
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="mb-2">
                            <div class="form-check form-switch mb-0">
                                <input class="form-check-input" type="checkbox" />
                                <label class="form-check-label" asp-for="JobLocation"></label>
                            </div>
                            <input class="form-control" asp-for="JobLocation" type="text" />
                        </div>
                    </div>

                    <div class="col-md-6 ">
                        <div class="mb-2">
                            <label class="form-label" asp-for="Note" for="exampleFormControlInput"></label>
                            <textarea class="form-control border-translucent" asp-for="Note" rows="6"></textarea>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="mb-2">
                            <label class="form-label">File Upload</label>

                            <div id="jobDropzone"
                                 class="dropzone dropzone-multiple p-0">

                                <!-- Fallback for non-JS -->
                                <div class="fallback">
                                    <input type="file" name="Files" multiple />
                                </div>

                                <!-- Message -->
                                <div class="dz-message">
                                    <div class="dz-message-text">
                                        <img class="me-2" width="25" alt="" />
                                        Drop your file here
                                    </div>
                                </div>

                                <!-- Preview Template -->
                                <div class="dz-preview dz-preview-multiple d-none">
                                    <div class="d-flex pb-3 border-bottom media px-2">
                                        <div class="border p-2 rounded-2 me-2">
                                            <img class="rounded-2 dz-image" data-dz-thumbnail />
                                        </div>
                                        <div class="flex-1">
                                            <h6 data-dz-name></h6>
                                            <p class="mb-0 fs-9" data-dz-size></p>
                                            <div class="dz-progress">
                                                <span class="dz-upload" data-dz-uploadprogress></span>
                                            </div>
                                            <span class="text-danger fs-10" data-dz-errormessage></span>
                                            <a href="javascript:void(0)" data-dz-remove class="text-danger">
                                                Remove
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>




                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="resetBtn" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" id="submitBtn" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>

</div>