
@model CreateJobVM
<style>
    .card-header {
        font-size: 22px!important;
        text-transform: uppercase !important;
    }
    label {
        font-size: 12px!important;
        font-weight: bold!important;
        text-transform: uppercase!important;
    }

    .form-multi-select-input-group {
        height: 38px;
        font-size: 17px;
        font-weight: 400;
        
    }

    .form-multi-select-selection {
        padding-top: 0 !important;
        height: 36px;
        display: flex;
        align-items: center;
        padding-left:4px;
    }

    .form-multi-select-tag {
        height: 29px;
    }

    .form-multi-select-selection span {
        padding-top: 0 !important;
    }

    .dz-message {
        height: 131px;
    }
    .select2-container .select2-selection--single {
        height: 40px !important;
        line-height: 50px !important;
        padding: 4px 10px 10px 10px !important;
        font-size: 16px !important;
        display: flex;
        align-items: center;
        border-color: rgb(203, 208, 221) !important;
    }

    .select2-selection--single .select2-selection__arrow {
        margin-bottom: 24px !important;
        margin-right: 11px !important;
    }

    .select2-selection__arrow {
        height: 38px !important;
    }

    #select2-CustomerID-container {
        padding-top: 0px !important;
    }
</style>
<div class="card">
    <h5 class="card-header">Create A New Job</h5>
    <div class="row col-md-12 m-0 pb-3">
        <form asp-action="Create" asp-controller="CreateJobs" method="post" enctype="multipart/form-data" id="CreateJob-form">
            @Html.AntiForgeryToken()

            <input type="hidden" asp-for="CreateJobID" value="" />
            <div class="modal-body pb-0">
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label class="form-label" asp-for="CustomerID"></label>
                        <select asp-for="CustomerID" class="form-select-lg">
                            <option value="">Select...</option>

                        </select>
                    </div>

                    <div class="col-md-6">
                        <div class="mb-2">
                            <label class="form-label" asp-for="JobTitle"></label>
                            <input class="form-control" asp-for="JobTitle" type="text" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="mb-2">
                            <label class="form-label" asp-for="JobID"></label>
                            <select class="form-select" asp-for="JobID" asp-items="@ViewBag.JobTypesDD as SelectList">
                                <option value="" disabled selected>Select Job Type</option>
                            </select>
                        </div>
                    </div>

                    <div class="flatpickr-input-container col-md-6">
                        <div class="mb-3">
                            <label class="form-label" asp-for="TeamMembers"></label>
                            <select class="form-multi-select coreUiDD"
                                asp-for="TeamMembers"
                                multiple
                                data-coreui-selection-type="counter"
                                data-coreui-search="true"
                                data-coreui-placeholder="Select Team Members...">
                            </select>
                        </div>
                    </div>



                    <div class="col-md-6">
                        <div class="mb-2">
                            <label class="form-label" asp-for="StartDate"></label>
                            <input class="form-control datetimepicker" asp-for="StartDate" type="text" placeholder="dd/mm/yyyy hour : minute" data-options='{"enableTime":true,"dateFormat":"d/m/y H:i","disableMobile":true}' />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-2">
                            <label class="form-label" asp-for="EndDate"></label>
                            <input class="form-control datetimepicker" asp-for="EndDate" type="text" placeholder="dd/mm/yyyy hour : minute" data-options='{"enableTime":true,"dateFormat":"d/m/y H:i","disableMobile":true}' />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-2">
                            <label class="form-label" asp-for="StatusID"></label>
                            <select class="form-select" asp-for="StatusID" asp-items="@ViewBag.StatusDD as SelectList">
                                <option value="" selected disabled>Select Status</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="mb-2">
                            <div class="form-check form-switch mb-0">
                                <input class="form-check-input" type="checkbox" />
                                <label class="form-check-label" asp-for="JobLocation"></label>
                            </div>
                            <input class="form-control" asp-for="JobLocation" type="text" />
                        </div>
                    </div>

                    <div class="col-md-6 ">
                        <div class="mb-2">
                            <label class="form-label" asp-for="Note" for="exampleFormControlInput"></label>
                            <textarea class="form-control border-translucent" asp-for="Note" rows="6"></textarea>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="mb-2">
                            <label class="form-label" asp-for="FileLink"></label>
                            <div class="dropzone dropzone-multiple p-0" data-dropzone="data-dropzone" data-options='{"url":"valid/url","maxFiles":1,"dictDefaultMessage":"Choose or Drop a file here"}'>
                                <div class="fallback">
                                    <input type="file" asp-for="FileLink" name="file" />
                                </div>
                                <div class="dz-message" data-dz-message="data-dz-message">
                                    <div class="dz-message-text"><img class="me-2" src="../../../assets/img/icons/cloud-upload.svg" width="25" alt="" />Drop your file here</div>
                                </div>
                                <div class="dz-preview dz-preview-multiple m-0 d-flex flex-column">
                                    <div class="d-flex pb-3 border-bottom border-translucent media px-2">
                                        <div class="border p-2 rounded-2 me-2"><img class="rounded-2 dz-image" src="../../../assets/img/icons/file.png" alt="..." data-dz-thumbnail="data-dz-thumbnail" /></div>
                                        <div class="flex-1 d-flex flex-between-center">
                                            <div>
                                                <h6 data-dz-name="data-dz-name"></h6>
                                                <div class="d-flex align-items-center">
                                                    <p class="mb-0 fs-9 text-body-quaternary lh-1" data-dz-size="data-dz-size"></p>
                                                    <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress=""></span></div>
                                                </div><span class="fs-10 text-danger" data-dz-errormessage="data-dz-errormessage"></span>
                                            </div>
                                            <div class="dropdown">
                                                <button class="btn btn-link text-body-quaternary btn-sm dropdown-toggle btn-reveal dropdown-caret-none" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fas fa-ellipsis-h"></span></button>
                                                <div class="dropdown-menu dropdown-menu-end border border-translucent py-2"><a class="dropdown-item" href="#!" data-dz-remove="data-dz-remove">Remove File</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="resetBtn" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" id="submitBtn" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>

</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/pages/FieldServices/createJob.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
}
