@{
    ViewData["Title"] = @Html.SmartLocalize("Add Sub Account");
}

<ul class="nav nav-underline fs-9">
    <li class="nav-item"><a class="nav-link" href="/AddMainAccount/Index">@Html.SmartLocalize("Add Main Account")</a></li>
    <li class="nav-item"><a class="nav-link active" href="/AddSubAccount/Index">@Html.SmartLocalize("Add Sub Account")</a></li>
    <li class="nav-item"><a class="nav-link" href="/TransactionAccount/Index">@Html.SmartLocalize("Transaction Account")</a></li>
</ul>

<div class="tab-content mt-3">
    <div class="tab-pane fade show active">
        <div class="row">
            <div class="col-md-4 bg-body-emphasis p-2">
                <div class="">
                    <form asp-controller="" asp-action="Create" method="post" enctype="multipart/form-data" id="addSubAccount-form">
                        <div class="col-md-12">
                            <div class="my-3">
                                <select class="form-select" id="" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                                    <option value="">Select Base Account</option>
                                    <optgroup label="Fixed Assets">
                                        <option value="00">Intangible Assets</option>
                                        <option value="01">Tangible Assets</option>
                                        <option value="02">Financial Assets</option>
                                        <option value="05">Depreciation Accumulated</option>
                                    </optgroup>
                                    <optgroup label="Current Assets">
                                        <option value="10">Cash & Bank</option>
                                        <option value="12">Receivables</option>
                                        <option value="14" selected>Inventory (supply chain stock)</option>
                                        <option value="16">Other Current Assets (prepaid, deposits)</option>
                                        <option value="17">Taxes Receivable</option>
                                    </optgroup>
                                    <optgroup label="Liabilities">
                                        <option value="20">Trade Payables</option>
                                        <option value="21">Other Current Liabilities</option>
                                        <option value="22">Intangible</option>
                                    </optgroup>
                                    <optgroup label="Equity & Reserves">
                                        <option value="30">Share Capital</option>
                                        <option value="31">Capital Reserves</option>
                                        <option value="32">Retained Earnings</option>
                                    </optgroup>
                                    <optgroup label="Revenues / Sales Income">
                                        <option value="40">Domestic Sales</option>
                                        <option value="41">Export Sales</option>
                                        <option value="42">Adjustments & Deductions</option>
                                    </optgroup>
                                    <optgroup label="Operating Expenses">
                                        <option value="50">Cost of Goods Sold</option>
                                        <option value="51">Procurement & Supplier Costs</option>
                                        <option value="52">Logistics & Transportation</option>
                                    </optgroup>
                                    <optgroup label="Overheads & Administrative">
                                        <option value="60">Personnel Costs</option>
                                        <option value="61">Rent & Utilities</option>
                                        <option value="62">IT & Systems</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="d-grid">
                    <ul class="nav chat-thread-tab flex-column list">
                        <li class="nav-item read border-bottom" role="">
                            <a class="nav-link d-flex align-items-center justify-content-center p-2  " data-bs-toggle="tab" data-chat-thread="data-chat-thread" href="#tab-thread-1" role="tab" aria-selected="true">
                                <div class="flex-1 d-sm-none d-xl-block">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h5 class="text-body fw-normal name text-nowrap">1400- Raw Materials</h5>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <p class="fs-9 mb-0 line-clamp-1 text-body-tertiary text-opacity-85 message">Current Assets → Inventory</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item read border-bottom" role="">
                            <a class="nav-link d-flex align-items-center justify-content-center p-2  " data-bs-toggle="tab" data-chat-thread="data-chat-thread" href="#tab-thread-1" role="tab" aria-selected="true">
                                <div class="flex-1 d-sm-none d-xl-block">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h5 class="text-body fw-normal name text-nowrap">1410 Work in Progress</h5>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <p class="fs-9 mb-0 line-clamp-1 text-body-tertiary text-opacity-85 message">Current Assets → Inventory</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item read border-bottom bg-body" role="">
                            <a class="nav-link d-flex align-items-center justify-content-center p-2 " data-bs-toggle="tab" data-chat-thread="data-chat-thread" href="#tab-thread-1" role="tab" aria-selected="true">
                                <div class="flex-1 d-sm-none d-xl-block">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h5 class="text-body fw-normal name text-nowrap">1420 Finished Goods</h5>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <p class="fs-9 mb-0 line-clamp-1 text-body-tertiary text-opacity-85 message">Current Assets → Inventory</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item read border-bottom" role="">
                            <a class="nav-link d-flex align-items-center justify-content-center p-2  " data-bs-toggle="tab" data-chat-thread="data-chat-thread" href="#tab-thread-1" role="tab" aria-selected="true">
                                <div class="flex-1 d-sm-none d-xl-block">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h5 class="text-body fw-normal name text-nowrap">1430 Trading Goods (for resale)</h5>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <p class="fs-9 mb-0 line-clamp-1 text-body-tertiary text-opacity-85 message">Current Assets → Inventory</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item read border-bottom" role="">
                            <a class="nav-link d-flex align-items-center justify-content-center p-2  " data-bs-toggle="tab" data-chat-thread="data-chat-thread" href="#tab-thread-1" role="tab" aria-selected="true">
                                <div class="flex-1 d-sm-none d-xl-block">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h5 class="text-body fw-normal name text-nowrap">1440 Spare Parts</h5>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <p class="fs-9 mb-0 line-clamp-1 text-body-tertiary text-opacity-85 message">Current Assets → Inventory</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item read border-bottom" role="">
                            <a class="nav-link d-flex align-items-center justify-content-center p-2  " data-bs-toggle="tab" data-chat-thread="data-chat-thread" href="#tab-thread-1" role="tab" aria-selected="true">
                                <div class="flex-1 d-sm-none d-xl-block">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h5 class="text-body fw-normal name text-nowrap">1450 RMA Temporary Stock (Returns under inspection)</h5>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <p class="fs-9 mb-0 line-clamp-1 text-body-tertiary text-opacity-85 message">Current Assets → Inventory</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item read border-bottom" role="">
                            <a class="nav-link d-flex align-items-center justify-content-center p-2  " data-bs-toggle="tab" data-chat-thread="data-chat-thread" href="#tab-thread-1" role="tab" aria-selected="true">
                                <div class="flex-1 d-sm-none d-xl-block">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h5 class="text-body fw-normal name text-nowrap">1460 Goods in Transit (between warehouses)</h5>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <p class="fs-9 mb-0 line-clamp-1 text-body-tertiary text-opacity-85 message">Current Assets → Inventory</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="">
                    <table class="table">

                        <tbody>
                            <tr>
                                <td>Finished Goods – Warehouse A</td>
                                <td>142001</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Finished Goods – Warehouse B</td>
                                <td>142002</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">
                                    <form action="" class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="">Name</label>
                                                <input class="form-control" id="" type="email" placeholder="" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="">Code</label>
                                                <input class="form-control" id="" type="email" placeholder="" />
                                            </div>
                                        </div>
                                        <div class="col-12 mb-3">
                                            <div class="row g-3 justify-content-end">
                                                <div class="col-auto">
                                                    <button class="btn btn-primary px-5 px-sm-15">Add</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>