@{
    var activeTab = "OTPSetting";
}

<partial name="~/Views/Shared/AdminsettingsNavs/_NavSystemSettingsPartial.cshtml" model="activeTab" />

<div class="col-12 col-md-12 col-lg-12 ">

    <div class="tab-content mt-3" id="myTabContent4">
        <div class="tab-pane fade show active" id="tab-otpSettings" role="tabpanel" aria-labelledby="otpSettings-tab">
            <div class="col-xl-9">
                <div class="card">
                    <div class="card-body">
                        <div class="border-bottom d-flex align-items-center justify-content-between pb-3 mb-3">
                            <h4>OTP Settings</h4>
                            @* <div class="col-md-4">
                                <select class="form-multi-select" multiple data-coreui-search="true">
                                    <option value="1">CSL</option>
                                    <option value="2">GCTL</option>
                                </select>
                            </div> *@
                        </div>
                        <form id="otpForm" asp-controller="OTPsetting" asp-action="Save" method="post">
                            <div class="border-bottom mb-3">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="row align-items-center">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <h6 class="mb-2 fw-medium">OTP Type </h6>
                                                </div>
                                            </div>
                                            <div class="col-lg-5">
                                                <div class="mb-3">
                                                    <select class="form-select choiceDD" id="OTPTypeId">
                                                        <option>Select one</option>
                                                        <option value="SMS">SMS</option>
                                                        <option value="Email">Email</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row align-items-center">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <h6 class="mb-2 fw-medium">OTP Digit Limit</h6>
                                                </div>
                                            </div>
                                            <div class="col-lg-5">
                                                <div class="mb-3">
                                                    <select class="form-select choiceDD" id="OTPDigitLimitId">
                                                        <option>Select Limit</option>
                                                        <option value="4">4</option>
                                                        <option value="6">6</option>
                                                        <option value="8">8</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row align-items-center">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <h6 class="mb-2 fw-medium">OTP Expire Time</h6>
                                                </div>
                                            </div>
                                            <div class="col-lg-5">
                                                <div class="mb-3">
                                                    <select class="form-select choiceDD" id="OTPExpireInMinId">
                                                        <option>Select Time</option>
                                                        <option value="2">2 Mins</option>
                                                        <option value="5">5 Mins</option>
                                                        <option value="10">10 Mins</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-end">
                                <button type="Reset" class="btn btn-light border me-3">Reset</button>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<partial name="_ConfirmDelete" />

@section Scripts{
    <script src="~/js/pages/adminsettings/systemsettings/otpsettingconfig.js"></script>
}