@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    var mainTab = "MonthlyReport";
    var subTab = "MonthlyReportForAlls";
}

<partial name="~/Views/Shared/AttendenceReportNavs/_attendenceReportMenuTabs.cshtml" model="mainTab" />
<partial name="~/Views/Shared/AttendenceReportNavs/_AttendenceSubMenuReportMonthly.cshtml" model="subTab" />

<div class="tab-pane fade show active" id="tab-monthlyReportForAll" role="tabpanel" aria-labelledby="home-tab">


    <div class="col-sm-12">
        <div class="card mb-3 border-0">
            <div class="card-body">

                <!-- Attendance data view -->
               

                <!-- Data searching -->
                


                <!-- All Employee monthly attendance Table-->
                
                <!-- Leave Explaination-->
                
                <partial name="_monthlyEmployeeAllReportTable" />
            </div>
        </div>
    </div>


</div>

@section Scripts {
   <script src="~/js/pages/attendancemanagement/employeereportall/monthlyreportforall.js"></script>

}
