@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    var mainTab = "MonthlyReport";
    var subTab = "MonthlyReportForAlls";
}

<partial name="~/Views/Shared/AttendenceReportNavs/_attendenceReportMenuTabs.cshtml" model="mainTab" />
<partial name="~/Views/Shared/AttendenceReportNavs/_AttendenceSubMenuReportMonthly.cshtml" model="subTab" />

<div class="tab-pane fade show active" id="tab-monthlyReportForAll" role="tabpanel" aria-labelledby="home-tab">


    <div class="col-sm-12">
        <div class="card mb-3 border-0">
            <div class="card-body">

                <!-- Attendance data view -->
                <div class="border rounded">
                    <div class="row gx-0">

                        <div class="col-md col-sm-4 border-end">
                            <div class="p-3">
                                <span class="fw-medium mb-1 d-block">Present</span>
                                <div class="d-flex align-items-center justify-content-between">
                                    <h5>250</h5>
                                    <span class="badge badge-phoenix badge-phoenix-success">
                                        <i class="ti ti-arrow-wave-right-down me-1"></i>
                                        78 %
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md col-sm-4 border-end">
                            <div class="p-3">
                                <span class="fw-medium mb-1 d-block">Leave</span>
                                <div class="d-flex align-items-center justify-content-between">
                                    <h5>5</h5>
                                    <span class="badge badge-phoenix badge-phoenix-warning">
                                        <i class="ti ti-arrow-wave-right-down me-1"></i>
                                        2 %
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md col-sm-4 border-end">
                            <div class="p-3">
                                <span class="fw-medium mb-1 d-block">Site Visit</span>
                                <div class="d-flex align-items-center justify-content-between">
                                    <h5>10</h5>
                                    <span class="badge badge-phoenix badge-phoenix-success">
                                        <i class="ti ti-arrow-wave-right-down me-1"></i>
                                        06 %
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md col-sm-4">
                            <div class="p-3">
                                <span class="fw-medium mb-1 d-block">Absent</span>
                                <div class="d-flex align-items-center justify-content-between">
                                    <h5>12</h5>
                                    <span class="badge badge-phoenix badge-phoenix-danger">
                                        <i class="ti ti-arrow-wave-right-down me-1"></i>
                                        08 %
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Data searching -->
                


                <!-- All Employee monthly attendance Table-->
                
                <!-- Leave Explaination-->
                
                <partial name="_monthlyEmployeeAllReportTable" />
            </div>
        </div>
    </div>


</div>

@section Scripts {
   <script src="~/js/pages/attendancemanagement/employeereportall/monthlyreportforall.js"></script>
}
