
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="modal fade" id="edit_holiday_setting">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content p-3">
            <div class="modal-header">
                <h4 class="modal-title">Edit Holiday Settings</h4>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="holidayEditForm" asp-controller="HolidaySettings" asp-action="Updates" method="post">
                <div class=" mb-3">

                    <div class="row">
                        <input type="hidden" id="HolidayIDEdit" name="HolidayID" value="" />
                        <div class="col-sm-6 col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Organization</label>
                                <select class="form-select choiceDD" id="OrganizationEditID" asp-items="@ViewBag.OrganizationDD" name="OrganizationID" multiple>
                                    <option value="">Select Organization</option>
                                   
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="HolidayTitle">Holiday Title</label>
                                <input class="form-control" id="HolidayTitleedit" type="text" name="HolidayTitle" placeholder="Holiday Title" required />
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="datepicker">Start Date</label>
                                <input class="form-control datetimepicker flatpickr-input" id="StartDateEdit" type="text" name="StartDate" placeholder="dd/mm/yyyy">
                            </div>
                        </div>



                        <div class="col-sm-6 col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="datepicker">End Date</label>
                                <input class="form-control datetimepicker flatpickr" id="EndDateEdit" type="text" name="EndDate" placeholder="dd/mm/yyyy">
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="TotalDays">Total Day</label>
                                <input class="form-control" id="TotalDaysEdit" type="text" name="TotalDays" placeholder="Total Days" readonly />
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Status</label>
                                <select class="form-select choiceDD" asp-items="@ViewBag.StatusDD" id="StatusEditID" name="StatusID">
                                    <option value="">Select Holiday Status</option>
                                    
                                </select>
                            </div>
                        </div>


                        <div class="col-sm-12 col-md-12">
                            <div class="mb-3">
                                <label class="form-label" for="HolidayDescription">Holiday Description</label>
                                <textarea class="form-control" name="HolidayDescription" id="HolidayDescriptionEdit" rows="3"></textarea>
                            </div>
                        </div>


                    </div>
                </div>


                <div class="d-flex align-items-center justify-content-end">
                    <button type="reset" class="btn btn-outline-secondary  me-2">Reset</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

