@{
    var mainTab = "CompanySetting";
    var subTab = "HolidaySettings";
}

<partial name="~/Views/Shared/AdminsettingsNavs/CompanySettingsNavs/_MainSettingsTabPartial.cshtml" model="mainTab" />
<partial name="~/Views/Shared/AdminsettingsNavs/CompanySettingsNavs/_NavCompanySettingsPartial.cshtml" model="subTab" />

<div class="col-xl-12 mt-3">
    <div class="card mb-4">
        <div class="card-body">
            <div class="border-bottom mb-3 pb-3">
                <h4>Holiday Settings</h4>
            </div>
            <form id="holidayForm" asp-controller="HolidaySettings" asp-action="Create" method="post" >
                <div class=" mb-3">

                    <div class="row">

                        <div class="col-sm-6 col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Organization</label>
                                <select class="form-select choiceDD" id="OrganizationID" name="OrganizationID" multiple>
                                    <option value="">Select Organization</option>
                                    @foreach (var org in ViewBag.Organizations)
                                    {
                                        <option value="@org.Value">@org.Text</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="exampleFormControlInput">Holiday Title</label>
                                <input class="form-control" id="exampleFormControlInput" type="text" name="HolidayTitle" placeholder="Holiday Title" required />
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="datepicker">Start Date</label>
                                <input class="form-control datetimepicker flatpickr-input" id="StartDate" type="text" name="StartDate" placeholder="dd/mm/yyyy">
                            </div>
                        </div>
                        


                        <div class="col-sm-6 col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="datepicker">End Date</label>
                                <input class="form-control datetimepicker flatpickr" id="EndDate" type="text" name="EndDate" placeholder="dd/mm/yyyy">
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="exampleFormControlInput">Total Day</label>
                                <input class="form-control" id="TotalDays" type="text" name="TotalDays" placeholder="Total Days" readonly />
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Status</label>
                                <select class="form-select choiceDD" id="StatusID" name="StatusID">
                                    <option value="">Select Holiday Status</option>
                                    @foreach (var status in ViewBag.HolidayStatuses)
                                    {
                                        <option value="@status.Value">@status.Text</option>
                                    }
                                </select>
                            </div>
                        </div>


                        <div class="col-sm-12 col-md-12">
                            <div class="mb-3">
                                <label class="form-label" for="exampleFormControlInput">Holiday Description</label>
                                <textarea class="form-control" name="HolidayDescription" rows="3"></textarea>
                            </div>
                        </div>


                    </div>
                </div>


                <div class="d-flex align-items-center justify-content-end">
                    <button type="reset" class="btn btn-outline-secondary  me-2">Reset</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>

        </div>
    </div>

    
</div>

<partial name="_HolidaysListTable" />
<partial name="_editHolidaysSettings" />
<partial name="_ConfirmDelete" />

@section Scripts {
    <script src="~/js/pages/adminsettings/organizationsettings/holidaysettings.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}