<!-- Modal for Confirming Permission Change -->
<div class="modal fade" id="confirmPermissionChangeModal" tabindex="-1" aria-labelledby="confirmPermissionChangeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <span class="avatar avatar-xl bg-transparent-warning mb-3" style="color: #ffc107;">
                    <i class="fa fa-exclamation-circle fs-5"></i>
                </span>
                <h4 class="modal-title" style="color: #ffc107;">Confirm Permission Change</h4>
                <p class="mb-3">Are you sure you want to save the changes to these permissions?</p>
                <div class="d-flex justify-content-center">
                    <a href="javascript:void(0);" class="btn btn-light me-3" data-bs-dismiss="modal">Cancel</a>
                    <a class="btn btn-warning" id="confirmChangePermissionsBtn">Yes, Save Changes</a>
                </div>
            </div>
        </div>
    </div>
</div>

