<div class="modal fade" id="createUserModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <span class="avatar avatar-xl bg-transparent-warning mb-3" style="color: #ffc107;">
                    <i class="fa fa-exclamation-circle fs-5"></i>
                </span>
                <h4 class="modal-title" style="color: #ffc107;">No User Found</h4>
                <p class="mb-3">This employee does not have a user account. Do you want to create one?</p>
                <div class="d-flex justify-content-center">
                    <a href="javascript:void(0);" class="btn btn-light me-3" data-bs-dismiss="modal">No</a>
                    <a class="btn btn-warning" id="confirmCreateUserBtn">Yes, Create</a>
                </div>
            </div>
        </div>
    </div>
</div>
