<div class="modal fade" id="missingEmailModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <span class="avatar avatar-xl bg-transparent-warning mb-3" style="color: #ffc107;">
                    <i class="fa fa-envelope fs-5"></i>
                </span>
                <h4 class="modal-title" style="color: #ffc107;">Email Required</h4>
                <p class="mb-3">This employee has a user account but no email address. Please update the email in the Employee module before assigning roles.</p>
                <div class="d-flex justify-content-center">
                    <a href="javascript:void(0);" class="btn btn-warning" data-bs-dismiss="modal">OK</a>
                </div>
            </div>
        </div>
    </div>
</div>
