@model GCTL.Core.ViewModels.AttendanceManagement.LeaveManagements.LeaveApprovalDecline.LeaveApplicationApprovalModifyVM


<form  id="LeaveRequestUpdatedForm">
    <div class="modal-body pb-0">
        <div class="row">
            <div class="col-md-12">
                <input asp-for="LeaveApplicationID" type="hidden" />
                <div class="mb-3">

                    <label class="form-label req" for="organizerSingle">Name</label>
                    <select class="form-select choiceDD" asp-for="EmployeeIDEdit" required>
                        <option value="">Select Employee</option>
                    </select>
                    <span asp-validation-for="EmployeeIDEdit" class="text-danger small"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label req">Leave Type</label>
                    <select class="form-select choiceDD" asp-for="LeaveTypeIDEdit" required asp-items="@ViewBag.LeaveTypeDD as SelectList">
                        <option value="">Select Leave</option>
                    </select>
                    <span asp-validation-for="LeaveTypeIDEdit" class="text-danger small"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label">Available No of Days</label>
                    <input type="text" class="form-control" id="AvailableLeaveDays" disabled>
                </div>
            </div>

            <div class="d-flex col-md-6" id="IsFullDaySection">
                <div class="form-check me-3" id="FullDayRadioWrapper">
                    <input class="form-check-input" type="radio" asp-for="IsFullDayEdit" id="option1" value="true" checked>
                    <label class="form-check-label" for="option1">Full Day</label>
                </div>

                <div class="form-check" id="PartialDayRadioWrapper">
                    <input class="form-check-input" type="radio" asp-for="IsFullDayEdit" id="option2" value="false">
                    <label class="form-check-label" for="option2">Partial Day</label>
                </div>
            </div>

            <!-- Full Day Section -->
            <div id="FullDayDivEdit">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3 flatpickr-input-container">
                            <label class="form-label req">From</label>
                            <div class="input-icon-end position-relative flatpickr">
                                <input type="text" asp-for="FromDateEdit" id="FromDate" class="form-control datetimepicker" required placeholder="dd/mm/yyyy">
                                <span class="uil uil-calendar-alt position-absolute top-50 end-0 translate-middle-y me-3 text-body-tertiary"></span>
                                <span asp-validation-for="FromDateEdit" class="text-danger small"></span>
                            </div>
                            <span id="FromDateError" class="text-danger small"></span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label req">To</label>
                            <div class="input-icon-end position-relative">
                                <input type="text" asp-for="ToDateEdit" id="ToDate" class="form-control datetimepicker" required placeholder="dd/mm/yyyy">
                                <span class="uil uil-calendar-alt position-absolute top-50 end-0 translate-middle-y me-3 text-body-tertiary"></span>
                                <span asp-validation-for="ToDateEdit" class="text-danger small"></span>
                            </div>
                            <span id="ToDateError" class="text-danger small"></span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label">Subsequent Holiday Days</label>
                            <input type="text" id="SubsequentHolydayDays" class="form-control" disabled>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label">Total Applied Days</label>
                            <input type="text" id="TotalAppliedDays" class="form-control" readonly >
                        </div>
                    </div>
                </div>
            </div>

            <!-- Partial Day Section -->
            <div id="PartialDayDivEdit" class="mt-4 d-none">
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label req">Date</label>
                            <div class="input-icon-end position-relative">
                                <input type="text" class="form-control datetimepicker" id="ToDateFromDateCombinedEdit" asp-for="ToDateFromDateCombinedEdit" required placeholder="dd/mm/yyyy">
                                <span class="uil uil-calendar-alt position-absolute top-50 end-0 translate-middle-y me-3 text-body-tertiary"></span>
                                <span asp-validation-for="ToDateFromDateCombinedEdit" class="text-danger small"></span>
                            </div>
                            <span id="ToDateFromDateCombinedError" class="text-danger small"></span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label req">Start Time</label>
                            <input class="form-control datetimepicker" asp-for="PartialFromTimeEdit" type="text" placeholder="hour : minute" data-options='{"enableTime":true,"noCalendar":true,"dateFormat":"H:i","disableMobile":true}' />
                            <span asp-validation-for="PartialFromTimeEdit" class="text-danger small"></span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label req">End Time</label>
                            <input class="form-control datetimepicker" asp-for="PartialToTimeEdit" type="text" placeholder="hour : minute" data-options='{"enableTime":true,"noCalendar":true,"dateFormat":"H:i","disableMobile":true}' />
                            <span asp-validation-for="PartialToTimeEdit" class="text-danger small"></span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Reason -->
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label">Reason</label>
                    <textarea asp-for="ReasonEdit" class="form-control" rows="2"   disabled></textarea>
                </div>
            </div>

            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label">Note</label>
                    <textarea id="ApprovalNote" class="form-control" rows="2" placeholder="Note"></textarea>
                </div>
            </div>

        </div>

    </div>

 

   @*  <div class="d-flex justify-content-end gap-2 mt-1 mb-2 me-3">
        <div class="mb-2 col-4">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="ApprovalStatus" id="approveRadio" value="true">
                <label class="form-check-label" for="approveRadio">Approve</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="ApprovalStatus" id="declineRadio" value="false">
                <label class="form-check-label" for="declineRadio">Decline</label>
            </div>
        </div>
        <button id="ApplyLeaveSubmitButtonApproval" class="btn btn-primary">Approved</button>
    </div> *@

    <div class="d-flex justify-content-end align-items-center gap-3 mt-1 mb-2 me-3">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="ApprovalStatus" id="approveRadio" value="true">
            <label class="form-check-label" for="approveRadio">Approve</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="ApprovalStatus" id="declineRadio" value="false">
            <label class="form-check-label" for="declineRadio">Decline</label>
        </div>

        <button id="ApplyLeaveSubmitButtonApproval" class="btn btn-primary">Approved</button>
    </div>


</form>


