@model GCTL_App.ViewModels.AttendanceManagement.LeaveManagements.LeaveApproval.LeaveApprovalPageVM
<!-- Add Leaves -->

<!-- /Add Leaves -->
<!-- Edit Leaves -->
<div class="modal fade" id="edit_leaves">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Modify Leave</h4>
                <button type="button" class="btn-close mdlClose custom-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @await Html.PartialAsync("_EditLeaveApproval", Model.Setup)
           
        </div>
    </div>
</div>


<partial name="_BreadCrumPage"/>

<!-- /Breadcrumb -->

@* <div class="row" style="">

    <!-- Leaves Info Dispaly-->
    <partial name="_LaeveDisplay" />
   
 
</div> *@

<div class="mb-2">
    <partial name="_LeaveApprovalTableList" />

</div>


<div class="mb-2">

    <partial name="_LeaveListTable" />

</div>




<partial name="_ConfirmDelete" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/pages/attendancemanagement/leavemanagements/leaverequest/LeaveApprovalDecline.js"></script>

}

