<div class="row">
    <div class="row align-items-center justify-content-between g-3 mb-4">
        <div class="col-12 col-md-auto">
            <ul class="nav nav-underline fs-9" id="adminAttendanceReport" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="shift-tab" href="/DailyReport/Index" role="tab" aria-controls="tab-home" aria-selected="true">
                        <span class="fa-solid far fa-address-card me-2 tab-icon-color"></span>Daily Report
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="roster-tab" href="/MonthlyReport/Index" role="tab" aria-controls="tab-profile" aria-selected="false">
                        <span class="fa-solid far fa-calendar-alt me-2 tab-icon-color"></span>Monthly Report
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="roster-tab" href="/YearlyReport/Index" role="tab" aria-controls="tab-profile" aria-selected="false">
                        <span class="fa-solid far fa-calendar-alt me-2 tab-icon-color"></span>Yearly Report
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="roster-tab" href="/MovementReport/Index" role="tab" aria-controls="tab-profile" aria-selected="false">
                        <span class="fa-solid far fa-calendar-alt me-2 tab-icon-color"></span>Movement Report
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="roster-tab" href="/AvailabilityReport/Index" role="tab" aria-controls="tab-profile" aria-selected="false">
                        <span class="fa-solid far fa-calendar-alt me-2 tab-icon-color"></span>Availability Report
                    </a>
                </li>

            </ul>

            <div class="tab-content mt-3" id="adminAttendanceReportContent">

            </div>
        </div>
    </div>
</div>