﻿@* <!-- Modal HTML -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <a class="btn btn-danger" href="#!"><span><i class="fas fa-trash"></i></span></a>
                <h5 class="modal-title" style="color: red;">Are you sure you want to delete?</h5>
                <p>This action cannot be undone.</p>
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Yes</button>
            </div>
        </div>
    </div>
</div> *@
<div class="modal fade" id="confirmResetModal" tabindex="-1" aria-labelledby="confirmResetModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <span class="avatar avatar-xl bg-transparent-warning mb-3" style="color: orange;">
                    <i class="fa fa-key fs-5"></i>
                </span>
                <h4 class="modal-title" style="color: orange;">Are you sure you want to reset the password?</h4>
                <p class="mb-3">The user will be forced to set a default password(##Emp123%).</p>
                <div class="d-flex justify-content-center">
                    <a href="javascript:void(0);" class="btn btn-light me-3" data-bs-dismiss="modal">Cancel</a>
                    <button class="btn btn-warning" id="confirmResetBtn">Yes, Reset</button>
                </div>
            </div>
        </div>
    </div>
</div>
