@model GCTL_App.ViewModels.AttendanceManagement.ScheduleManagement.AssignDefaultShift.AssignDefaultShiftPageVM

@{
    var employees = ViewBag.EmployeeList as List<GCTL.Core.ViewModels.AttendanceManagement.ScheduleManagement.AssignDefaultShift.AssignDefaultShiftSetupVM>;
}

<div class="mb-5 mt-4">
    <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between flex-wrap row-gap-3 mb-4">
            <h4 class="mb-1">Assign Default Shift</h4>
        </div>
        <div class="card-body">
            <div class="d-flex my-xl-auto right-content align-items-center flex-wrap row-gap-3">
                <partial name="_Form" model="Model.Setup" />
            </div>

            
        </div>
    </div>
</div>

<partial name="_Table" />

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/pages/attendancemanagement/schedulemanagement/assigndefaultshift.js"></script>
    <script>
        $(function () {
            var options = {
                baseUrl: '@Url.Action("", "AssignDefaultShift")'
            };
            options.load = () => { };
            $.assigndefaultshift(options);
        });
    </script>
}