@model GCTL_App.ViewModels.AttendanceManagement.ScheduleManagement.EmployeeShiftView.EmployeeShiftViewPageView

<style>

    #hiddenDiv {
        display: none; /* Initially hidden */
    }

    #div2 {
        display: none;
    }

    .disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    .table-container-dif-days {
        display: none; /* Hide all tables by default */
    }

</style>

<!-- Delete Modal -->
<div class="modal fade" id="delete_modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <span class="avatar avatar-xl bg-transparent-danger text-danger mb-1">
                    <i class="fa fa-trash fs-5"></i>
                </span>
                <h4 class="mb-1">Confirm Delete</h4>
                <p class="mb-3">You want to delete all the marked items, this cant be undone once you delete.</p>
                <div class="d-flex justify-content-center">
                    <a href="javascript:void(0);" class="btn btn-light me-3" data-bs-dismiss="modal">Cancel</a>
                    <a href="shift-roster-ui.html" class="btn btn-danger">Yes, Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Modal -->

<div class="mb-9 mt-4">
    <div class="card">
        <div class="container mt-4">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h3>Employee Shift View</h3>
            </div>

            <partial name="_Table" model="Model.List" />
            
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/pages/attendancemanagement/schedulemanagement/employeeshiftview.js"></script>
    <script type="text/javascript">
        $(function () {
            var options = {
                baseUrl: '@Url.Action("", "EmployeeShiftView")'
            };
            options.load = () => {

            };

            $.employeeshiftview(options);
        });
    </script>
}