<nav class="mb-3" aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="#!">Page 1</a></li>
        <li class="breadcrumb-item"><a href="#!">Page 2</a></li>
        <li class="breadcrumb-item active">Default</li>
    </ol>
</nav>
<h3>Advanced Approval</h3>

<div class="card my-4">

    <div class="card-header mb-4">

        <div class="d-flex my-xl-auto right-content align-items-center flex-wrap row-gap-3">

            <div class="dropdown me-2">
                <select class="form-select" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                    <option value="">Select Company...</option>
                    <option>CSL</option>
                    <option>GCTL</option>
                </select>
            </div>

            <div class="dropdown me-2">
                <select class="form-select" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                    <option value="">Select Status</option>
                    <option>New</option>
                    <option>Approved</option>
                    <option>Declain</option>
                </select>
            </div>

            <div class="dropdown me-2">
                <select class="form-select" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                    <option value="">Select Project</option>
                    <option>Project 1</option>
                    <option>Project 2</option>
                    <option>Project 3</option>
                </select>
            </div>

        </div>

    </div>

    <div class="border-translucent p-3">
        <div id="employeeListTable" data-list='{"valueNames":["empId","empName","helthInsurance","providantFund","fastivalBonus","performanceBonus","yearEndBonus","leaveEncashment"],"page":5,"pagination":true}'>

            <div class="table-responsive scrollbar mx-n1 px-1">
                <table class="table table-sm fs-9 leads-table">
                    <thead>
                        <tr>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="empId">Receiving <br> Employee</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="empName">Client Name</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="empDept">Project Name</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="empDept">Project Type</th>

                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="empBonus">Persons</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="paySlip"> Date</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="empSalary">Advanced <br>Ammount</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="netSalary">Approved <br>Amount</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="empDeduction">Status</th>
                            <th class="sort text-end align-middle pe-0 ps-5" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="list" id="purchasers-sellers-body">
                        <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                            <td class="empId align-middle white-space-nowrap ps-5 fw-semibold text-body py-1">
                                <span>Hasan Mahmud</span>
                            </td>
                            <td class="empName align-middle white-space-nowrap fw-semibold text-body-emphasis ps-4 py-1">
                                <div class="d-flex align-items-center position-relative">
                                    <div class="avatar avatar-m me-3">
                                        <img class="rounded-circle avatar-placeholder" src="../../assets/img/team/avatar.webp" alt="" />
                                    </div><a class="text-body-highlight fw-bold stretched-link" href="#!">Hasan Ali</a>
                                </div>
                            </td>
                            <td class="empDept align-middle white-space-nowrap ps-4 fw-semibold text-body py-1">Project 4</td>
                            <td class="empDept align-middle white-space-nowrap ps-4 fw-semibold text-body py-1">Service</td>
                            <td class="empBonus align-middle white-space-nowrap ps-4 fw-semibold text-body py-1">
                                <div class="avatar-group mb-4 mt-3">
                                    <div class="avatar avatar-s ">
                                        <img class="rounded-circle " src="../../assets/img/team/30.webp" alt="" />
                                    </div>
                                    <div class="avatar avatar-s ">
                                        <img class="rounded-circle " src="../../assets/img/team/57.webp" alt="" />
                                    </div>
                                    <div class="avatar avatar-s ">
                                        <img class="rounded-circle " src="../../assets/img/team/25.webp" alt="" />
                                    </div>
                                </div>
                            </td>
                            <td class="paySlip align-middle white-space-nowrap ps-4 fw-semibold text-body py-1">24 Aug, 25  - 29 Aug, 25</td>

                            <td class="netSalary align-middle white-space-nowrap ps-4 fw-semibold text-body py-1">5000</td>
                            <td class="empSalary align-middle white-space-nowrap ps-4 fw-semibold text-body py-1">
                                <input class="form-control" id="" type="number" placeholder="4000" style="width: 80px;" />
                            </td>

                            <td class="empDeduction align-middle white-space-nowrap ps-4 fw-semibold text-body py-1">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected="">New</option>
                                    <option value="1">Approved</option>
                                    <option value="2">Decline</option>
                                </select>
                            </td>

                            <td class="align-middle white-space-nowrap text-end pe-0 ps-4">
                                <div class="btn-reveal-trigger position-static">
                                    <a href="#" class="nav-item mx-2">
                                        <i class="fas fa-check-square text-success"></i>
                                    </a>
                                </div>
                            </td>

                        </tr>



                    </tbody>
                </table>
            </div>

            <div class="row align-items-center justify-content-between pe-0 fs-9">
                <div class="col-auto d-flex">
                    <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p><a class="fw-semibold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semibold d-none" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                </div>
                <div class="col-auto d-flex">
                    <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                    <ul class="mb-0 pagination"></ul>
                    <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
                </div>
            </div>

        </div>
    </div>

</div>


<h3>Advanced Approval History</h3>

<div class="card mt-4">

    <div class="card-header mb-4">

        <div class="d-flex my-xl-auto right-content align-items-center flex-wrap row-gap-3">

            <div class="dropdown me-2">
                <select class="form-select" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                    <option value="">Select Company...</option>
                    <option>CSL</option>
                    <option>GCTL</option>
                </select>
            </div>

            <div class="dropdown me-2">
                <select class="form-select" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                    <option value="">Select Status</option>
                    <option>New</option>
                    <option>Approved</option>
                    <option>Declain</option>
                </select>
            </div>

            <div class="dropdown me-2">
                <select class="form-select" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                    <option value="">Select Project</option>
                    <option>Project 1</option>
                    <option>Project 2</option>
                    <option>Project 3</option>
                </select>
            </div>

        </div>

    </div>

    <div class="border-translucent p-3">
        <div id="employeeListTable2" data-list='{"valueNames":["empId","empName","helthInsurance","providantFund","fastivalBonus","performanceBonus","yearEndBonus","leaveEncashment"],"page":5,"pagination":true}'>

            <div class="table-responsive scrollbar mx-n1 px-1">
                <table class="table table-sm fs-9 leads-table">
                    <thead>
                        <tr>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="empId">Receiving <br> Employee</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="empName">Client Name</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="empDept">Project Name</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="empDept">Project Type</th>

                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="empBonus">Persons</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="paySlip"> Approval Date</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="empSalary">Advanced <br>Ammount</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="netSalary">Approved <br>Amount</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="empDeduction">Status</th>
                            <th class="sort text-end align-middle pe-0 ps-5" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="list" id="purchasers-sellers-body">
                        <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                            <td class="empId align-middle white-space-nowrap ps-5 fw-semibold text-body py-1">
                                <span>Hasan Mahmud</span>
                            </td>
                            <td class="empName align-middle white-space-nowrap fw-semibold text-body-emphasis ps-4 py-1">
                                <div class="d-flex align-items-center position-relative">
                                    <div class="avatar avatar-m me-3">
                                        <img class="rounded-circle avatar-placeholder" src="../../assets/img/team/avatar.webp" alt="" />
                                    </div><a class="text-body-highlight fw-bold stretched-link" href="#!">Hasan Ali</a>
                                </div>
                            </td>
                            <td class="empDept align-middle white-space-nowrap ps-4 fw-semibold text-body py-1">Project 4</td>
                            <td class="empDept align-middle white-space-nowrap ps-4 fw-semibold text-body py-1">Service</td>
                            <td class="empBonus align-middle white-space-nowrap ps-4 fw-semibold text-body py-1">
                                <div class="avatar-group mb-4 mt-3">
                                    <div class="avatar avatar-s ">
                                        <img class="rounded-circle " src="../../assets/img/team/30.webp" alt="" />
                                    </div>
                                    <div class="avatar avatar-s ">
                                        <img class="rounded-circle " src="../../assets/img/team/57.webp" alt="" />
                                    </div>
                                    <div class="avatar avatar-s ">
                                        <img class="rounded-circle " src="../../assets/img/team/25.webp" alt="" />
                                    </div>
                                </div>
                            </td>
                            <td class="paySlip align-middle white-space-nowrap ps-4 fw-semibold text-body py-1">30 Aug, 25</td>

                            <td class="netSalary align-middle white-space-nowrap ps-4 fw-semibold text-body py-1">5000</td>
                            <td class="netSalary align-middle white-space-nowrap ps-4 fw-semibold text-body py-1">4000</td>

                            <td class="empDeduction align-middle white-space-nowrap ps-4 fw-semibold text-body py-1">
                                <span class="badge badge-phoenix badge-phoenix-success">Approved</span>
                            </td>

                            <td class="align-middle white-space-nowrap text-end pe-0 ps-4">
                                <div class="btn-reveal-trigger position-static">
                                    <a href="#!"
                                       class="btn btn-phoenix-danger btn-icon me-1 fs-10 text-body px-0 bloodGroup-bulkDelete"
                                       title="Delete">
                                        <i class="fa-regular fa-trash-can text-black"></i></a>
                                </div>
                            </td>

                        </tr>



                    </tbody>
                </table>
            </div>

            <div class="row align-items-center justify-content-between pe-0 fs-9">
                <div class="col-auto d-flex">
                    <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p><a class="fw-semibold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semibold d-none" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                </div>
                <div class="col-auto d-flex">
                    <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                    <ul class="mb-0 pagination"></ul>
                    <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
                </div>
            </div>

        </div>
    </div>

</div>