


@model GCTL.Core.ViewModels.FieldServices.ApprovalGetALLVM
<h3>Advanced Approval</h3>

<div class="card my-4">

    <div class="card-header mb-4">

        <div class="d-flex my-xl-auto right-content align-items-center flex-wrap row-gap-3">

            <div class="dropdown me-2">
                <select class="form-select" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                    <option value="">Select Company...</option>
                    <option>CSL</option>
                    <option>GCTL</option>
                </select>
            </div>

            <div class="dropdown me-2">
                <select class="form-select" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                    <option value="">Select Status</option>
                    <option>New</option>
                    <option>Approved</option>
                    <option>Declain</option>
                </select>
            </div>

            <div class="dropdown me-2">
                <select class="form-select" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                    <option value="">Select Project</option>
                    <option>Project 1</option>
                    <option>Project 2</option>
                    <option>Project 3</option>
                </select>
            </div>

        </div>

    </div>

    <div class="border-translucent p-3">
        <div id="employeeListTable" data-list='{"valueNames":["empId","empName","helthInsurance","providantFund","fastivalBonus","performanceBonus","yearEndBonus","leaveEncashment"],"page":5,"pagination":true}'>

            <div class="table-responsive scrollbar mx-n1 px-1">
                <table class="table table-sm fs-9 leads-table">
                    <thead>
                        <tr>
                            <th class="pe-5 align-start" scope="col" style="width: 5%;">
                                <input type="checkbox" class="form-check-input addEmpCheck-selectedItem" id="empAdvanced-check-all" />
                            </th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="empId">Receiving Employee</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="empName">Client Name</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="empProjectName">Project Name</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="empProjectType">Project Type</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="empSalary">Advanced <br> Ammount</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="empGroupName">Other Members</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="empStatus">Status</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="empapprovedName">Approved <br> Person</th>
                            <th class="sort align-middle ps-5 pe-5 text-uppercase text-nowrap" scope="col" data-sort="empDate">Date</th>
                            <th class="align-middle white-space-nowrap ps-5 text-uppercase" scope="col" style="width:5%;">@Html.SmartLocalize("Action")</th>
                        </tr>
                    </thead>
                    <tbody id="empApproval-tBody">
                    </tbody>
                </table>
            </div>

            <div class="row align-items-center justify-content-between pe-0 fs-9">
                <div class="col-auto d-flex">
                    <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p><a class="fw-semibold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semibold d-none" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                </div>
                <div class="col-auto d-flex">
                    <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                    <ul class="mb-0 pagination"></ul>
                    <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
                </div>
            </div>

        </div>
    </div>

</div>


<h3>Advanced Approval History</h3>

<div class="card mt-4">

    <div class="card-header mb-4">

        <div class="d-flex my-xl-auto right-content align-items-center flex-wrap row-gap-3">

            <div class="dropdown me-2">
                <select class="form-select" id="organizerSingle" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                    <option value="">Select Company...</option>
                    <option>CSL</option>
                    <option>GCTL</option>
                </select>
            </div>

            <div class="dropdown me-2">
                <select class="form-select" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                    <option value="">Select Status</option>
                    <option>New</option>
                    <option>Approved</option>
                    <option>Declain</option>
                </select>
            </div>

            <div class="dropdown me-2">
                <select class="form-select" data-choices="data-choices" data-options='{"removeItemButton":true,"placeholder":true}'>
                    <option value="">Select Project</option>
                    <option>Project 1</option>
                    <option>Project 2</option>
                    <option>Project 3</option>
                </select>
            </div>

        </div>

    </div>

    <div class="border-translucent p-3">
        <div id="employeeListTable2" data-list='{"valueNames":["empId","empName","helthInsurance","providantFund","fastivalBonus","performanceBonus","yearEndBonus","leaveEncashment"],"page":5,"pagination":true}'>

            <div class="table-responsive scrollbar mx-n1 px-1">
                <table class="table table-sm fs-9 leads-table">
                    <thead>
                        <tr>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="empId">Receiving Employee</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="empName">Client Name</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="empProjectName">Project Name</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="empProjectType">Project Type</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="empDate"> Approval Date</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="empSalary">Advanced <br>Ammount</th>
                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="empStatus">Status</th>
                            <th class="sort text-end align-middle pe-0 ps-5" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="list" id="advancedApproval2-tbody">
                    </tbody>
                </table>
            </div>

            <div class="row align-items-center justify-content-between pe-0 fs-9">
                <div class="col-auto d-flex">
                    <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p><a class="fw-semibold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semibold d-none" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                </div>
                <div class="col-auto d-flex">
                    <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                    <ul class="mb-0 pagination"></ul>
                    <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
                </div>
            </div>

        </div>
    </div>

</div>

<!--Modal-->

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editCenteredModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editCenteredModalLabel">Advanced Approval</h5>
            </div>
            <div class="modal-body">
                <p class="text-body-tertiary text-success lh-lg mb-0 text-center fs-8">Transfer to Approval?</p>
            </div>
            <div class="d-flex  justify-content-center mt-3">
                <button class="btn btn-primary justify-content-center ps-4"type="button"data-bs-dismiss="modal">Approved</button>
                <div>
                    <button class="btn btn-secondary justify-content-center ps-4" type="button" data-bs-dismiss="modal">Decline</button>
                </div>
              
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
	<script src="~/js/pages/fieldservices/advancedapproval.js">
    </script>


}